* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #004b8d;
    text-decoration: none;
}
ul {
   list-style-type: none;
}
body {
   font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
   background: #f9f9f9;
}

/** ====================
* List of Comments
=======================*/
.comments-container {
   margin: 60px auto 15px;
   width: 768px;
}
.comments-container h1 {
   font-size: 36px;
   color: #2a292a;
   font-weight: 400;
}
.comments-container h1 a {
   font-size: 18px;
   font-weight: 700;
}
.comments-list, .reply-list {
   margin-top: 30px;
   position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

.reply-list {
   padding-left: 88px;
   clear: both;
   margin-top: 1px;
}
.reply-list li {
   margin-bottom: 0;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
   width: 50px;
   height: 50px;
   position: relative;
   z-index: 99;
   float: left;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   overflow: hidden;
}
.comments-list .comment-avatar img, .reply-list .reply-avatar img {
   width: 100%;
   height: 100%;
}

.reply-list .reply-avatar {
   width: 20px;
   height: 20px;
   margin-right: 6px;
   position: relative;
   z-index: 99;
   float: left;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   overflow: hidden;
}

.comment-main-level:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
   clear: both;
}
/**
* Comment Box
---------------------------*/
.comments-list .comment-box {
   width: 700px;
   float: right;
   position: relative;
   padding: 12px;
   box-sizing: border-box;
   background-color: #ffffff;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   border-radius: 4px;
}
.comment-box .more{
   visibility: hidden;
   opacity: 0;
}
.comment-box:hover .more{
   visibility: visible;
   opacity: 1;
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #ffffff;
   top: 8px;
   left: -11px;
}

.comments-list .comment-box:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
}

.reply-list {
   width: 700px;
   float: right;
   position: relative;
   padding: 6px 12px;
   box-sizing: border-box;
   background-color: #ffffff;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   border-radius: 4px;
}
.reply-list .reply-box {
   padding: 6px 0;
   width: 100%;
}
.reply-box .more{
   visibility: hidden;
   opacity: 0;
}
.reply-box:hover .more{
   visibility: visible;
   opacity: 1;
}

.comment-box .comment-head {
   background: #ffffff;
   overflow: hidden;
   padding-bottom: 12px;
}
.reply-box .reply-head {
   background: #ffffff;
   overflow: hidden;
}

.comment-box .comment-head i, .reply-box .reply-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

.comment-box .comment-head i:hover, .reply-box .reply-head i:hover {
   color: #004b8d;
}

.comment-box .comment-name {
   color: #2a292a;
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}
.reply-box .reply-name {
   color: #2a292a;
   font-size: 12px;
   line-height: 20px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.comment-box .comment-name a, .reply-box .reply-name a {
   color: #2a292a;
}

.comment-box .comment-head span, .reply-box .reply-head span {
   float: left;
   color: #999;
   font-size: 13px;
   position: relative;
   top: 1px;
}

.comment-box .more, .reply-box .more {
   align-items: center;
   display: flex;
   width: 26px;
   height: 16px;
   justify-content: center;
   float: right;
}
.comment-box .more:hover, .reply-box .more:hover {
   opacity: 0.7;
   cursor: pointer;
}
.more_icon {
   display: flex;
}
.dot {
   width: 4px;
   height: 4px;
   margin: 0 1px;
   border-radius: 50%;
   background-color: #2a292a;
}

.comment-box .comment-content, .reply-box .reply-content {
   background: #FFF;
   font-size: 12px;
   line-height: 18px;
   color: #535353;
}
.reply-box .reply-content {
   margin-left: 26px;
}

.comment-box .comment-foot {
   background: #ffffff;
   overflow: hidden;
}

.re-comment {
   float: left;
   padding-top: 6px;
   opacity: 0.7;
}
.re-comment:hover {
   opacity: 1;
   cursor: pointer;
}
.re-comment-icon {
   width: 14px;
   height: 10px;
   display: inline-block;
   position: relative;
   background: #2a292a;
   border-radius: 2px;
             -moz-border-radius: 2px;
             -webkit-border-radius: 2px;
   border-bottom-left-radius: 0;
             -moz-border-bottom-left-radius: 0;
           -webkit-border-bottom-left-radius: 0;
   box-sizing: border-box;
}
.re-comment-icon:before {
   content: '';
   position: absolute;
   border: 1px solid;
   border-color: #2a292a transparent transparent #2a292a;
   top: 100%;
   left: 0;
}
.re-comment-count {
   font-size: 12px;
   font-weight: 700;
}

.input_reply_container {
   width: 100%;
   margin: 6px 0;
}
.input_reply {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
   background-color: #f9f9f9;
   border: 0;
   border-radius: 4px;
   padding: 6px;
   font-size: 12px;
   position: relative;
   outline: 0;
   resize: none;
}
.reply_button {
   position: absolute;
   width: 50px;
   height: 27px;
   right: 0;
   top: 0;
   border-radius: 0 4px 4px 0;
   border: 0;
   border-left: 2px solid #fff;
   background-color: transparent;
   color: #c6c6c6;
   cursor: pointer;
   text-decoration: none;
}
.reply_button:hover {
   background-color: #2a292a;
   color: #fff;
}

/** =====================
* more_option
========================*/
.more_option_me {
    display: none;    
    position: absolute;
    width: 80px;
    height: 25px;
    background-color: #2a292a;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1;
    right: 6px;
    top: -16px;
}
.more_option_me .more_option_triangle {
    content: "";
    position: absolute;
    top: 100%;
    left: 38%;
    border-width: 5px;
    border-style: solid;
    border-color: #2a292a transparent transparent transparent;
}
.more_option_modify {
    position: absolute;
    width: 50%;
    height: 25px;
    left: 0;
    top: 0;
    border-radius: 4px 0 0 4px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.more_option_delete {
    position: absolute;
    width: 50%;
    height: 25px;
    right: 0;
    top: 0;
    border-left: 1px solid #fff;
    border-radius: 0 4px 4px 0;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.more_option_delete:hover .more_option_triangle, .more_option_accuse:hover .more_option_triangle {
    border-color: #999999 transparent transparent transparent;
}
.more_option_modify:hover, .more_option_delete:hover, .more_option_accuse:hover {
    background-color: #999999;
}

.more_option_you {
    display: none;
    width: 50px;
    height: 25px;
    background-color: #2a292a;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    font-size: 12px;
    z-index: 1;
    float: left;
    top: -16px;
}
.more_option_you .more_option_triangle {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #2a292a transparent transparent transparent;
}
.more_option_accuse {
   position: absolute;
   width: 100%;
   height: 25px;
   left: 0;
   top: 0;
   border-radius: 4px;
   padding: 5px;
   box-sizing: border-box;
   cursor: pointer;
}

/*
.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #004b8d;}
.comment-box .comment-name.by-author:after {
   content: 'author';
   background: #004b8d;
   color: #FFF;
   font-size: 12px;
   padding: 3px 5px;
   font-weight: 700;
   margin-left: 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}
*/

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
   .comments-container {
       width: 480px;
   }

   .comments-list .comment-box {
       width: 390px;
   }

   .reply-list {
       width: 390px;
   }
}