* {
    -webkit-text-size-adjust: none;
    font-family:"SpoqaHanSans";
    background-repeat: no-repeat;
}
html, body {
    margin: 0 auto;
}
/* div {
    box-sizing: border-box;
} */
ul {
    list-style: none;
    margin-top: 0;
}
a:link {
    text-decoration: none;
    color: #2a292a;
}
a:visited {
    text-decoration: none;
    color: #2a292a;
}
a:active {
    text-decoration: none;
    color: #2a292a;
}
a:hover {
    text-decoration: none;
    color: #2a292a;
}
.btn_disabled{
    background-color: grey !important;
    cursor: default;
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: thin;
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('../font/spoqaHanSansThin.woff2') format('woff2'),
    url('../font/spoqaHanSansThin.woff') format('woff'),
    url('../font/spoqaHanSansThin.ttf') format('truetype');
    font-display: fallback;
}
@font-face {
    font-family: 'SpoqaHanSans';
    font-style: light;
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('../font/spoqaHanSansLight.woff2') format('woff2'),
    url('../font/spoqaHanSansLight.woff') format('woff'),
    url('../font/spoqaHanSansLight.ttf') format('truetype');
    font-display: fallback;    
}
@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('../font/spoqaHanSansRegular.woff2') format('woff2'),
    url('../font/spoqaHanSansRegular.woff') format('woff'),
    url('../font/spoqaHanSansRegular.ttf') format('truetype');
    font-display: fallback;        
}
@font-face {
    font-family: 'SpoqaHanSans';
    font-style: bold;
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('../font/spoqaHanSansBold.woff2') format('woff2'),
    url('../font/spoqaHanSansBold.woff') format('woff'),
    url('../font/spoqaHanSansBold.ttf') format('truetype');
    font-display: fallback;    
}
@font-face {
    font-family: 'Akzidenz';
    font-style: bold;
    font-weight: 400;
    src: url('../font/Akzidenz.ttf') format('truetype');
    font-display: fallback;    
}