header {
	display: flex;
	position: fixed;
	width: 100%;
	height: 44px;
	background: #2a292a;
	font-weight: 600;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 800;
	min-width: 200px;
}
header .site-name {
	position: relative;
	top: 0;
	margin: 0 auto;
	color: #fff;
	font-size: 20px;
	text-align: center;
	width: 70%;
	text-overflow: ellipsis;
	height: 25px;
	margin-top: 11px;
	background-image: url(../../images/example/bycal_logo_83x25.svg);
	background-size: 68px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.beta-logo{
	position: absolute;
    top: 6px;
    right: -28px;
    width: 24px;
	height: 20px;
	background-image: url(../../images/example/beta-logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

/* ============================ */
/*              nav             */
/* ============================ */
#nav-container {
	position: absolute;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	z-index: 2;
}
#nav-container .bg {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	height: calc(100% - 44px);
	visibility: hidden;
	opacity: 0;
	transition: .3s;
	background: #161616;
}
#nav-container:focus-within .bg {
	visibility: visible;
	opacity: .6;
	}
#nav-container * {visibility: visible;}

.button {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	-webkit-appearance: none;
	border: 0;
	background: transparent;
	border-radius: 0;
	height: 30px;
	width: 30px;
	cursor: pointer;
	pointer-events: auto;
	margin: 7px 10px;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
	display: block;
	width: 100%;
	height: 3px;
	background: #fff;
	transition: .3s;
}
.icon-bar + .icon-bar {margin-top: 5px;}
#nav-container:focus-within .button {pointer-events: none;}
#nav-container:focus-within .icon-bar:nth-of-type(1) {transform: translate3d(0,8px,0) rotate(45deg);}
#nav-container:focus-within .icon-bar:nth-of-type(2) {opacity: 0;}
#nav-container:focus-within .icon-bar:nth-of-type(3) {transform: translate3d(0,-8px,0) rotate(-45deg);}

#nav-content {
	margin-top: 44px;
	padding: 20px;
	width: 100%;
	max-width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% - 44px);
	background: #2a292a;
	pointer-events: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transform: translateX(-100%);
	transition: transform .3s;
	will-change: transform;
	contain: paint;
	overflow: auto;
	box-sizing: border-box;
}

#nav-content ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: rgba(255,255,255,1);
}
#nav-content .nav-ctg {
	margin-bottom: 40px;
}
#nav-content .nav-ctg a {
	padding-top: 20px;
	display: block;
	text-transform: none;
	transition: color .1s;
	font-size: 1rem;
	font-weight: 100;
	letter-spacing: 0.8px;
}
#nav-content .nav-ctg p {
	font-size: 0.6rem;
	font-weight: 800;
	letter-spacing: 0.8px;
	color: #fff;
}
#nav-content .nav-ctg ul {
	padding: 0 14px;
}

.small {display: flex;}
.small a {
	font-size: 0.6rem;
	font-weight: 100;
	color: #E0E0E0;
	text-transform: uppercase;
}
.small a + a {margin-left: 8px;}

#nav-content .info {
	display: block;
	font-size: 0.6rem;
	font-weight: 100;
	line-height: 1.5;
	color: #888;
}
.info .bycal_sns {
	width: 100%;
	display: flex;
	margin-bottom: 10px;
}
.info .bycal_sns span {
	cursor: pointer;
	width: 28px;
	height: 28px;
	font-size: 1rem;
	color: #E0E0E0;
	background-color: rgba(255,255,255,0.1);
	border-radius: 3px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bycal_sns span + span {margin-left: 6px;}
.info .bycal_sns span:hover {
	background-color: rgba(255,255,255,0.3);
}

#nav-content li:not(.info) + .info {margin-top: auto;}
#nav-content li a:hover {color: rgba(255,255,255,0.7);}
#nav-container:focus-within #nav-content {transform: none;}


/* ============================ */
/*             Search           */
/* ============================ */
.search-container {
	position: relative;
	float: left;
	z-index: 4;
}
body.search-active {
	overflow: hidden;
}
body.search-active .search-input {
	display: none;
	opacity: 1;
	transform: none;
	pointer-events: all;
	z-index: 5;
}
body.search-active .search-close {
	display: none;
	opacity: 1;
	transform: rotate(-90deg);
	z-index: 5;
}
body.search-active .control {
	cursor: default;
}
body.search-active .control .btn-material {
	transform: scale(70);
}
body.search-active .control .search-icon-wrap .search-icon,
body.search-active .control .search-icon-wrap .search-icon::before {
	opacity: 0;
}

/* Search Input */
.search {
	position: fixed;
	top: 0;
	left: 0;
}

/* Close button */
.search-close {
	display: none;
	position: fixed;
	top: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
.search-close:hover::before, .search-close:hover::after {
	opacity: 0.8;
	transition: 0.3s all ease;
}
.search-close::before, .search-close::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background-color: #fff;
}
.search-close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.search-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* Search Input */
.search-input {
	display: none;
	height: 80px;
	position: fixed;
	top: 50%;
	left: 50px;
	margin-top: -40px;
	opacity: 0;
	transform: translate(40px, 0);
	transition: all 0.3s ease-in-out;
}
.search-input input {
	width: 90%;
	color: #fff;
	font-size: 54px;
	border: 0;
	background: transparent;
	-webkit-appearance: none;
	box-sizing: border-box;
	outline: 0;
	font-weight: 200;
}
.search-input ::-webkit-input-placeholder {
	color: #EEE;
}
.search-input :-moz-placeholder {
	color: #EEE;
	opacity: 1;
}
.search-input ::-moz-placeholder {
	color: #EEE;
	opacity: 1;
}
.search-input :-ms-input-placeholder {
	color: #EEE;
}

/* Control btn */
.control {
	cursor: pointer;
}
.control .btn-material {
	position: relative;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	box-sizing: border-box;
	background-color: #2a292a;
	padding: 9px;
	outline: 0;
	transform-origin: 50%;
	transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.control .search-icon-wrap {
	position: absolute;
	width: 44px;
	height: 44px;
	top: 0;
	left: 0;
	border-radius: 22px;
	box-sizing: border-box;
	background-color: #2a292a;
	padding: 9px;
	outline: 0;
	transform-origin: 50%;
	transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.control .search-icon-wrap .search-icon {
	display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid #fff;
    position: relative;
    border-radius: 11px;
}
.control .search-icon-wrap .search-icon::before {
	content: "";
    display: inline-block;
    position: absolute;
    right: -5px;
    bottom: -2px;
    border-width: 0;
    background: #fff;
    width: 8px;
    height: 2px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
}
.control .search-icon-wrap .search-icon,
.control .search-icon-wrap .search-icon::before {
	opacity: 1;
}

/*profile*/
#profile-container {
	position: absolute;
	height: 44px;
	z-index: 3;
	right: 0;
	opacity: 1;
}
profile-container:hover {
	opacity: 0.5;
}
#profile-container * {visibility: visible;}
.profile-text {
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	text-align: center;
	color: #fafafa;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
	float: left;
}
.profile-img {
	position: relative;
	display: block;
	border: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	height: 26px;
	width: 26px;
	cursor: pointer;
	pointer-events: auto;
	margin: 9px;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	float: left;
}
.account-info {
	display: none;
	outline: none;
	position: absolute;
	right: 9px;
	top: 44px;
	width: 168px;
	background-color: #fff;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	transition: all .3s ease;
}
.account-info:before {
	content: '';
	position: absolute;
	/* after의 top-1 값 */
	top: -8px;
	right: 4px;
	width: 0;
	height: 0;
	border-color: transparent;
	border-bottom-color: #2a292a;
	border-style: dashed dashed solid;
	border-width: 0 9px 9px;
}
.account-info:after {
	content: '';
	position: absolute;
	/* before의 top+1 값 */
	top: -7px;
	
	right: 4px;
	width: 0;
	height: 0;
	border-color: transparent;
	border-bottom-color: #fff;
	border-style: dashed dashed solid;
	border-width: 0 9px 9px;
}
.account-info li {
	width: 100%;
	height: 36px;
	padding: 0 5px;
	border-bottom: 1px solid rgba(42,41,42,0.1);
	font-size: 12px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.3px;
	color: rgba(42,41,42,0.8);
	cursor: pointer;
}
.account-info li:hover {
	color: rgba(42,41,42,1);
	background-color: rgba(42,41,42,0.1);
}
.badge {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #DC0003;
	margin: 0;
	padding: 0;
	position: absolute;
	border: 1px solid #fff;
	box-sizing: content-box;
	right: 6px;
	top: 8px;
}
.account-info li .icon {
	float: left;
	width: 36px;
	height: 36px;
	font-size: 12px;
	text-align: center;
	line-height: 36px;
	position: relative;
}
.account-info li .text {
	float: left;
	height: 36px;
	margin-left: 8px;
}
.account-info li .icon-right-open-big {
	color: #2a292a;
	float: right;
	text-align: right;
}
.account-info .signout {
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	letter-spacing: 0.3px;
	text-align: center;
	border: none;
}

@media screen and (max-width: 860px) {
	.profile-text:not(#sign) {
		display: none;
	}
	.profile-img {
		float: right;
	}
}