/* ============================ */
/*          scroll-bar          */
/* ============================ */
/* none */
.scrollbar-none::-webkit-scrollbar {
  display: none; }

.scrollbar-none::-webkit-scrollbar-thumb {
  display: none; }

/* basic */
.scrollbar-basic::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; }

.scrollbar-basic::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c1c1c1; }

/* ============================ */
/*             common           */
/* ============================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

html, body {
  height: 100%;
  background-color: #161616; }

a, a:visited, a:focus, a:active, a:link {
  text-decoration: none;
  outline: 0; }

a {
  color: currentColor;
  transition: .2s ease-in-out; }

h1, h2, h3, h4 {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

img {
  vertical-align: middle;
  height: auto;
  width: 100%; }

.page {
  width: 100%;
  height: 100%;
  font-family: 'Spoqa Han Sans', sans-serif;
  letter-spacing: 0em;
  color: #2a292a; }

.bg-color {
  background-color: #fafafa; }

.full-left {
  float: left; }

.full-right {
  float: right; }

.mid {
  margin: 0 auto; }

i {
  border: 0 solid #2a292a;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px; }

.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

main {
  width: 100%;
  padding: 0;
  margin: 44px auto 0;
  flex-direction: column;
  position: relative;
  float: left; }

/* ============================ */
/*           full-img           */
/* ============================ */
main {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 44px auto 0;
  flex-direction: column;
  position: relative;
  float: left;
  color: #fff;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center; }

.main-container {
  width: 100%;
  height: calc(100% - 44px);
  min-height: calc(100vh - 44px);
  background-color: #2a292a;
  position: relative; }

.contents-wrap {
  width: 100%;
  position: relative;
  padding: 10vw 5vw 20px 5vw;
  display: flex; }

.main-content {
  width: 55%;
  max-width: 800px;
  position: relative;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  float: left; }

.main-content h1 {
  line-height: 1;
  font-size: 8rem;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: right; }

.main-content h1 > span {
  background-color: #2a292a; }

.css-typing {
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s steps(50, end);
  font-size: 44px; }

@keyframes type {
  from {
    width: 0; } }
@-webkit-keyframes type {
  from {
    width: 0; } }
.sub-content {
  width: 43%;
  text-align: left;
  margin-left: 2%; }

.sub-content h5 {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1.2px; }

@media screen and (max-width: 430px) {
  .contents-wrap {
    display: block; }

  .main-content {
    width: 100%; }

  .main-content h1 {
    font-size: 4rem; }

  .sub-content {
    width: calc(100% - 10vw);
    position: absolute;
    top: 320px;
    margin: 0; } }
/* ============================ */
/*          Mouse Wrap          */
/* ============================ */
.mouse-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-bottom: 24px;
  background: linear-gradient(to top, #161616 0%, rgba(22, 22, 22, 0) 80%);
  display: block;
  align-items: center;
  justify-content: center; }

.mouse-wrap p {
  margin-top: 12px;
  letter-spacing: 6px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-indent: 4px;
  -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
  animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite; }

.mouse-wrap .mouse {
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%);
  position: relative;
  width: 24px;
  height: 40px;
  margin: 0 auto;
  background-size: 100% 100%;
  border-radius: 100px;
  background-size: 225%;
  -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite; }

.mouse-wrap .mouse:before,
.mouse-wrap .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.mouse-wrap .mouse:before {
  width: 20px;
  height: 36px;
  background-color: #2a292a;
  border-radius: 100px; }

.mouse-wrap .mouse:after {
  background-color: #fff;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s linear infinite;
  animation: trackBallSlide 5s linear infinite; }

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #fff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #fff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #fff; } }
@keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #fff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #fff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #fff; } }
@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(2px);
    transform: scale(0.9) translateY(2px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(16px);
    transform: scale(0.4) translateY(16px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-8px);
    transform: scale(0.4) translateY(-8px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(2px);
    transform: scale(0.9) translateY(2px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(16px);
    transform: scale(0.4) translateY(16px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-8px);
    transform: scale(0.4) translateY(-8px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(2px);
    transform: scale(0.9) translateY(2px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(16px);
    transform: scale(0.4) translateY(16px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-8px);
    transform: scale(0.4) translateY(-8px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); } }
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(2px);
    transform: scale(0.9) translateY(2px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(16px);
    transform: scale(0.4) translateY(16px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-8px);
    transform: scale(0.4) translateY(-8px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(2px);
    transform: scale(0.9) translateY(2px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(16px);
    transform: scale(0.4) translateY(16px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-8px);
    transform: scale(0.4) translateY(-8px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(2px);
    transform: scale(0.9) translateY(2px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(16px);
    transform: scale(0.4) translateY(16px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-8px);
    transform: scale(0.4) translateY(-8px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-8px);
    transform: scale(1) translateY(-8px); } }
@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #fff; }
  51% {
    color: #4e5559; }
  60% {
    color: #fff; }
  81% {
    color: #4e5559; }
  90% {
    color: #fff; } }
@keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #fff; }
  51% {
    color: #4e5559; }
  60% {
    color: #fff; }
  81% {
    color: #4e5559; }
  90% {
    color: #fff; } }
/* ============================ */
/*       post-container         */
/* ============================ */
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a, a:visited {
  display: block;
  text-decoration: inherit;
  color: inherit; }

.container {
  position: relative;
  width: 70vw;
  min-height: 1500px;
  padding: 0.5em;
  max-width: 980px;
  margin: 0 auto; }

.container .sub-content-title .post-more-view {
  float: right;
  position: relative;
  width: 2px;
  height: 16px;
  background-color: #fff;
  margin-right: 7px;
  cursor: pointer; }

.container .sub-content-title .post-more-view:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  top: 7px;
  left: -7px;
  background-color: #fff; }

.container .blog-posts .row {
  display: flex; }

.container .blog-posts .row .post:last-child {
  margin-right: 0 !important; }

.container .blog-posts .post {
  flex: 1;
  overflow: hidden;
  background: #000;
  height: 200px;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  margin-right: 1em;
  margin-bottom: 1em; }
  .container .blog-posts .post.featured {
    width: 100% !important;
    height: 250px;
    margin: 0.5em 0 1em 0 !important; }

.container .blog-posts .post:hover {
  -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1); }

.container .blog-posts .post:hover .image {
  opacity: 0.8; }

.container .blog-posts .post .image, .container .blog-posts .post .content {
  display: inline-block;
  position: relative;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }

.container .blog-posts .post .image {
  float: left;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  cursor: pointer; }

.container .blog-posts .post .image .time {
  background: rgba(255, 255, 255, 0.5);
  width: 50px;
  text-align: center;
  padding: 0.5em 0;
  color: #444; }

.container .blog-posts .post .image .time .date {
  font-weight: bolder; }

.container .blog-posts .post .image .time .month {
  font-size: 0.7rem; }

.container .blog-posts .post .content {
  padding: 0.5em 1em;
  width: 50%;
  -moz-box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
  height: 100%;
  background-color: #000;
  color: #fff; }

.container .blog-posts .post .content:before {
  content: '';
  position: absolute;
  background: #000;
  width: 10px;
  height: 10px;
  top: 20%;
  left: -5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1); }

.container .blog-posts .post .content h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; }

.container .blog-posts .post .content p {
  max-height: 80px;
  overflow: hidden;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1.5;
  margin-bottom: 0.5em;
  font-family: 'Merriweather', sans-serif;
  word-break: break-all;
  cursor: pointer; }

.container .blog-posts .post .content .meta .icon-comment {
  font-size: 0.7em;
  line-height: 2;
  margin-top: auto; }

/*
[class^="icon-"]:before {
	margin-right: 0.5em;
	color: #3498db;
}
*/
img {
  max-width: 100%;
  height: auto; }

@media screen and (max-width: 900px) {
  .container {
    width: 86vw !important; }

  .row {
    display: block !important; }

  .row .post {
    width: 100%;
    margin: 0; } }
@media screen and (max-width: 600px) {
  .main-content-title {
    background-color: transparent;
    color: #fff; }

  .container {
    width: 96vw !important; }

  .content {
    width: 55% !important; }
    .content p {
      max-height: 48px !important; }

  .image {
    width: 45% !important; }

  h1 {
    text-overflow: inherit;
    white-space: normal; }

  .post {
    height: 160px !important; }

  #preview-container {
    padding: 0 !important; }

  .preview-content {
    width: 100% !important;
    border-radius: 0 !important; }

  .close {
    top: 5px !important;
    right: 5px !important;
    width: 50px !important;
    height: 50px !important; }

  .sub-content-title {
    line-height: 30px !important; }
    .sub-content-title .post-more-view {
      zoom: 1.5; } }
/* clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/* ------------ user ------------ */
.user-container {
  position: absolute;
  width: calc(100% - 32px);
  height: 30px;
  bottom: 10px; }
  .user-container .bookmark {
    float: left;
    cursor: pointer; }
    .user-container .bookmark:hover {
      opacity: 0.8;
      zoom: 1.02; }

.user {
  position: relative;
  height: 30px;
  box-sizing: border-box; }

.user-pic {
  position: relative;
  background-color: #2a292a;
  border: 0;
  background-size: cover;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 6px;
  box-sizing: border-box; }

.user-info {
  position: relative;
  top: -2px;
  height: 30px;
  float: left;
  white-space: normal; }

.content .user-container .user .user-info h1 {
  font-weight: 800;
  font-size: 12px; }

.content .user-container .user .user-info p {
  position: relative;
  top: -8px;
  font-size: 2px; }

a {
  transition: .25s all; }

.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .25s box-shadow; }
  .card:focus, .card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.card-inverse .card-img-overlay {
  background-color: rgba(51, 51, 51, 0.85);
  border-color: rgba(51, 51, 51, 0.85); }

.profile-card {
  position: relative;
  display: none;
  width: 280px;
  height: 281px; }

.flip {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 900;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }
  .flip.turned {
    -webkit-transform: rotateY(-180deg) translateZ(1px);
    transform: rotateY(-180deg) translateZ(1px); }
  .flip .arrow_box_1, .flip .arrow_box_2 {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 10px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
  .flip .arrow_box_1 {
    border: 1px solid rgba(0, 75, 141, 0.97);
    background-color: rgba(0, 75, 141, 0.97);
    -webkit-transform: rotateY(0deg) translateZ(1px);
    transform: rotateY(0deg) translateZ(1px); }
    .flip .arrow_box_1:after, .flip .arrow_box_1:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .flip .arrow_box_1:after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: rgba(0, 75, 141, 0.97);
      border-width: 15px;
      margin-left: -15px; }
    .flip .arrow_box_1:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: rgba(0, 75, 141, 0.97);
      border-width: 16px;
      margin-left: -16px; }
    .flip .arrow_box_1 .card_background_img {
      float: left;
      width: 100%;
      height: 144px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-position: 50% 50% !important;
      background-size: cover !important; }
    .flip .arrow_box_1 .wrap-followers {
      float: left;
      width: 56px;
      height: 38px;
      margin-top: 5px;
      margin-left: 20px;
      color: white; }
    .flip .arrow_box_1 .followers {
      float: left;
      width: 56px;
      height: 12px;
      font-size: 8px;
      line-height: 12px;
      text-align: center; }
    .flip .arrow_box_1 .num_of_followers {
      float: left;
      width: 56px;
      height: 26px;
      font-size: 16px;
      line-height: 26px;
      text-align: center; }
    .flip .arrow_box_1 .card_profile_img_wrap {
      position: absolute;
      width: 76px;
      height: 76px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      left: 100px;
      top: 106px;
      overflow: hidden;
      background-size: 100%; }
    .flip .arrow_box_1 .btn-follow {
      float: right;
      width: 64px;
      height: 24px;
      margin-right: 10px;
      margin-top: 5px;
      font-size: 8px;
      line-height: 24px;
      text-align: center;
      color: #004b8d;
      font-weight: bold;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: pointer; }
    .flip .arrow_box_1 .btn-default {
      float: right;
      width: 64px;
      height: 24px;
      margin-right: 10px;
      margin-top: 5px;
      line-height: 24px;
      text-align: center;
      color: #004b8d;
      font-weight: bold;
      background-color: transparent;
      border-radius: 4px; }
    .flip .arrow_box_1 .card_profile_name {
      float: left;
      width: 280px;
      height: 34px;
      margin-top: 8px;
      line-height: 34px;
      font-size: 24px;
      color: white;
      font-weight: bold;
      text-align: center; }
    .flip .arrow_box_1 .card_profile_title {
      float: left;
      width: 280px;
      height: 18px;
      line-height: 13px;
      font-size: 8px;
      color: #2a292a;
      text-align: center; }
    .flip .arrow_box_1 .socialbar {
      color: #fff; }
  .flip .arrow_box_2 {
    border: 1px solid #c2e1f5;
    background-color: rgba(250, 250, 250, 0.97);
    color: #000;
    transform: rotateY(-180deg) translateZ(1px); }
    .flip .arrow_box_2:after, .flip .arrow_box_2:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .flip .arrow_box_2:after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: rgba(250, 250, 250, 0.97);
      border-width: 15px;
      margin-left: -15px; }
    .flip .arrow_box_2:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: #c2e1f5;
      border-width: 16px;
      margin-left: -16px; }
  .flip .socialbar {
    width: 60%;
    float: left;
    font-size: 14px;
    margin: 0 50px 0 55px;
    display: flex;
    justify-content: space-around; }
    .flip .socialbar a i {
      cursor: pointer;
      opacity: 0.3; }
    .flip .socialbar a[href^="http"] i {
      opacity: 1;
      border-radius: 5px; }
      .flip .socialbar a[href^="http"] i:hover {
        color: #2a292a;
        background-color: rgba(250, 250, 250, 0.8);
        transition: .25s ease-in-out; }
    .flip .socialbar .more-info {
      pointer-events: auto;
      opacity: 1;
      border-radius: 5px; }
      .flip .socialbar .more-info:hover {
        color: #2a292a;
        background-color: rgba(250, 250, 250, 0.8);
        transition: .25s ease-in-out; }
  .flip .card_profile_info {
    width: 200px;
    height: 184px;
    margin: 40px;
    margin-bottom: 24px;
    font-size: 8px;
    font-weight: 300;
    line-height: 1.4em;
    overflow: auto;
    word-break: break-word; }

/*# sourceMappingURL=main.css.map */
