/* modal_block_wrap */
.modal_block_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(42, 41, 42, 0.5);
  /*//.modal_window*/ }
  .modal_block_wrap .modal_window {
    position: absolute;
    height: 600px;
    width: 944px;
    border-radius: 5px;
    background-color: #f2f2f2;
    /* //&.signup */ }
    .modal_block_wrap .modal_window .close_btn {
      float: right;
      margin-right: -50px; }
      .modal_block_wrap .modal_window .close_btn img {
        height: 32px; }
    .modal_block_wrap .modal_window .btn_wrap .btn-signin {
      width: 304px;
      height: 48px;
      margin: auto;
      margin-bottom: 14px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px #2a292a;
      font-size: 16px;
      line-height: 48px;
      font-weight: bold;
      cursor: pointer; }
      .modal_block_wrap .modal_window .btn_wrap .btn-signin img {
        float: left;
        width: 24px;
        height: 24px;
        margin: 12px; }
      .modal_block_wrap .modal_window .btn_wrap .btn-signin:nth-last-child(1) img {
        height: 15px;
        margin-top: 16.5px; }
    .modal_block_wrap .modal_window .welcome {
      height: 99px;
      width: 944px;
      padding-bottom: 3px;
      margin: auto;
      margin-bottom: 16px;
      text-align: center;
      font-weight: bold;
      font-size: 64px;
      line-height: 99px; }
    .modal_block_wrap .modal_window .welcome2 {
      width: 647px;
      margin: auto;
      margin-bottom: 40px;
      padding-top: 15px;
      font-size: 24px;
      font-weight: bold;
      line-height: 41px;
      border-top: 2px solid black; }
    .modal_block_wrap .modal_window .signup-wrap {
      width: 304px;
      height: 24px;
      margin: auto;
      margin-top: 14px;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px; }
      .modal_block_wrap .modal_window .signup-wrap span:nth-child(1) {
        display: block;
        float: left;
        width: 160px;
        height: 24px; }
      .modal_block_wrap .modal_window .signup-wrap a {
        cursor: pointer;
        color: #004b8d; }
        .modal_block_wrap .modal_window .signup-wrap a:nth-child(2) {
          display: block;
          float: left;
          width: 144px;
          height: 24px;
          text-align: center; }
    .modal_block_wrap .modal_window .form_wrap {
      margin: 0 auto;
      width: 308px; }
      .modal_block_wrap .modal_window .form_wrap span {
        height: 16px;
        font-size: 8px;
        font-weight: 300; }
      .modal_block_wrap .modal_window .form_wrap input[type=text], .modal_block_wrap .modal_window .form_wrap input[type=password], .modal_block_wrap .modal_window .form_wrap input[type=email] {
        font-size: 14px;
        text-align: center;
        width: 304px;
        height: 38px;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #2a292a;
        margin-bottom: 16px; }
      .modal_block_wrap .modal_window .form_wrap button {
        width: 304px;
        height: 40px;
        margin-top: 40px;
        margin-left: 2px;
        border-radius: 4px;
        background-color: #004b8d;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        color: white;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer; }
      .modal_block_wrap .modal_window .form_wrap .btn_disabled {
        background-color: gray;
        cursor: default; }
    .modal_block_wrap .modal_window.findPass .form_wrap span {
      height: 16px;
      font-size: 8px;
      color: black; }
    .modal_block_wrap .modal_window.signin .form_wrap span {
      font-weight: 300; }
      .modal_block_wrap .modal_window.signin .form_wrap span:nth-last-of-type(2) {
        width: 136px;
        height: 24px;
        font-size: 16px;
        margin-top: 2px;
        margin-right: 42px; }
      .modal_block_wrap .modal_window.signin .form_wrap span:nth-last-of-type(1) {
        width: 144px;
        height: 24px;
        font-size: 16px;
        color: #f71a3f;
        cursor: pointer; }
    .modal_block_wrap .modal_window.signup .welcome2 {
      margin-bottom: 0; }
    .modal_block_wrap .modal_window.signup .form_wrap input {
      margin-bottom: 0; }
    .modal_block_wrap .modal_window.signup .form_wrap button {
      margin-top: 12px;
      margin-left: 2px; }
    .modal_block_wrap .modal_window.signup .form_wrap .check_wrap {
      position: relative; }
      .modal_block_wrap .modal_window.signup .form_wrap .check_wrap .checked {
        background-image: url("/static/images/icons/modal/checkbox/Check@2x.png");
        background-size: 32px;
        width: 32px;
        height: 32px; }
      .modal_block_wrap .modal_window.signup .form_wrap .check_wrap .unchecked {
        background-image: url("/static/images/icons/modal/checkbox/Rectangle7@2x.png");
        background-size: 32px;
        width: 32px;
        height: 32px; }
      .modal_block_wrap .modal_window.signup .form_wrap .check_wrap div {
        width: 32px;
        height: 32px;
        cursor: pointer; }
        .modal_block_wrap .modal_window.signup .form_wrap .check_wrap div:nth-last-of-type(1) {
          margin-left: 159px;
          margin-top: -32px; }
      .modal_block_wrap .modal_window.signup .form_wrap .check_wrap label {
        font-weight: 300;
        top: 4px; }
        .modal_block_wrap .modal_window.signup .form_wrap .check_wrap label:nth-of-type(1) {
          position: absolute;
          left: 48px; }
        .modal_block_wrap .modal_window.signup .form_wrap .check_wrap label:nth-of-type(2) {
          position: absolute;
          left: 208px; }
    .modal_block_wrap .modal_window.signup .form_wrap .name_wrap {
      display: flex;
      justify-content: space-between; }
      .modal_block_wrap .modal_window.signup .form_wrap .name_wrap .name {
        width: 144px; }
        .modal_block_wrap .modal_window.signup .form_wrap .name_wrap .name:nth-child(2) {
          margin-left: 16px; }
      .modal_block_wrap .modal_window.signup .form_wrap .name_wrap input:nth-of-type(1), .modal_block_wrap .modal_window.signup .form_wrap .name_wrap input:nth-of-type(2) {
        width: 144px; }
    .modal_block_wrap .modal_window.signup .form_wrap .agreement {
      font-size: 8px; }
      .modal_block_wrap .modal_window.signup .form_wrap .agreement span {
        color: #004b8d;
        cursor: pointer; }
    .modal_block_wrap .modal_window.check_email .btn_ok {
      display: block;
      width: 304px;
      height: 80px;
      margin-top: 88px;
      margin-left: 320px;
      border-radius: 4px;
      background-color: #004b8d;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      color: white;
      font-size: 16px;
      cursor: pointer; }
    .modal_block_wrap .modal_window.term .scroll_wrap, .modal_block_wrap .modal_window.privacy .scroll_wrap {
      width: 576px;
      height: 408px;
      padding-top: 55px;
      border-top: 2px solid black;
      margin-left: 184px; }
      .modal_block_wrap .modal_window.term .scroll_wrap button, .modal_block_wrap .modal_window.privacy .scroll_wrap button {
        float: right;
        margin-right: 32px;
        width: 144px;
        height: 32px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border: 1px solid black;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        cursor: pointer; }
    .modal_block_wrap .modal_window.term .scrollbar, .modal_block_wrap .modal_window.privacy .scrollbar {
      float: left;
      height: 376px;
      width: 576px;
      background: #F5F5F5;
      overflow-y: scroll;
      margin-bottom: 5px;
      line-height: 25px; }
    .modal_block_wrap .modal_window.term .force-overflow, .modal_block_wrap .modal_window.privacy .force-overflow {
      min-height: 376px;
      font-weight: 300; }
      .modal_block_wrap .modal_window.term .force-overflow li, .modal_block_wrap .modal_window.privacy .force-overflow li {
        list-style: decimal;
        padding-left: 10px; }
    .modal_block_wrap .modal_window.term #style-1::-webkit-scrollbar-track, .modal_block_wrap .modal_window.privacy #style-1::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #F5F5F5; }
    .modal_block_wrap .modal_window.term #style-1::-webkit-scrollbar, .modal_block_wrap .modal_window.privacy #style-1::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5; }
    .modal_block_wrap .modal_window.term #style-1::-webkit-scrollbar-thumb, .modal_block_wrap .modal_window.privacy #style-1::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555; }
    .modal_block_wrap .modal_window .preview {
      position: absolute;
      width: 100px;
      height: 15px;
      left: 800px;
      top: 550px;
      font-size: 8px;
      font-weight: 300;
      cursor: pointer; }

/* //modal_block_wrap */

/*# sourceMappingURL=modal-signin.css.map */
