.preview-wrap {
  position: absolute;
  overflow-y: scroll;
  left: 0;
  top: 0;
  background-color: rgba(42, 41, 42, 0.5);
  width: 100%;
  display: block; }
  .preview-wrap .preview {
    margin: auto;
    margin-top: 154px;
    margin-bottom: 80px;
    position: relative;
    width: 944px;
    min-height: 1500px;
    overflow: auto;
    background-color: #ffffff;
    z-index: 1005;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 10px; }
    .preview-wrap .preview .btn-cancel-wrap {
      cursor: pointer;
      position: absolute;
      right: -40px;
      top: -8px;
      width: 32px;
      height: 32px; }
      .preview-wrap .preview .btn-cancel-wrap * {
        position: fixed; }
      .preview-wrap .preview .btn-cancel-wrap .btn-cancel {
        width: 40px;
        height: 40px;
        transform: rotate(45deg); }
        .preview-wrap .preview .btn-cancel-wrap .btn-cancel:before {
          display: block;
          content: "";
          position: absolute;
          width: 45px;
          height: 3px;
          margin: 18px 0px 0px -2px;
          background: #ffffff;
          z-index: 1; }
        .preview-wrap .preview .btn-cancel-wrap .btn-cancel:after {
          content: "";
          display: inline-block;
          position: absolute;
          margin: -2px 0px 0px 18px;
          padding: 0;
          width: 3px;
          height: 45px;
          background: #ffffff;
          z-index: 1; }
      .preview-wrap .preview .btn-cancel-wrap .preview_purchaseBtn {
        width: 32px;
        height: 32px;
        font-size: 8px;
        font-weight: normal;
        text-align: center;
        color: #ffffff;
        border-radius: 4px;
        background-color: rgba(0, 75, 141, 0.8);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        margin-top: 72px;
        margin-left: 4px;
        line-height: 32px;
        font-weight: 200; }
    .preview-wrap .preview .ready2publish {
      width: 624px;
      margin: auto;
      margin-bottom: 79px;
      font-size: 64px;
      font-weight: bold;
      text-align: center;
      line-height: 113px;
      border-bottom: 2px solid #2a292a; }
    .preview-wrap .preview .preview-cover-img {
      margin-bottom: 93px;
      height: 401px;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .preview-wrap .preview .preview-title {
      padding-left: 160px;
      border-bottom: 2px solid #2a292a;
      margin-bottom: 7px;
      line-height: 64px;
      font-size: 36px;
      font-weight: bold;
      word-break: break-word; }
    .preview-wrap .preview .preview-content-info {
      display: flex;
      justify-content: flex-start;
      width: 624px;
      margin: auto;
      margin-bottom: 93px;
      font-weight: 200;
      line-height: 26px; }
      .preview-wrap .preview .preview-content-info .preview-read-time {
        margin-right: 82px; }
      .preview-wrap .preview .preview-content-info .preview-by {
        margin-right: 17px; }
      .preview-wrap .preview .preview-content-info .preview-author {
        font-weight: bold; }
      .preview-wrap .preview .preview-content-info .preview-create-date {
        position: absolute;
        margin-left: 640px; }
    .preview-wrap .preview .preview-main-content {
      width: 100%;
      margin-bottom: 34px;
      zoom: 66%;
      word-break: break-word; }
      .preview-wrap .preview .preview-main-content .previewElementWrap {
        width: 100%;
        margin: auto; }
      .preview-wrap .preview .preview-main-content a:link {
        text-decoration: none;
        color: #004b8d; }
      .preview-wrap .preview .preview-main-content a:visited {
        text-decoration: none;
        color: #004b8d; }
      .preview-wrap .preview .preview-main-content a:active {
        text-decoration: none;
        color: #004b8d; }
      .preview-wrap .preview .preview-main-content a:hover {
        text-decoration: none;
        color: #004b8d;
        cursor: pointer; }
      .preview-wrap .preview .preview-main-content p, .preview-wrap .preview .preview-main-content h1, .preview-wrap .preview .preview-main-content blockquote, .preview-wrap .preview .preview-main-content h2 {
        display: block;
        width: 952px;
        margin: auto;
        line-height: 2em; }
      .preview-wrap .preview .preview-main-content b {
        width: 952px;
        margin: auto;
        line-height: 2em; }
      .preview-wrap .preview .preview-main-content blockquote {
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em; }
      .preview-wrap .preview .preview-main-content .medium-insert-images {
        width: 952px;
        margin: auto; }
        .preview-wrap .preview .preview-main-content .medium-insert-images img {
          max-width: 100%;
          margin: 0 0 20px 0; }
        .preview-wrap .preview .preview-main-content .medium-insert-images figure {
          text-align: center; }
      .preview-wrap .preview .preview-main-content .medium-insert-images-wide {
        width: 952px;
        margin: auto; }
        .preview-wrap .preview .preview-main-content .medium-insert-images-wide img {
          max-width: 100%;
          margin: 0 0 20px 0; }
      .preview-wrap .preview .preview-main-content .medium-insert-images-left {
        width: 952px;
        margin: auto; }
        .preview-wrap .preview .preview-main-content .medium-insert-images-left img {
          max-width: 53.33%;
          float: left;
          margin: 0 30px 20px 0; }
          .preview-wrap .preview .preview-main-content .medium-insert-images-left img:after {
            content: '';
            clear: both;
            display: block; }
      .preview-wrap .preview .preview-main-content .medium-insert-images-right {
        width: 952px;
        margin: auto; }
        .preview-wrap .preview .preview-main-content .medium-insert-images-right img {
          max-width: 53.33%;
          float: right;
          margin: 0 0 20px 30px; }
          .preview-wrap .preview .preview-main-content .medium-insert-images-right img:after {
            content: '';
            clear: both; }
      .preview-wrap .preview .preview-main-content .medium-insert-images-full {
        width: 100%; }
    .preview-wrap .preview .priceBtn {
      margin-right: 70px;
      margin-bottom: 80px;
      width: 40%;
      margin: auto; }
      .preview-wrap .preview .priceBtn .btn {
        display: block;
        position: absolute;
        bottom: 18px;
        width: 40%;
        padding: 7px 10px;
        height: 26px;
        text-align: center;
        border-radius: 4px;
        color: #fff;
        background-color: rgba(0, 75, 141, 0.8);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        margin-right: 16px;
        cursor: pointer; }
    .preview-wrap .preview .preview-tag-wrap {
      width: 784px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .preview-wrap .preview .preview-tag-wrap .preview-tag {
        display: inline-block;
        margin: auto;
        margin-bottom: 16px;
        height: 40px;
        line-height: 40px;
        padding-right: 32px;
        padding-left: 32px;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.2); }
    .preview-wrap .preview .read_profile {
      margin-bottom: 80px; }
      .preview-wrap .preview .read_profile.mainWriter {
        position: relative;
        margin-bottom: 40px; }
        .preview-wrap .preview .read_profile.mainWriter .contents_wrap {
          padding-bottom: 30px; }
        .preview-wrap .preview .read_profile.mainWriter .contents .text {
          width: 590px;
          padding-bottom: 25px;
          padding-right: 20px;
          box-sizing: border-box;
          font-size: 16px;
          line-height: 1.5em; }
        .preview-wrap .preview .read_profile.mainWriter .comment_wrap {
          position: absolute;
          bottom: 0;
          right: 10px; }
      .preview-wrap .preview .read_profile .click {
        width: 100%;
        height: 72px;
        font-size: 16px;
        font-weight: 200;
        text-align: center;
        color: #2a292a;
        border-bottom: 2px solid #979797;
        margin-bottom: 70px;
        padding-bottom: 5px; }
        .preview-wrap .preview .read_profile .click:after {
          content: '';
          clear: both;
          display: block; }
        .preview-wrap .preview .read_profile .click > div {
          float: left; }
        .preview-wrap .preview .read_profile .click img {
          cursor: pointer; }
        .preview-wrap .preview .read_profile .click .star_click {
          margin-bottom: 5px; }
        .preview-wrap .preview .read_profile .click .star {
          position: relative;
          left: 50%;
          margin-left: -122px; }
        .preview-wrap .preview .read_profile .click .sns {
          margin-right: 16px;
          float: right;
          margin-top: 4px; }
          .preview-wrap .preview .read_profile .click .sns img {
            display: inline-block;
            margin-left: 45px; }
            .preview-wrap .preview .read_profile .click .sns img:first-child {
              margin-left: 0px; }
      .preview-wrap .preview .read_profile .contents_wrap {
        padding: 0 10px;
        border-bottom: 2px solid #979797; }
    .preview-wrap .preview .contents {
      padding-bottom: 32px; }
      .preview-wrap .preview .contents:after {
        content: '';
        clear: both;
        display: block; }
      .preview-wrap .preview .contents .text {
        width: 590px;
        font-size: 16px; }
      .preview-wrap .preview .contents .contents_title {
        width: 280px;
        float: left;
        letter-spacing: -0.02em; }
        .preview-wrap .preview .contents .contents_title .picture img {
          width: 204px;
          height: 204px;
          margin: auto auto 16px auto;
          border-radius: 50%;
          overflow: hidden;
          display: block;
          cursor: pointer; }
        .preview-wrap .preview .contents .contents_title .name {
          font-size: 32px;
          font-weight: bold;
          text-align: center;
          color: #2a292a;
          cursor: pointer; }
        .preview-wrap .preview .contents .contents_title .title_name {
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          color: #004b8d;
          margin-bottom: 24px;
          margin-top: 10px; }
        .preview-wrap .preview .contents .contents_title .btnFollow {
          width: 64px;
          height: 24px;
          border-radius: 4px;
          background-color: #ffffff;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          margin: 0 auto;
          font-size: 8px;
          font-weight: 400;
          text-align: center;
          line-height: 24px;
          color: #004b8d;
          border: 1px solid #004b8d;
          cursor: pointer; }
    .preview-wrap .preview .comment1 {
      width: 940px;
      margin: 0 auto;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      position: relative;
      z-index: 1; }
      .preview-wrap .preview .comment1 .comment_wrap {
        width: 600px;
        float: right;
        position: relative; }
        .preview-wrap .preview .comment1 .comment_wrap img {
          width: 24px;
          vertical-align: top; }
        .preview-wrap .preview .comment1 .comment_wrap .date {
          display: inline-block;
          opacity: 0.7;
          font-family: SpoqaHanSans;
          font-size: 16px;
          font-weight: normal;
          color: #1f1f1f;
          position: absolute;
          right: 120px;
          top: 3px; }
        .preview-wrap .preview .comment1 .comment_wrap .comment span {
          height: 24px;
          line-height: 22px; }
      .preview-wrap .preview .comment1 .contents_wrap {
        margin-bottom: 4px;
        padding: 40px 20px 4px 20px; }
        .preview-wrap .preview .comment1 .contents_wrap:after {
          content: '';
          display: block;
          clear: both; }
      .preview-wrap .preview .comment1 .contents .text {
        font-size: 24px;
        line-height: 1.5em; }
      .preview-wrap .preview .comment1 .contents .contents_title .picture img {
        width: 120px;
        height: 120px; }
      .preview-wrap .preview .comment1.write {
        z-index: 0; }
    .preview-wrap .preview .contents .text {
      float: right;
      width: 620px;
      font-size: 24px;
      font-weight: 200;
      color: #2a292a;
      letter-spacing: -0.02em;
      box-sizing: border-box; }
    .preview-wrap .preview .contents .contents_title .btnFollow.unfollow {
      color: #cc1c3b;
      border: 1px solid #cc1c3b; }
    .preview-wrap .preview .comment_wrap {
      text-align: right;
      padding-bottom: 5px; }
      .preview-wrap .preview .comment_wrap .comment {
        display: inline-block;
        cursor: pointer; }
        .preview-wrap .preview .comment_wrap .comment span {
          display: inline-block;
          height: 48px;
          font-size: 16px;
          font-weight: normal;
          color: #2a292a;
          line-height: 34px;
          margin: 0px 15px 0px 5px; }
      .preview-wrap .preview .comment_wrap img {
        cursor: pointer;
        vertical-align: top; }

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px  solid red;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg); }

#star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg); }

#star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: ''; }

/*# sourceMappingURL=modal-preview.css.map */
