@charset "UTF-8";
/* ============================ */
/*          scroll-bar          */
/* ============================ */
/* none */
.scrollbar-none::-webkit-scrollbar {
  display: none; }

.scrollbar-none::-webkit-scrollbar-thumb {
  display: none; }

/* basic */
.scrollbar-basic::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; }

.scrollbar-basic::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c1c1c1; }

/* ============================ */
/*             common           */
/* ============================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

a, a:visited, a:focus, a:active, a:link {
  text-decoration: none;
  outline: 0; }

a {
  color: currentColor;
  transition: .2s ease-in-out; }

h1, h2, h3, h4 {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

img {
  vertical-align: middle;
  height: auto;
  width: 100%; }

.page {
  width: 100%;
  height: 100%;
  background: #2a292a;
  letter-spacing: 0em;
  color: #2a292a; }

.full-left {
  float: left; }

.full-right {
  float: right; }

.mid {
  margin: 0 auto; }

i {
  border: 0 solid #2a292a;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px; }

.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

body {
  background-color: #2a292a; }

/* ============================ */
/*         main content         */
/* ============================ */
main {
  width: 100%;
  padding: 0;
  margin: 44px auto 0 auto;
  flex-direction: column;
  position: relative;
  float: left;
  background-color: #2a292a; }

/* ============================ */
/*             main             */
/* ============================ */
.main-container {
  position: relative;
  width: 100%;
  max-width: 944px;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.3); }

/* Profile Info */
.profile-wrap {
  width: 100%;
  height: 365px;
  display: block;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center; }

.profileCover-wrap {
  width: 100%;
  height: 320px;
  display: block;
  position: relative;
  overflow: hidden;
  background: url();
  background-position: center center;
  background-size: cover;
  background-color: rgba(42, 41, 42, 0.03);
  cursor: pointer;
  z-index: 1; }
  .profileCover-wrap input {
    position: absolute;
    width: 100%;
    height: 320px;
    right: 8px;
    bottom: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    z-index: 5;
    cursor: pointer; }

.profileCover-wrap:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  z-index: 2; }

.profileCover-wrap .profileCover-block {
  display: none; }

.profileCover-wrap:hover .profileCover-block {
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; }

.profileCover-wrap:hover .profileCover-block .btn:hover {
  opacity: 0.9; }

.profileImg-wrap {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
  position: absolute;
  top: 225px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 3; }
  .profileImg-wrap input {
    position: absolute;
    width: 140px;
    height: 140px;
    right: 8px;
    bottom: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    z-index: 5;
    cursor: pointer; }

.profileImg-wrap:hover {
  background-color: rgba(42, 41, 42, 0.8);
  color: #fff;
  z-index: 4; }

.profileImg-wrap .profileImg-block {
  display: none; }

.profileImg-wrap:hover .profileImg-block {
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; }

.profileImg-wrap:hover .profileImg-block .btn:hover {
  opacity: 0.9; }

.profileInfo {
  position: relative;
  width: 90%;
  margin: 0 auto;
  color: #2a292a;
  text-align: center;
  display: block; }

.profileInfo .userName {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  position: relative; }

.profileInfo .userIntro {
  line-height: 1.3;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  position: relative; }

/* Waiting Reader */
.waiting-wrap {
  width: 90%;
  max-width: 440px;
  padding: 10px;
  border-radius: 17px;
  background-color: rgba(42, 41, 42, 0.03);
  margin-top: 60px;
  text-align: center;
  line-height: 1;
  font-size: 14px;
  margin: 0 auto; }

.waiting-wrap p {
  font-size: 14px; }

.waiting-wrap span {
  font-weight: 800; }

/* User SNS*/
.userSns-wrap {
  width: 100%;
  height: auto;
  margin: 20px 0; }

.userSns-wrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1; }

.userSns-wrap ul li {
  width: 36px;
  height: 36px;
  color: #fff;
  border-radius: 18px;
  background-color: rgba(42, 41, 42, 0.03);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
  margin: 0 5px; }

.userSns-wrap ul li:hover {
  opacity: 0.8;
  cursor: pointer; }

/* SNS */
.userSns-wrap .personal-website {
  font-size: 16px;
  background-color: #2a292a; }

.userSns-wrap .facebook {
  font-size: 20px;
  background-color: #3b5998; }

.userSns-wrap .instagram {
  font-size: 20px;
  background-color: #e4405f; }

.userSns-wrap .twitter {
  font-size: 20px;
  background-color: #00aced; }

/* close button */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  cursor: pointer; }

.close:hover::before, .close:hover::after {
  background-color: #2a292a;
  transition: 0.3s all ease; }

.close::before, .close::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background-color: rgba(42, 41, 42, 0.3); }

.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* Profile Stats */
.profileStats {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid rgba(42, 41, 42, 0.05);
  border-bottom: 1px solid rgba(42, 41, 42, 0.05); }

.profileStats .user-stats {
  min-width: 80px;
  line-height: 1;
  text-align: center;
  margin: 0 20px;
  opacity: 1;
  cursor: pointer; }

.profileStats .user-stats:hover {
  opacity: 0.8; }

.profileStats .user-stats p {
  width: 100%;
  color: rgba(42, 41, 42, 0.5);
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 1px; }

.profileStats .user-stats span {
  color: #2a292a;
  font-size: 22px;
  font-weight: 600; }

@media screen and (max-width: 680px) {
  .profileStats .user-stats {
    margin: 0 5px; }

  .profileStats .user-stats p {
    font-size: 8px; }

  .profileStats .user-stats span {
    font-size: 20px; } }
/* Following */
.follower-wrap,
.following-wrap {
  position: relative;
  overflow: visible;
  display: inline-flex; }

.nf-follower,
.nf-following {
  width: 300px;
  height: 369px;
  position: absolute;
  left: 20px;
  top: 50px;
  background-color: #fff;
  border: 1px solid rgba(42, 41, 42, 0.1);
  z-index: 100 !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(42, 41, 42, 0.1); }

.nf-follower:before,
.nf-following:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 45px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-bottom-color: #E4E4E4;
  border-style: dashed dashed solid;
  border-width: 0 10px 10px; }

.nf-follower:after,
.nf-following:after {
  content: '';
  position: absolute;
  top: -7px;
  left: 45px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-bottom-color: #FBFBFB;
  border-style: dashed dashed solid;
  border-width: 0 10px 10px; }

.nf-follower p,
.nf-following p {
  color: #2a292a;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0.4px;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgba(42, 41, 42, 0.01);
  box-shadow: inset 0px -1px 0 rgba(42, 41, 42, 0.1); }

.follow-list {
  width: 100%;
  height: 308px;
  list-style: none;
  position: relative;
  overflow: auto;
  padding: 10px 0; }

.follow {
  min-height: 32px;
  padding: 10px 0;
  display: flex;
  padding-left: 25px; }

.follow .follow-pic {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-image: url(baby.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  position: relative;
  float: left; }

.follow .follow-content {
  width: 204px;
  font-size: 12px;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
  display: inline-block;
  margin-left: 14px;
  position: relative; }

.follow .follow-content .follow-name {
  font-weight: 600;
  cursor: pointer; }

.follow .follow-content .btn_follower {
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #2a292a;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  border: none;
  margin-top: 5px; }

.follow .follow-content .btn_following {
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #fff;
  color: #2a292a;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  border: 1px solid rgba(42, 41, 42, 0.1);
  margin-top: 5px; }

@media screen and (max-width: 680px) {
  .nf-follower,
  .nf-following {
    width: 100%; } }
/* Submenu */
.submenu-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #fff; }

.submenu-wrapper .submenu-content {
  position: relative;
  z-index: 10;
  overflow: auto; }

.submenu-wrapper .submenu-content .item-detail {
  position: relative;
  padding: 30px;
  font-size: 14px;
  transition: all ease .3s;
  opacity: 0;
  display: none; }

.submenu-wrapper .submenu-content .item-detail.active {
  opacity: 1;
  transform: translateX(0);
  display: block; }

.submenu-wrapper .submenu-category {
  position: relative;
  padding-top: 20px;
  z-index: 20;
  width: 100%;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  justify-content: center; }

.submenu-wrapper .submenu-category::after {
  clear: both;
  content: "";
  display: table; }

.submenu-wrapper .submenu-category .item {
  position: relative;
  z-index: 30;
  float: left;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0 20px;
  font-size: 16px;
  color: rgba(42, 41, 42, 0.5);
  cursor: pointer;
  transition: all ease-out .3s; }

.submenu-wrapper .submenu-category .item:last-child {
  border-right: none; }

.submenu-wrapper .submenu-category .item.active {
  box-shadow: inset 0 -2px 0 black;
  color: #2a292a; }

.submenu-wrapper .submenu-category .item.active:after {
  transform: translateY(0);
  opacity: 1; }

.submenu-wrapper .submenu-category .item .item-image {
  width: 100px;
  height: 100px;
  margin: 20px auto 15px auto;
  border-radius: 50px;
  border: solid 2px #2a292a;
  background: #231F20;
  overflow: hidden; }

.submenu-wrapper .submenu-category .item .item-name {
  font-size: 14px;
  font-weight: 600;
  text-align: center; }

.submenu-wrapper .submenu-category .item .item-name span {
  margin-right: 3px;
  line-height: 1;
  text-align: left; }

@media screen and (max-width: 500px) {
  .submenu-wrapper .submenu-category .item {
    padding: 0 10px 10px 10px;
    margin: 0 5px; }

  .submenu-wrapper .submenu-category .item .item-name span {
    margin-right: 0px; } }
/* About */
.about-wrap {
  width: 100%;
  position: relative; }

.about-content-wrap .btn-modify {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 7px 10px 5px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: #2a292a;
  border-radius: 5px;
  cursor: pointer; }

.about-content-wrap .btn-modify:hover {
  background-color: rgba(42, 41, 42, 0.9); }

.about-wrap .about-content-wrap {
  padding: 30px 0;
  line-height: 1;
  position: relative; }

.about-wrap .about-content-wrap .info-title {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  color: rgba(41, 42, 41, 0.5);
  text-transform: uppercase; }

.about-wrap .about-content-wrap ul {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 300;
  color: #2a292a; }

.about-wrap .about-content-wrap ul li {
  padding-top: 30px;
  line-height: 1.5;
  display: flex; }

.about-wrap .about-content-wrap ul li .about-title {
  width: 100px;
  height: 12px;
  font-weight: 600;
  text-align: left;
  display: flex; }

.about-wrap .about-content-wrap ul li .about-content {
  width: calc(100% - 100px);
  height: 12px;
  text-align: left;
  position: relative; }

.about-wrap .invite-wrap {
  width: 100%;
  border-top: 1px dotted rgba(42, 41, 42, 0.1);
  color: #2a292a;
  padding-top: 30px;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

.about-wrap .invite-wrap p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: right;
  margin-right: 25px; }

.about-wrap .invite input {
  width: 280px;
  height: 30px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
  background-color: #2a292a;
  color: #fff;
  font-weight: 300;
  text-align: left;
  padding: 0 15px;
  letter-spacing: 0.11em; }

.about-wrap .invite input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1em;
  font-weight: 100;
  text-align: center; }

.about-wrap .invite input:focus {
  outline: 0;
  transition: 0.3s all ease; }

/* send button */
.about-wrap .invite button {
  padding: 6px 10px;
  outline: 0;
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  background-color: #2a292a;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer; }

.about-wrap .invite button:hover {
  opacity: 0.9; }

@media screen and (max-width: 680px) {
  .about-wrap .invite-wrap {
    display: inline-block; }

  .about-wrap .invite-wrap p {
    width: 100%;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 10px; }

  .about-wrap .invite-wrap .invite {
    width: 100%;
    padding: 0 5%; }

  .about-wrap .invite-wrap .invite input {
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center; }

  .about-wrap .invite-wrap .invite button {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 1px; } }
/* Timeline */
.timeline-wrap {
  display: flex;
  align-items: center;
  justify-content: center; }

.timeline-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 1; }

.timeline-wrap:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(to top, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 1; }

.timeline {
  width: 100%;
  max-width: 500px;
  background: #fff;
  padding: 100px 50px;
  position: relative; }

.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(30% + 18px);
  bottom: 0px;
  width: 4px;
  background: #4298C3; }

.timeline:after {
  content: "";
  display: table;
  clear: both; }

.event {
  width: 100%;
  clear: both;
  text-align: left;
  position: relative; }

.event .event-title {
  margin-bottom: .5em;
  float: left;
  width: 30%;
  padding-right: 30px;
  text-align: right;
  position: relative; }

.event .event-title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #4298C3;
  background-color: #fff;
  border-radius: 100%;
  top: 0;
  right: -8px;
  z-index: 99; }

.event .event-content {
  margin: 0 0 3em;
  float: right;
  width: 60%;
  max-width: 300px;
  border-bottom: 1px dashed rgba(42, 41, 42, 0.1);
  padding-bottom: 25px;
  margin-bottom: 25px;
  margin-left: 30px; }

.event .event-content h3 {
  font-size: 16px;
  font-weight: 700; }

.event .event-content p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300; }

.event .event-content p:first-child {
  margin-top: 0;
  font-weight: 400; }

/* Point */
.point-wrap {
  width: 100%; }

.point-half {
  width: 100%;
  max-width: 500px;
  display: flex;
  margin-bottom: 30px; }

.point-half .have-point {
  width: 50%;
  min-width: 190px;
  padding: 20px 0;
  position: relative;
  line-height: 24px;
  float: left; }

.point-title,
.point-sub,
.btn-exchange {
  float: left; }

.point-half .have-coupon {
  width: 50%;
  min-width: 190px;
  padding: 20px 0;
  position: relative;
  line-height: 24px; }

@media screen and (max-width: 680px) {
  .point-half {
    display: inline-block; } }
.point-title {
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  color: #2a292a; }

.point-sub {
  margin: 0 10px; }

.point-sub span {
  font-weight: 600;
  color: #2a292a; }

.btn-exchange {
  position: relative;
  padding: 7px 10px 5px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: #2a292a;
  border-radius: 5px;
  cursor: pointer; }

.btn-exchange:hover {
  background-color: rgba(42, 41, 42, 0.9); }

/* 사용 내역 */
.point-full {
  width: 100%; }

.point-full p {
  width: 100%;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
  background-color: #2a292a;
  display: flex;
  align-items: center;
  justify-content: center; }

.point-full .point-full-title {
  width: 100%;
  margin: 20px 0;
  color: #2a292a;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  display: flex;
  text-align: center; }

.point-full .spend-time-title {
  width: 30%; }

.point-full .spend-amount-title {
  width: 20%; }

.point-full .spend-cont-title {
  width: 50%; }

.point-full-sub {
  width: 100%;
  overflow: auto;
  display: inline-block; }

.point-full-sub li {
  width: 100%; }

.point-full-sub li ul {
  line-height: 1;
  display: flex;
  text-align: center;
  margin-bottom: 30px; }

.point-full-sub .spend-time {
  width: 30%; }

.point-full-sub .spend-amount {
  width: 20%; }

.point-full-sub .spend-cont {
  width: 50%; }

/* Setting */
.warning-setting {
  width: 100%;
  height: auto;
  color: #2a292a;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  background-color: rgba(42, 41, 42, 0.03);
  border: 1px solid rgba(42, 41, 42, 0.08);
  border-radius: 5px;
  padding: 10px 6px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; }

.setting-wrap {
  width: 100%;
  position: relative; }

.setting-menu {
  width: 128px;
  display: flex;
  margin-right: 10px; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  color: #ddd;
  background-color: #ddd;
  border-radius: 3px;
  margin-right: 8px;
  overflow: hidden;
  align-items: center;
  justify-content: center; }

input[type="checkbox"]:checked + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  position: relative;
  background-color: #ddd;
  color: #2a292a;
  font-size: 12px;
  text-align: center; }

input[type="radio"] {
  cursor: pointer; }

.setting-content-wrap .btn-modify {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 7px 10px 5px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: #2a292a;
  border-radius: 5px;
  cursor: pointer; }

.setting-content-wrap .btn-modify:hover {
  background-color: rgba(42, 41, 42, 0.9); }

.setting-wrap .setting-content-wrap {
  width: 100%;
  padding: 30px 0;
  line-height: 1;
  position: relative; }

.setting-wrap .setting-content-wrap .info-title {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  color: rgba(41, 42, 41, 0.5);
  text-transform: uppercase; }

.setting-wrap .setting-content-wrap ul {
  width: 100%;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 300;
  color: #2a292a; }

.setting-wrap .setting-content-wrap ul li {
  padding-top: 30px;
  line-height: 1.5;
  display: flex;
  box-sizing: content-box; }

.setting-wrap .setting-content-wrap ul li .setting-title {
  width: 100px;
  height: 12px;
  font-weight: 600;
  text-align: left;
  display: flex; }

.setting-wrap .setting-content-wrap ul li .setting-content {
  width: calc(100% - 128px);
  height: 20px;
  display: inline-block;
  text-align: left;
  letter-spacing: 0.4px;
  position: relative; }

.setting-content input {
  border: none;
  background-color: #F6F6F6;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
  color: #2a292a;
  padding: 4px 6px;
  box-sizing: border-box; }

.introduce {
  width: calc(100% - 128px);
  height: 220px;
  text-align: left;
  letter-spacing: 0.4px;
  position: relative;
  border: none;
  background-color: #F6F6F6;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
  color: #2a292a;
  padding: 4px 6px;
  box-sizing: border-box; }

.setting-content input::placeholder {
  color: #2a292a;
  font-size: 10px; }

.setting-content input:focus {
  outline: 0;
  transition: 0.3s all ease; }

.setting-content span {
  margin: 0 10px 0 5px; }

.setting-privacy-btn {
  height: 25px;
  position: relative;
  float: left;
  text-align: center;
  padding: 0 8px;
  border-radius: 5px;
  background-color: #2a292a;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }

.setting-privacy-btn:hover {
  opacity: 0.9; }

.btn_save {
  width: 100%;
  height: 50px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background-color: #2a292a;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px; }

.btn_save:hover {
  opacity: 0.9; }

#HPhone1,
#HPhone2 {
  width: 50px;
  text-align: center; }

#Email1,
#Email2 {
  width: 100px; }

#mywebsite {
  width: calc(100%-128px);
  max-width: 150px; }

#myfacebook,
#myinstagram,
#mytwitter {
  width: 80px; }

/*# sourceMappingURL=profile.css.map */
