.mainImg {
    padding-top: 32px;
    
    img {
        width:100%;
        min-height: 200px;
    }
}
.main_content_wrap {
    width: 100%;
    margin: auto;
    position: relative;

    a:link {
        text-decoration: none;
        color: #004b8d;
    }
    a:visited {
        text-decoration: none;
        color: #004b8d;
    }
    a:active {
        text-decoration: none;
        color: #004b8d;
    }
    a:hover {
        text-decoration: none;
        color: #004b8d;
        cursor: pointer;
    }
    p, h1, blockquote, h2 {
        display: block;
        width: 952px;
        margin: auto;
        line-height: 2em;
    }
    b {
        width: 952px;
        margin: auto;
        line-height: 2em;
    }
    blockquote {
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
    }
    .medium-insert-buttons-show {
        display: none;
    }
    .medium-insert-images {
        width: 952px;
        margin: auto;

        img {
            max-width: 100%;
            margin: 0 0 20px 0;
        }
    }
    .medium-insert-images-wide {
        width: 952px;
        margin: auto;

        img {
            max-width: 100%;
            margin: 0 0 20px 0;
        }
    }
    .medium-insert-images-left {
        width: 952px;
        margin: auto;

        img {
            max-width: 53.33%;
            float: left;
            margin: 0 30px 20px 0;
        }
    }
    .medium-insert-images-right {
        width: 952px;
        margin: auto;

        img {
            max-width: 53.33%;
            float: right;
            margin: 0 0 20px 30px;
        }
    }
    .medium-insert-images-full {
        width: 100%;
    }
}
.preview-tag-wrap {
    width: 784px;
    margin: auto;
    margin-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .preview-tag {
        display: inline-block;
        margin: auto;
        margin-bottom: 16px;
        height: 40px;
        line-height: 40px;
        padding-right: 32px;
        padding-left: 32px;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    }
}