
/* ============================ */
/*             Search           */
/* ============================ */
.search-container {
	position: relative;
	float: left;
	z-index: 4;
}
body.search-active {
	// overflow: hidden;
}
.search-input {
	opacity: 1;
	transform: none;
	pointer-events: all;
}
.search-close {
	opacity: 1;
	transform: rotate(-90deg);
	z-index: 5;
}

/* Search Input */
.search {
	position: fixed;
	top: 0;
	left: 0;
}

/* Close button */
.search-close {
	position: fixed;
	top: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.search-close:hover::before, .search-close:hover::after {
	opacity: 0.8;
	transition: 0.3s all ease;
}
.search-close::before, .search-close::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background-color: #fff;
}
.search-close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.search-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* Search Input */
.search-input {
	height: 80px;
	position: fixed;
	top: 50%;
	left: 50px;
	margin-top: -40px;
	transform: translate(40px, 0);
	transition: all 0.3s ease-in-out;
}
.search-input input {
	width: 90%;
	color: #fff;
	font-size: 54px;
	border: 0;
	background: transparent;
	-webkit-appearance: none;
	box-sizing: border-box;
	outline: 0;
	font-weight: 200;
}
.search-input ::-webkit-input-placeholder {
	color: #EEE;
}
.search-input :-moz-placeholder {
	color: #EEE;
	opacity: 1;
}
.search-input ::-moz-placeholder {
	color: #EEE;
	opacity: 1;
}
.search-input :-ms-input-placeholder {
	color: #EEE;
}

/* Control btn */
.control {
	cursor: pointer;
}
.control .search-icon-wrap {
	width: 44px;
	height: 44px;
	top: 0;
	left: 0;
	border-radius: 22px;
	box-sizing: border-box;
	background-color: #2a292a;
	padding: 9px;
	outline: 0;
	transform-origin: 50%;
	transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.control .search-icon-wrap .search-icon {
	display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid #fff;
    position: relative;
    border-radius: 11px;
}
.control .search-icon-wrap .search-icon::before {
	content: "";
    display: inline-block;
    position: absolute;
    right: -5px;
    bottom: -2px;
    border-width: 0;
    background: #fff;
    width: 8px;
    height: 2px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
}
.control .search-icon-wrap .search-icon,
.control .search-icon-wrap .search-icon::before {
	opacity: 1;
}

#search-container {
	position: absolute;
    overflow-y: scroll;    
    left: 0;
    top: 0;
    background-color: #2a292a;    
	width: 100%;
	height: 100%;
    box-sizing: border-box;
    z-index: 900;
}