/* ============================ */
/*          scroll-bar          */
/* ============================ */
/* none */
.scrollbar-none::-webkit-scrollbar {
	display: none;
}
.scrollbar-none::-webkit-scrollbar-thumb {
	display: none;
}
/* basic */
.scrollbar-basic::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}
.scrollbar-basic::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #c1c1c1;
}

/* ============================ */
/*             common           */
/* ============================ */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
html, body {
	height: 100%;
}
a, a:visited, a:focus, a:active, a:link {
	text-decoration: none;
	outline: 0;
}
a {
	color: currentColor;
	transition: .2s ease-in-out;
}
h1, h2, h3, h4 {margin: 0;}
ul {
	padding: 0 30px;
	list-style: none;
}
img {
	vertical-align: middle;
	height: auto;
	width: 100%;
}
.page {
	width: 100%;
	height: 100%;
	background: #fff;
	font-family: 'Spoqa Han Sans', sans-serif;
	letter-spacing: 0em;
	color: #2a292a;
}
.bg-color {
	background-color: #fafafa;
}
.full-left {
	float: left;
}
.full-right {
	float: right;
}
.mid {
	margin: 0 auto;
}
i {
	border: 0 solid #2a292a;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 4px;
}
.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* ============================ */
/*         main content         */
/* ============================ */
.welcome-bg {
	background-color: #2a292a;
}

/* ============================ */
/*         page-signin          */
/* ============================ */
.signin-title {
	width: 100%;
	text-align: center;
	color: #fff;
}
.signin-title h1 {
	font-size: 40px;
}
.signin-title h3 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 100;
	margin-top: 10px;
}
.frame {
	position: relative;
	height: 500px;
	width: 400px;
	background-color: rgba(255,255,255,0.1);
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: all .5s ease;
}

.form_title {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	margin: 10px 0;
}
.signin-container {
	width: 100%;
	margin: 50px auto;
	display: inline-block;
}
.mid-container {
	position: absolute;
	width: 320px;
	height: 338px;
	padding: 82px 0;
}
.bottom-container {
	position: absolute;
	width: 320px;
	bottom: 40px;
}
.form-signin {
	width: 400px;
	height: 500px;
	color: rgba(255,255,255,0.8);
	font-size: 10px;
	font-weight: 10;
	line-height: 26px;
	letter-spacing: 1px;
	padding: 30px 40px;
	position: relative;
	transition: all .5s ease;
}
.form-signin input {
	width: 100%;
	height: 30px;
	margin: 16px 0;
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	background-color: transparent;
    letter-spacing: 0.11em;
}
.form-signin input::placeholder {
	color: rgba(255,255,255,0.3);
	font-size: 10px;
}
.form-signin input:focus {
	outline: 0;
	border-bottom: 1px solid #fff;
	transition: 0.6s all ease;
}

.form-signin p {
	font-size: 12px;
	font-weight: 100;
	line-height: 12px;
	text-align: center;
}

/* submit button */
.form-signin button {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	outline: 0;
	background-color: rgba(255,255,255,0.8);
	border-color: transparent;
	color: #313031;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	position: relative;
	z-index: 3;
	cursor: pointer;
	transition: 0.4s all ease;
}
.form-signin button:hover {
	background-color: #fff;
}
.modal_window {
    position: absolute;
    height: 600px;
    width: 944px;
    border-radius: 5px;
    left:50%;
    top: 14%;
    margin-left: -472px;

    .close_btn {
        float: right;
        margin-right: -50px;
    
        img {
            height: 32px;
        }
    }
    .btn_wrap {
        .btn-signin {
            width: 304px;
            height: 48px;
            margin: auto;
            margin-bottom: 14px;
            border-radius: 8px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            border: solid 1px #2a292a;
            font-size: 16px;
            line-height: 48px;
            font-weight: bold;
            cursor: pointer;
        
            .icon-comment-alt {
                width: 0px;
                height: 0px;
                margin-left: 12px;
            }
            .icon-facebook-rect {
                width: 0px;
                height: 0px;
                margin-left: 12px;
            }
            .icon-googleplus-rect{
                width: 0px;
                height: 0px;
                margin-left: 12px;
            }
            .signwith {
                margin-left: 49px;
            }
            &:nth-last-child(2) {
                img{
                    height: 15px;
                    margin-top: 16.5px;
                    margin-left: 12px;
                    width: auto;
                    vertical-align: baseline;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
    }
    .welcome {
        height: 99px;
        width: 944px;
        padding-bottom: 3px;
        margin: auto;
        margin-bottom: 16px;
        text-align: center;
        font-weight: bold;
        font-size: 64px;
        line-height: 99px;
    }
    .welcome2 {
        width: 647px;
        margin: auto;
        margin-bottom: 40px;
        padding-top: 15px;
        font-size: 24px;
        font-weight: bold;
        line-height: 41px;
        border-top: 2px solid #2a292a;
    }
    .signup-wrap {
        width: 304px;
        height: 24px;
        margin: auto;
        margin-top: 14px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
    
        span{
            &:nth-child(1) {
                display: block;
                float: left;
                width: 160px;
                height: 24px;
            }
        }
        a {
            cursor: pointer;
            color: #004b8d;

            &:nth-child(2) {
                display: block;
                float: left;
                width: 144px;
                height: 24px;
                text-align: center;
            }
        }
        input[type=email] {
            float: left;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            width: 417px;
            height: 30px;
            border-radius: 8px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            border: solid 1px #2a292a;
            margin-bottom: 16px;
        }
        button {
            display: block;
            float: right;
            width: 92px;
            border-radius: 5px;
            height: 36px;
            text-align: center;
            color: #ffffff;
            background-color: #004b8d;
            margin-left: 24px;
        }
    }
    .form_wrap {
        margin: 0 auto;
        width: 308px;

        span {
            height: 16px;
            font-size: 8px;
            font-weight: 300;
        }
        input[type=text],input[type=password],input[type=email] {
            font-size: 14px;
            text-align: center;
            width: 304px;
            height: 38px;
            border-radius: 8px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            border: solid 1px #2a292a;
            margin-bottom: 16px;
        }
        button {
            width: 304px;
            height: 40px;
            margin-top: 40px;
            margin-left: 2px;
            border-radius: 4px;
            background-color: #004b8d;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
            color: white;
            font-size: 16px;
            font-weight: 300;
            cursor: pointer;
        }
        .btn_disabled{
            background-color: gray;
            cursor: default;
        }
    }
    &.findPass .form_wrap {
        span {
            height: 16px;
            font-size: 8px;
            color: #2a292a;
        }
    }
    &.signin .form_wrap {
        span {
            font-weight: 300;

            &:nth-last-of-type(2) {
                width: 136px;
                height: 24px;
                font-size: 16px;
                margin-top: 2px;
                margin-right: 42px;
            }
            &:nth-last-of-type(1) {
                width: 144px;
                height: 24px;
                font-size: 16px;
                color: rgb(247, 26, 63);
                cursor: pointer;
            }
        }
    }
    &.signup {
        .welcome2 {
            margin-bottom: 0;
        }
        .form_wrap {
            input {
                margin-bottom: 0;
            }
            button {
                margin-top: 12px;
                margin-left: 2px;
            }
            .check_wrap {
                position: relative;

                .checked {
                    background-image: url('/static/images/icons/modal/checkbox/Check@2x.png');
                    background-size: 32px;
                    width: 32px;
                    height: 32px;
                }
                .unchecked {
                    background-image: url('/static/images/icons/modal/checkbox/Rectangle7@2x.png');
                    background-size: 32px;
                    width: 32px;
                    height: 32px;
                }
                div {
                    width: 32px;
                    height: 32px;
                    cursor: pointer;

                    &:nth-last-of-type(1) {
                        margin-left: 159px;
                        margin-top: -32px;
                    }
                }
                label {
                    font-weight: 300;
                    top: 4px;

                    &:nth-of-type(1) {
                        position: absolute;
                        left: 48px;
                    }
                    &:nth-of-type(2) {
                        position: absolute;
                        left: 208px;
                    }
                }
            }
            // .name_wrap {
            //     display: flex;
            //     justify-content: space-between;

            //     .name {
            //         width: 144px;

            //         &:nth-child(2){
            //             margin-left: 16px;
            //         }
            //     }
            //     input:nth-of-type(1), input:nth-of-type(2) {
            //         width: 144px;
            //     }
            // }
            .agreement {
                font-size: 8px;

                span {
                    color: #004b8d;
                    cursor: pointer;
                }
            }
        }
    }
    /* //&.signup */
    &.check_email {
        .btn_ok {
            display: block;
            width: 304px;
            height: 80px;
            margin-top: 88px;
            margin-left: 320px;
            border-radius: 4px;
            background-color: #004b8d;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
            color: #F5F5F5;
            font-size: 16px;
            cursor: pointer;
        }
    }
    &.term, &.privacy {
        display: none;
        background-color: #ffffff;
        
        .scroll_wrap {
            width: 576px;
            height: 408px;
            padding-top: 55px;
            border-top: 2px solid #2a292a;
            margin-left: 184px;

            button {
                float: right;
                margin-right: 32px;
                width: 144px;
                height: 32px;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                border: 1px solid #2a292a;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                cursor: pointer;
            }
        }
        .scrollbar
        {
            float: left;
            height: 376px;
            width: 576px;
            background: #ffffff;
            overflow-y: scroll;
            margin-bottom: 5px;
            line-height: 25px;
        }
        .force-overflow
        {
            min-height: 376px;
            font-weight: 300;

            li {
                list-style: decimal;
                padding-left: 10px;
                color: #2a292a;
            }
        }
        #style-1::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #ffffff;
        }
        #style-1::-webkit-scrollbar
        {
            width: 12px;
            background-color: #ffffff;
        }
        #style-1::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }
    }
    .preview {
        position: absolute;
        width: 100px;
        height: 15px;
        left: 800px;
        top: 550px;
        font-size: 8px;
        font-weight: 300;
        cursor: pointer;
    }
}
.agreement {
    font-size: 8px;

    span {
        color: #004b8d;
        cursor: pointer;
    }
}