body.back{
    background: rgba(42, 41, 42, 0.5);
  }
  /* settings start */
.settings{
    width: 944px;
    /* height: 800px; */
    box-sizing: border-box;
    margin: 100px auto;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding-top: 72px;
    padding-bottom: 200px;
}
.settings .settings_alarm{
    width: 928px;
    /* height: 420px; */
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #000;
    position: relative;
    padding: 40px;
    margin-bottom: 40px;
}
.settings .settings_alarm h2{
    width: 80px;
    height: 32px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
    color: #2a292a;
    background-color: #fff;
    position: absolute;
    top: -16px;
    left: 56px
}
.settings .settings_alarm .contents{
    width: 624px;
    /* height: 40px; */
    padding: 10px 0px 5px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}
.settings .settings_alarm .contents:after{
    content: '';
    display: block;
    clear: both;
}
.settings .settings_alarm .line{
    float: left;
}
.settings .settings_alarm .contents .line p{
    opacity: 0.7;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    text-align: left;
    color: #2A292A;;
  }
/* button */
.settings .button{
    float: right;
}
.settings .button .container {
    /* margin: 50px auto; */
    /* width: 280px; */
    text-align: center;
}
.settings .button .container > .switch {
    display: block;
    /* margin: 12px auto; */
}
  
.settings .button .switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 24px;
    /* padding: 3px; */
    background-color: white;
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}
  
.settings .button .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
  
.settings .button .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    /* text-transform: uppercase; */
    background: #cc1c3b;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}
.settings .button .switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.settings .button .switch-label:before {
    content: attr(data-off);
    right: 34px;
    color: #cc1c3b;
    z-index: 1;
    /* text-shadow: 0 1px rgba(255, 255, 255, 0.5); */
}
.settings .button .switch-label:after {
    content: attr(data-on);
    left: 36px;
    color: #88b04b;
    /* text-shadow: 0 1px rgba(0, 0, 0, 0.2); */
    opacity: 0;
    z-index: 1;
}
.settings .button .switch-input:checked ~ .switch-label {
    background: #88b04b;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.settings .button .switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.settings .button .switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
  
.settings .button .switch-handle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 22px;
    background: white;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
  /*.settings .button  .switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #eeeeee, white);
    background-image: -moz-linear-gradient(top, #eeeeee, white);
    background-image: -o-linear-gradient(top, #eeeeee, white);
    background-image: linear-gradient(to bottom, #eeeeee, white);
  } */
.settings .button .switch-input:checked ~ .switch-handle {
    left: 23px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
  
.settings .button .switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}
  /* button end*/
  
.settings .settings_alarm2{
    padding: 10px 18px;
}
.settings .settings_alarm2:after{
    content: ''	;
    display: block;
    clear: both;
}
.settings .settings_alarm2 h2{
    width: 320px;
    height: 32px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: #2a292a;
    position: relative;
    float: left;
}
.settings .settings_alarm2 h2:after{
    content: '';
    width: 500px;
    height: 2px;
    position: absolute;
    background: #000;
    top: 14px;
    left: 320px;
    opacity: 0.7;
}
.settings .settings_alarm2.trot h2:after{
    content: '';
    width: 708px;
    height: 2px;
    position: absolute;
    background: #000;
    top: 14px;
    left: 113px;
    opacity: 0.7;
}
.settings .settings_alarm2 .button{
    float: right;
    margin-top: 2px;
}
.settings .button_wrap{
    position: relative;
    float: right;
    top: 80px;
    right: 20px;
}
.settings .button_wrap:after{
    content: ''	;
    display: block;
    clear: both;
}
.settings .button_wrap > div{
    width: 128px;
    height: 40px;
    font-size: 16px;
    font-weight: 200;
    line-height: 2.5;
    text-align: center;
    color: #2a292a;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    float: left;
    cursor: pointer;
}
.settings .button_wrap > div:first-child{
    margin-right: 40px;
}
  /* settings end */
  
  /* stats start */
.stats{
    width: 944px;
    box-sizing: border-box;
    margin: 100px auto;
    background-color: #fafafa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 32px 16px 16px;
}
.stats.stats1{
    margin-bottom: 56px;
}
.stats.stats2{
    margin-top: 0px;
}
.stats .title{
    height: 32px;
    line-height: 32px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 7px;
    margin-bottom: 40px;
}
.stats .title > *{
    display: inline-block;
}
.stats .title h2{
    width: 300px;
    height: 32px;
    opacity: 1;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
}
.stats .title p{
    width: 456px;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 300;
    color: #1f1f1f;
}
.stats .chart{
    margin-bottom: 32px;
}
.stats .word_cotents ul{
    border-bottom: 2px solid rgba(0,0,0,0.5);
    padding: 7px 0px;
}
.stats .word_cotents ul:after{
    clear: both;
    content: '';
    display: block;
}
.stats .word_cotents ul:last-child{
    border-bottom: 0;
}
.stats .word_cotents ul li{
    width: 64px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #2A292A;;
    box-sizing: border-box;
    float: left;
}
.stats .word_cotents ul li img{
    margin-right: 10px;
}
.stats .word_cotents ul.table_cell li i{
    font-style: normal;
    text-align: right;
    float: right;
    display: block;
}
.stats .word_cotents ul.table_cell li:first-child{
    font-weight: 400;
    color: #1f1f1f;
}
.stats .word_cotents ul li:first-child{
    width: 640px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
  /* stats2 */
.stats.stats2 .title{
    margin-bottom: 0;
}
.stats.stats2 .title h2{
    width: 80%;
}
.stats.stats2 .title p{
    width: 18%;
    text-align: center;
    opacity: 1;
}
.stats.stats2 .word_cotents ul li:first-child{
    width: 80%;
    font-weight: 400;
}
.stats.stats2 .word_cotents ul li:last-child{
    width: 18%;
    text-align: center;
}
  /* stats end */
  
  /* read start */
.read{
    background-color: #fafafa;
}
.read .mainImg{
    width: 100%;
    margin: 0 auto;
}
.read .sectionImg{
    height: 1316px;
    margin-bottom: 40px;
}
.read .read_wrap{
    width: 944px;
    box-sizing: border-box;
    margin: 0 auto;
}
.read .main_content_wrap {
    width: 100%;
    margin-bottom: 90px;
}
.read_wrap h2{
    height: 72px;
    line-height: 72px;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #2a292a;
    padding-top: 17px;
    border-bottom: 1.5px solid #979797;
    letter-spacing: -0.03em;
}
.read .write{
    margin-bottom: 92px;
}
.read .write:after{
    content: '';
    clear: both;
    display: block;
}
.read .writer{
    float: left;
    height: 36px;
    font-size: 24px;
    font-weight: 100;
    color: #2a292a;
    width: 670px;
    text-align: right;
    overflow: hidden;
    box-sizing: border-box;
    padding-right: 105px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.read .writer span{
    font-size: 24px;
    color: #2a292a;
    font-weight: 300;
    padding-left: 8px;
}
.read .date{
    float: right;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    color: #2a292a;
}
.read .date span{
    padding-left: 16px;
}
.read .read_wrap p{
    font-size: 24px;
    color: #2a292a;
    font-weight: 200;
    letter-spacing: -0.02em;
    margin-bottoM: 40px;
}
.read .read_wrap p.last{
    margin-bottoM: 90px;
}
.read .read_wrap > img{
    margin-bottom: 40px;
}
.read .tag{
    margin-bottom: 100px;
}
.read .tag1{
    /* width: 144px; */
    padding: 0px 35px;
    height: 40px;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #2a292a;
    overflow: hidden;
    line-height: 40px;
    display: inline-block;
    margin-right: 16px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
.read .read_profile{
    margin-bottom: 80px;

    .click{
        width: 100%;
        height: 72px;
        font-size: 16px;
        font-weight: 200;
        text-align: center;
        color: #2a292a;
        border-bottom: 2px solid #979797;
        margin-bottom: 40px;
        padding-bottom: 5px;

        &:after {
            content: '';
            clear: both;
            display: block;
        }
        & > div {
            float: left;
        }
        img {
            cursor: pointer;      
        }
        .wait {
            margin-right: 272px;

            img {
                display: block;            
                margin-bottom: 5px;
            }
        }
        .star_click{
            margin-bottom: 5px;
        }
        .sns{
            float: right;
            margin-top: 4px;
            padding: 24px;

            img{
                display: inline-block;
                margin-left: 24px;
                height: 20px;

                &:first-child{
                    margin-left: 0px;
                }
            }
        }
    }
}
  
.read .read_profile .contents_wrap{
    border-bottom: 2px solid #979797;
}
.read .contents{
    padding-bottom: 24px;
}
.read .contents:after{
    content: '';
    clear: both;
    display: block;
}
.read .contents .contents_title{
    float: left;
    width: 200px;
    letter-spacing: -0.02em;
}
.read .contents .contents_title .picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: 16px;
}
.read .contents .contents_title .name{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #2a292a;
    margin-bottom: 24px;
}
.read .contents .contents_title .title_name{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #004b8d;
    margin-bottom: 24px;
}
.read .contents .contents_title .btnFollow{
    width: 64px;
    height: 24px;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-size: 8px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    color: #004b8d;
    border: 1px solid #004b8d;
    cursor: pointer;
}
.read .contents .text{
    float: right;
    width: 680px;
    max-height: 300px;    
    overflow-y: scroll;
    font-size: 16px;
    font-weight: 200;
    color: #2a292a;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    box-sizing: border-box;
}
.read .comment_wrap{
    text-align: right;
    padding-bottom: 5px;
}
.read .comment_wrap .comment{
    display: inline-block;
    cursor: pointer;
}
.read .comment_wrap .comment span{
    display: inline-block;
    height: 48px;
    font-size: 16px;
    font-weight: normal;
    color: #2a292a;
    line-height: 34px;
    margin: 0px 15px 0px 5px;
}
.read .comment_wrap img{
    cursor: pointer;
}
.read .comment1{
    width: 944px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.read .comment1 .point{
    position: absolute;
    top: 0px;
    left: -88px;
}
.read .comment1 .contents_wrap:after{
    content: '';
    display: block;
    clear: both;
}
.read .comment1 .contents_wrap{
    padding: 40px 20px 20px 20px;
}
.read .comment1 .contents .text{
    position: relative;
}
.read .comment1 .contents .contents_title{
    width: 290px;
}
.read .comment1 .contents .contents_title .picture img{
    width: 120px;
    height: 120px;
    margin: auto auto 16px auto;
}
.read .comment1 .contents .contents_title .name{
    font-size: 16px;
    margin-bottom: 8px;
}
.read .comment1 .contents .contents_title .title_name{
    font-size: 12px;
}
.read .comment1 .contents .text{
    width: 600px;
    opacity: 0.7;
    font-size: 24px;
    font-weight: 200;
    color: #2a292a;
}
.read .comment1 .comment_wrap{
    width: 600px;
    float: right;
    position: relative;
}
.read .comment1 .comment_wrap img{
    width: 24px;
}
.read .comment1 .comment_wrap .date{
    display: inline-block;
    opacity: 0.7;
    font-family: SpoqaHanSans;
    font-size: 16px;
    font-weight: normal;
    color: #1f1f1f;
    position: absolute;
    right: 120px;
    top: -2px;
}
.read .comment1 .comment_wrap .comment span{
    height: 24px;
    line-height: 22px;
}
.read .comment1 .comment_wrap .recommendation{
    float: left;
}
.read .comment1 .comment_wrap .recommendation img{
    margin-right: 5px;
}
/* unfollow */
.read .comment1 .contents .contents_title .btnFollow.unfollow{
    color: #cc1c3b;
    border: 1px solid #cc1c3b;
}
.read .comment1 .contents .contents_title .btnFollow.unfollow{
    color: #cc1c3b;
    border: 1px solid #cc1c3b;
}
.read .comment1.write .contents{
    padding-bottom: 0px;
}
.read .comment1.write .contents_wrap{
    padding: 40px 20px;
}
.read .comment1.write .contents .text{
    width: 600px;
    height: 216px;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 16px 16px 40px 16px;
    opacity: 0.7;
    font-size: 24px;
    font-weight: 300;
    color: #2a292a;
    resize: none;
}
.read .comment1.write .contents .text  textarea{
    width: 568px;
    height: 150px;
    box-sizing: border-box;
    opacity: 0.7;
    font-size: 24px;
    font-weight: 300;
    color: #2a292a;
    resize: none;
    margin-bottom: 10px;
}
.read .comment1.write .contents .text .btn{
    width: 48px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 8px;
    font-weight: 400;
    text-align: center;
    color: #2a292a;
    border: 1px solid #2a292a;
    float: right;
    cursor: pointer;
}
/* isolated */
.read .comment1.isolated{
    margin-bottom: 92px;
}
  /* read end */
  
  
  
  
  
  /* notification start */
  
  
.notification_black{
    width: 100%;
    height: 100%;
    background: #2A292A;;
    opacity: 0.5;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 12;
}

  
.notification_box{
    width: 944px;
    height: 800px;
    display: block;
    position: absolute;
    top: 80px;
    left: 477px;
    z-index: 15;

}

  
.notification_box:after{
    content: '';
    display: block;
    clear: both;

}
  
.notification_box .notification_menu{
    width: 304px;
    height: 800px;
    background: #185c97;
    opacity: 0.9;
    float: left;
    border-radius: 10px;
    padding: 64px 0px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
  
.notification_box .notification_menu .notification_menutit1{
    margin-left: 16px;

}
  
.notification_box .notification_menu .notification_menutit1:after{
    content: '';
    display: block;
    clear: both;
}
  
.notification_box .notification_menu .notification_menutit1	.img_box{
    width: 23px;
    height: 23px;
    display: block;
    float: left;
    background: url(../images/icons/notify/noti.png) no-repeat;
    background-size: 100%;
  
}
  
.notification_box .notification_menu .notification_menutit1	.menutit1{
    width: 190px;
    height: 35px;
    display: block;
    float: left;
    font-size: 23px;
    color: #fafafa;
    font-weight: 100;
    line-height: 22px;
    margin-left: 8px;
}
  
  
  
  
.notification_box .notification_menu .notification_menutit2{
    margin-left: 16px;
    margin-top: 21px;

}

.notification_box .notification_menu .notification_menutit2:after{
    content: '';
    display: block;
    clear: both;
}

.notification_box .notification_menu .notification_menutit2	.img_box{
    width: 23px;
    height: 23px;
    display: block;
    float: left;
    background: url(../images/icons/notify/inbox.png) no-repeat;
    background-size: 100%;

}
  
.notification_box .notification_menu .notification_menutit2	.menutit1{
    width: 190px;
    height: 35px;
    display: block;
    float: left;
    font-size: 23px;
    color: #fafafa;
    font-weight: 300;
    line-height: 18px;
    margin-left: 8px;
}
  
  
  
  
.notification_box .notification_menu .notification_menutit3{
    margin-left: 16px;
    margin-top: 40px;

}

.notification_box .notification_menu .notification_menutit3:after{
    content: '';
    display: block;
    clear: both;
}

.notification_box .notification_menu .notification_menutit3	.img_box{
    width: 21px;
    height: 23px;
    display: block;
    float: left;
    background: url(../images/icons/notify/anchor1.png) no-repeat;
    background-size: 100%;

}

.notification_box .notification_menu .notification_menutit3	.menutit1{
    width: 190px;
    height: 35px;
    display: block;
    float: left;
    font-size: 23px;
    color: #fafafa;
    font-weight: 100;
    line-height: 18px;
    margin-left: 8px;
}
  
  
  
  
.notification_box .notification_menu .notification_menutit4{
    margin-left: 16px;
    margin-top: 40px;

}

.notification_box .notification_menu .notification_menutit4:after{
    content: '';
    display: block;
    clear: both;
}

.notification_box .notification_menu .notification_menutit4	.img_box{
    width: 21px;
    height: 25px;
    display: block;
    float: left;
    background: url(../images/icons/notify/trash.png) no-repeat;
    background-size: 100%;

}

.notification_box .notification_menu .notification_menutit4	.menutit1{
    width: 117px;
    height: 35px;
    display: block;
    float: left;
    font-size: 23px;
    color: #fafafa;
    font-weight: 100;
    line-height: 18px;
    margin-left: 8px;
}
  
.notification_box .notification_menu .notification_menutit4 .noti_button{
    width: 64px;
    height: 24px;
    border-radius: 8px;
    background-color: #B5C9D7;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 300;
    color: #2A292A;;
    line-height: 24px;
    text-align: center;
}


.notification_box .notification_menubox{
    width: 640px;
    height: 768px;
    background: #fafafa;
    float: left;
    margin-top:6px;
    box-sizing: border-box;
    padding: 16px;
}


.notification_box .notification_menu .notifi_hr{
    width: 288px;
    height: 2px;
    display: block;
    background: #fafafa;
    opacity: 0.5;
    margin-left: 9px;
    margin-top: 30px;
}
  
.notification_box .notification_menubox .menubox_inner1{
    width: 100%;
    height: 94px;
    display: block;
    margin-top: 32px;
    border-bottom: 2px solid #888888;
}

.notification_box .notification_menubox .menubox_inner1:after{
    content: '';
    display: block;
    clear: both;
}


.notification_box .notification_menubox .menubox_inner1 .noti_profile{
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: block;
    float: left;
}
  
.notification_box .notification_menubox .menubox_inner1 .noti_name{
    width: 200px;
    height: 45px;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: 400;
    color: #2A292A;;
    line-height: 45px;
    margin-right: 81px;
    margin-left: 10px;
}
  
.notification_box .notification_menubox .menubox_inner1 .noti_date{
    width: 150px;
    height: 45px;
    font-size: 15px;
    font-weight: 200;
    color: #2A292A;;
    display: block;
    float: left;
    line-height: 48px;
}
  
.notification_box .notification_menubox .menubox_inner1 .noti_btn1{
    width: 27px;
    height: 33px;
    display: block;
    float: left;
    background: url(../images/icons/notify/trash2.png) no-repeat;
    background-size: 100%;
    margin-top: 10px;
    margin-left: 38px;
}
  
.notification_box .notification_menubox .menubox_inner1 .noti_btn2{
    width: 27px;
    height: 33px;
    display: block;
    float: left;
    background: url(../images/icons/notify/trash.png) no-repeat;
    background-size: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.notification_box .notification_menubox .menubox_inner1 .noti_text{
    width: 400px;
    height: 30px;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 300;
    color: #2A292A;;
    line-height: 30px;
    margin-top: 10px;
}
  
  
  
  
  
  
.notification_box .notification_menubox .menubox_inner2{
    width: 100%;
    height: 94px;
    display: block;
    margin-top: 32px;
    border-bottom: 2px solid #888888;
}

.notification_box .notification_menubox .menubox_inner2:after{
    content: '';
    display: block;
    clear: both;
}

  
.notification_box .notification_menubox .menubox_inner2 .noti_profile{
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: block;
    float: left;
}

.notification_box .notification_menubox .menubox_inner2 .noti_name{
    width: 200px;
    height: 45px;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: 400;
    color: #2A292A;;
    line-height: 45px;
    margin-right: 81px;
    margin-left: 10px;
}

.notification_box .notification_menubox .menubox_inner2 .noti_date{
    width: 150px;
    height: 45px;
    font-size: 15px;
    font-weight: 200;
    color: #2A292A;;
    display: block;
    float: left;
    line-height: 48px;
}

.notification_box .notification_menubox .menubox_inner2 .noti_btn1{
    width: 27px;
    height: 33px;
    display: block;
    float: left;
    background: url(../images/icons/notify/trash2.png) no-repeat;
    background-size: 100%;
    margin-top: 10px;
    margin-left: 38px;
}

.notification_box .notification_menubox .menubox_inner2 .noti_btn2{
    width: 27px;
    height: 33px;
    display: block;
    float: left;
    background: url(../images/icons/notify/trash.png) no-repeat;
    background-size: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.notification_box .notification_menubox .menubox_inner2 .noti_text{
    width: 400px;
    height: 30px;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 300;
    color: #2A292A;;
    line-height: 30px;
    margin-top: 10px;
}

.notification_box .notification_menubox .menubox_inner2 .noti_text span{
    color: #185c97;
}
  
  /* notification end */
  
  /* modal start */
  
.modal{
    width: 944px;
    height: 672px;
    display: block;
    position: relative;
    top: 204px;
    left: 488px;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
  
.modal:after{
    content: '';
    clear: both;
    display: block;
}

.modal .modal_tit{
    width: 944px;
    height: 105px;
    display: block;
    float: left;
    text-align: center;
    font-size: 58px;
    font-weight: 400;
    line-height: 101px;
    color: #2A292A;
}
  
.modal .modal_hr{
    width: 624px;
    height: 2px;
    background-color: #6B6A6B;
    display: block;
    float: left;
    margin: 0 auto;
    margin: 0px 160px;
    margin-top: 10px;
}

.modal .modal_txt{
    width: 624px;
    height: 146px;
    display: block;
    float: left;
    margin: 0px 160px;
    margin-top: 15px;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 18px;
    color: #2A292A;
}
  
.modal .modal_txt span{
    color: #CC1C3B;
}


.modal .modal_txtbox1{
    width: 624px;
    height: 24px;
    display: block;
    float: left;
    margin: 0px 160px;
    margin-bottom: 17px;
}

.modal .modal_txtbox1:after{
    content: '';
    display: block;
    clear: both;
}

.modal .modal_txtbox1 .txtbox1_tit{
    display: block;
    float: left;
    width: 144px;
    height: 33px;
    color: #2A292A;
    text-align: left;
    font-weight: 300;
    font-size: 16px;
}
  
.modal .modal_txtbox1 .txtbox1_content{
    display: block;
    float: left;
    width: 480px;
    height: 33px;
    color: #2A292A;
    text-align: left;
    font-weight: 300;
    font-size: 16px;
}

.modal .modal_code{
    width: 624px;
    height: 35px;
    display: block;
    margin: 0px 160px;
    float: left;
    margin-top: 10px;
}
  
.modal .modal_code:after{
    content: '';
    display: block;
    clear: both;
}

.modal .modal_code .code_tit{
    width: 144px;
    height: 35px;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}
  
.modal .modal_code .code_box{
    width: 33px;
    height: 33px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 48px;
    display: block;
    float: left;
    background-color: #fafafa;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #2a292a;
    cursor: pointer;
}

.modal .modal_code .code_btn{
    width: 144px;
    height: 32px;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #2a292a;
    border-radius: 8px;
    cursor: pointer;
}

.modal .modal_check1{
    width: 624px;
    height: 24px;
    display: block;
    float: left;
    margin: 0px 160px;
    margin-top: 40px;
}

.modal .modal_check1:after{
    content: '';
    display: block;
    clear: both;
}
  
.modal .modal_check1 .check1_txt{
    width: 232px;
    height: 24px;
    line-height: 24px;
    display: block;
    float: left;
    margin-left: 150px;
    font-size: 10px;
    font-weight: 100;
    text-align: left;
    color: #2A292A;;
    opacity: 0.5;
}

.modal .modal_check1 .check1_btn{
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-left: -57px;
    border-radius: 4px;
    background-color: #eeeeee;
    cursor: pointer;
}

.modal .modal_btn{
    width: 624px;
    height: 40px;
    display: block;
    float: left;
    margin: 0px 160px;
    margin-top: 15px;
}

.modal .modal_btn:after{
    content: '';
    display: block;
    clear: both;
}
  
.modal .modal_btn .modal_innerbtn1{
    width: 144px;
    height: 40px;
    background: #004b8d;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: block;
    float: left;
    margin-left: 144px;
    font-size: 17px;
    font-weight: 200;
    color: #fafafa;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
}

.modal .modal_btn .modal_innerbtn2{
    width: 144px;
    height: 40px;
    background: #fafafa;
    border: 1px solid #2A292A;;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: block;
    float: left;
    margin-left: 16px;
    font-size: 17px;
    font-weight: 300;
    color: #444344;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
}

.modal .modal_info{
    width: 410px;
    height: 16px;
    display: block;
    margin: 0 auto;
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    float: left;
    margin-left: 304px;
    margin-top: 25px;
}

.modal .modal_info span{
    color: #93B3CF;
}
/* modal end */

/* preview start */
.read.preview{
    width: 944px;
    box-sizing: border-box;
    margin: 150px auto auto auto;
    position: relative;
    border-radius: 8px;
}
.read.preview .mainImg{
    width: 944px;
    height: auto;
}
.read.preview .main_title{
    font-size: 64px;
    font-weight: bold;
    letter-spacing: -0.03em;
    text-align: center;
    color: #2a292a;
    border-bottom: 2px solid #2a292a;
    width: 624px;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
.read.preview .close{
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 1;
}
.read.preview .read_wrap{
    width: 624px;
}
.read.preview h2{
    position: relative;
    border-bottom: 0;
    margin-bottom: 10px;
}
.read.preview h2:after{
    content: '';
    background: #979797;
    width: 944px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -160px;
}
.read.preview .writer, .read.preview .writer span, .read.preview .date{
    font-size: 16px;
}
.read.preview .write .priceBtn{
    float: left;
    font-weight: 200;
    margin-right: 70px;
}
.read.preview .write .priceBtn .btn{
    display: inline-block;
    padding: 0px 10px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0, 75, 141, 0.8);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-right: 16px;
}
.read.preview .write .priceBtn .btn span{
    display: inline-block;
}
.read.preview .writer{
    width: auto;
    font-weight: 300;
    padding-right: 0;
}
.read.preview .writer span{
    font-weight: 400;
}
.read.preview .date{
    position: relative;
    right: -150px;
}
.read.preview .read_wrap p{
    font-size: 16px;
}
.read.preview .tag{
    padding: 0 80px;
}
.read.preview .read_profile .click .star{
    position: relative;
    left: 50%;
    margin-left: -122px;
}
.read.preview .read_profile .click .sns{
    margin-right: 16px;
}
.read.preview .read_profile .contents_wrap{
    padding: 0 24px;
}
.read.preview .contents .contents_title .picture img{
    width: 204px;
    height: 204px;
    margin: auto auto 16px auto;
}
.read .contents .contents_title .btnFollow.unfollow{
    color: #cc1c3b;
    border: 1px solid #cc1c3b;
}
.read.preview .contents .text{
    width: 580px;
    font-size: 16px;
}
.read.preview .comment1{
    width: 940px;
    margin: 0 auto;
}
.read.preview .comment1 .contents_wrap{
    margin-bottom: 15px;
}
.read.preview .comment1 .contents .text{
    font-size: 24px;
}
  /* preview end */