@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

a, a:visited {
  display: block;
  text-decoration: inherit;
  color: inherit; }

input, button {
  outline: none; }

div {
  box-sizing: border-box; }

.container {
  overflow: auto;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 80px;
  font-size: 16px;
  color: #2a292a; }
  .container blockquote {
    font-style: italic;
    color: #555; }
  .container .title {
    width: 952px;
    margin: auto;
    margin-bottom: 32px;
    position: relative;
    font-size: 32px;
    outline: none; }
    .container .title.medium-editor-placeholder:after {
      content: "제목" !important; }

.editable {
  min-height: 690px; }
  .editable figcaption {
    display: none; }

.editable, #tmp {
  width: 100%;
  margin: auto;
  margin-bottom: 400px;
  position: relative; }
  .editable blockquote, #tmp blockquote {
    font-style: italic;
    color: #555; }
  .editable a:link, #tmp a:link {
    text-decoration: none; }
  .editable a:visited, #tmp a:visited {
    text-decoration: none; }
  .editable a:active, #tmp a:active {
    text-decoration: none; }
  .editable a:hover, #tmp a:hover {
    text-decoration: none;
    color: #004b8d;
    cursor: pointer; }
  .editable p, .editable h1, .editable blockquote, .editable h2, #tmp p, #tmp h1, #tmp blockquote, #tmp h2 {
    display: block;
    width: 952px;
    margin: auto !important;
    line-height: 2em; }
  .editable b, #tmp b {
    width: 952px;
    margin: auto;
    line-height: 2em; }
  .editable blockquote, #tmp blockquote {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em; }
  .editable .medium-insert-images, #tmp .medium-insert-images {
    width: 952px;
    margin: auto; }
    .editable .medium-insert-images img, #tmp .medium-insert-images img {
      max-width: 100%;
      margin: 0 0 20px 0; }
  .editable .medium-insert-images-wide, #tmp .medium-insert-images-wide {
    width: 952px;
    margin: auto; }
    .editable .medium-insert-images-wide img, #tmp .medium-insert-images-wide img {
      max-width: 100%;
      margin: 0 0 20px 0; }
  .editable .medium-insert-images-left, #tmp .medium-insert-images-left {
    width: 952px;
    margin: auto; }
    .editable .medium-insert-images-left img, #tmp .medium-insert-images-left img {
      max-width: 53.33%;
      float: left;
      margin: 0 30px 20px 0; }
  .editable .medium-insert-images-right, #tmp .medium-insert-images-right {
    width: 952px;
    margin: auto; }
    .editable .medium-insert-images-right img, #tmp .medium-insert-images-right img {
      max-width: 53.33%;
      float: right;
      margin: 0 0 20px 30px; }
  .editable .medium-insert-images-full, #tmp .medium-insert-images-full {
    width: 100%; }
    .editable .medium-insert-images-full img, #tmp .medium-insert-images-full img {
      width: 100vw; }

#tmp {
  margin-bottom: 0px;
  word-wrap: break-word;
  zoom: 70%; }

.preview-wrap {
  display: none;
  position: absolute;
  overflow-y: scroll;
  left: 0;
  top: 0;
  background-color: rgba(42, 41, 42, 0.5);
  width: 100%;
  height: 100%; }
  .preview-wrap .preview {
    position: relative;
    margin: auto;
    margin-top: 154px;
    margin-bottom: 154px;
    width: 944px;
    padding-bottom: 28px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
    .preview-wrap .preview .btn-cancel-wrap {
      cursor: pointer;
      position: absolute;
      right: -56px;
      top: -8px;
      width: 48px;
      height: 32px; }
      .preview-wrap .preview .btn-cancel-wrap .btn-cancel {
        position: fixed;
        transform: rotate(45deg);
        width: 40px;
        height: 40px; }
        .preview-wrap .preview .btn-cancel-wrap .btn-cancel:before {
          display: block;
          content: "";
          position: absolute;
          width: 45px;
          height: 3px;
          margin: 17px 0px 0px -2px;
          background: #ffffff;
          z-index: 1; }
        .preview-wrap .preview .btn-cancel-wrap .btn-cancel:after {
          content: "";
          display: inline-block;
          position: absolute;
          margin: -3px 0px 0px 19px;
          padding: 0;
          width: 3px;
          height: 45px;
          background: #ffffff;
          z-index: 1; }
    .preview-wrap .preview .ready2publish {
      width: 624px;
      margin: auto;
      margin-bottom: 79px;
      font-size: 64px;
      font-weight: bold;
      text-align: center;
      line-height: 113px;
      border-bottom: 2px solid #2a292a; }
    .preview-wrap .preview .preview-cover-img {
      margin-bottom: 93px;
      height: 401px;
      overflow: hidden;
      background-position: 50% 50%;
      background-size: cover; }
    .preview-wrap .preview .preview-title {
      padding-left: 160px;
      border-bottom: 2px solid #2a292a;
      margin-bottom: 7px;
      line-height: 64px;
      font-size: 36px;
      font-weight: bold; }
    .preview-wrap .preview .preview-content-info {
      display: flex;
      justify-content: flex-start;
      width: 624px;
      margin: auto;
      margin-bottom: 93px; }
      .preview-wrap .preview .preview-content-info .preview-read-time {
        margin-right: 82px;
        color: #c4c3c3; }
      .preview-wrap .preview .preview-content-info .preview-by {
        margin-right: 17px;
        color: #c4c3c3; }
      .preview-wrap .preview .preview-content-info .preview-author {
        font-weight: bold; }
      .preview-wrap .preview .preview-content-info .preview-create-date {
        position: absolute;
        width: 140px;
        margin-left: 638px;
        color: #c4c3c3; }
    .preview-wrap .preview .preview-main-content {
      width: 100%;
      margin-bottom: 34px; }
      .preview-wrap .preview .preview-main-content img {
        width: 100%; }
    .preview-wrap .preview .preview-tag-wrap {
      width: 784px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .preview-wrap .preview .preview-tag-wrap .preview-tag {
        display: inline-block;
        margin: auto;
        margin-bottom: 16px;
        height: 40px;
        line-height: 40px;
        padding-right: 32px;
        padding-left: 32px;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.2); }
    .preview-wrap .preview .preview-notice-wrap {
      width: 624px;
      margin: auto;
      margin-top: 32px;
      font-size: 24px;
      line-height: 32px;
      font-weight: bold; }
      .preview-wrap .preview .preview-notice-wrap .hightlight {
        color: #ff004c; }
    .preview-wrap .preview .preview-br-wrap {
      width: 624px;
      margin: auto;
      margin-top: 14px;
      display: flex;
      flex-direction: column; }
      .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap {
        width: 100%;
        display: flex;
        margin-bottom: 16px; }
        .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap .preview-br-list {
          display: inline-block;
          min-width: 144px;
          margin-right: 16px;
          margin-bottom: 16px;
          color: #616060; }
        .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap .preview-title {
          padding-left: 0px;
          font-weight: normal;
          border: none;
          line-height: 16px;
          font-size: 16px; }
        .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap .price-set-decimal {
          min-width: 40px; }
      .preview-wrap .preview .preview-br-wrap .preview-agreement-wrap {
        margin-top: 49px; }
        .preview-wrap .preview .preview-br-wrap .preview-agreement-wrap .preview-agreement {
          font-size: 10px; }
        .preview-wrap .preview .preview-br-wrap .preview-agreement-wrap .agreement-checkbox {
          margin-top: -7px; }
    .preview-wrap .preview .preview-button-wrap {
      width: 320px;
      margin: auto;
      display: flex;
      justify-content: space-around; }
      .preview-wrap .preview .preview-button-wrap .done-publish {
        width: 144px;
        height: 40px;
        border-radius: 4px;
        background-color: #004b8d;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        color: #ffffff;
        font-size: 16px;
        cursor: pointer; }
      .preview-wrap .preview .preview-button-wrap .cancel-publish {
        width: 144px;
        height: 40px;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        font-size: 16px;
        cursor: pointer; }
      .preview-wrap .preview .preview-button-wrap #btn-author-apply {
        width: 144px;
        height: 40px;
        border-radius: 4px;
        background-color: #004b8d;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        color: #ffffff;
        font-size: 16px;
        cursor: pointer; }
    .preview-wrap .preview .preview-terms-wrap {
      width: 408px;
      margin: auto;
      margin-top: 32px;
      font-size: 10px; }
      .preview-wrap .preview .preview-terms-wrap .preview-terms {
        color: #004b8d; }
    .preview-wrap .preview .author-intro-title {
      margin: 20px;
      text-align: center; }
      .preview-wrap .preview .author-intro-title > span {
        color: #2a292a;
        font-weight: 200; }
    .preview-wrap .preview .author-intro {
      margin-left: 160px;
      width: 624px;
      height: 160px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px #2a292a;
      resize: none; }
    .preview-wrap .preview #inputUrl {
      margin-left: 160px;
      margin-bottom: 16px;
      width: 624px;
      height: 40px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px #2a292a; }

/* ============================ */
/*          이어쓰기 팝업          */
/* ============================ */
.modal-extend-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 41, 42, 0.5);
  display: none; }

.modal-extend-wrap .modal-extend {
  position: relative;
  margin: auto;
  margin-top: 224px;
  width: 90%;
  max-width: 250px;
  height: 150px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 20px 0px rgba(42, 41, 42, 0.2); }

.modal-extend-wrap .modal-extend .modal-ask-text {
  display: block;
  width: 100%;
  height: calc(100% - 50px);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  padding: 22px 0;
  box-sizing: border-box; }

.modal-extend-wrap .modal-extend .modal-ask-text > span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 10px; }

.modal-ask-btn {
  width: 100%;
  position: absolute;
  bottom: 0; }

.modal-ask-btn span {
  cursor: pointer; }

.modal-ask-btn span:hover {
  opacity: 0.7; }

.modal-extend-wrap .modal-extend .btn-yes,
.modal-extend-wrap .modal-extend .btn-no {
  float: left;
  width: 50%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #2a292a;
  display: flex;
  align-items: center;
  justify-content: center; }

.modal-extend-wrap .modal-extend .btn-yes {
  float: left; }

.modal-extend-wrap .modal-extend .btn-no {
  float: right; }

.modal-success-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  height: 1500px;
  background-color: rgba(42, 41, 42, 0.5);
  display: none;
  z-index: 1000; }
  .modal-success-wrap .modal-success {
    position: relative;
    margin: auto;
    top: 0;
    margin-top: 464px;
    padding: 32px 8px 15px 8px;
    width: 304px;
    height: 192px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff; }
    .modal-success-wrap .modal-success .modal-success-text {
      display: block;
      width: 272px;
      height: 72px;
      margin: auto;
      margin-bottom: 16px;
      font-weight: 200;
      font-size: 16px;
      text-align: center; }
    .modal-success-wrap .modal-success .btn-confirm {
      width: 128px;
      height: 40px;
      padding-top: 12px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      border-radius: 8px;
      margin: auto;
      background-color: #004b8d;
      cursor: pointer; }

/* ============================ */
/*           저장 & 출판          */
/* ============================ */
.toggle-wrap {
  display: flex;
  width: 952px;
  margin: auto;
  margin-bottom: 56px;
  justify-content: flex-end; }

.toggle-wrap .btn-save,
.toggle-wrap .btn-publish {
  height: 30px;
  border-radius: 15px;
  background-color: rgba(42, 41, 42, 0.03);
  border: 1px solid rgba(42, 41, 42, 0.03);
  font-size: 0.9rem;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  padding: 0 24px;
  cursor: pointer;
  float: left; }

.btn-save + .btn-publish {
  margin-left: 20px; }

/* 출판 박스 */
.toggle-wrap .arrow-box {
  display: none;
  width: 304px;
  position: absolute;
  margin-top: 46px;
  background-color: #ffffff;
  border-radius: 5px;
  	/*
      display: none;
  	*/
  box-shadow: 0 0px 20px 0 rgba(42, 41, 42, 0.1);
  padding: 20px;
  z-index: 700;
  box-sizing: border-box;
  text-align: left; }

.toggle-wrap .arrow-box:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ffffff;
  transform: rotate(45deg);
  top: -8px;
  left: 259px;
  box-shadow: -1px -1px 4px -2px rgba(42, 41, 42, 0.5); }

/* --- Cover Wrap --- */
.toggle-wrap .arrow-box .cover-wrap {
  width: 100%;
  padding-bottom: 20px; }

.toggle-wrap .arrow-box .arrow-text {
  font-size: 1rem;
  font-weight: 700; }

.toggle-wrap .arrow-box .arrow-disc {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.4;
  padding: 10px 0 20px; }

.toggle-wrap .arrow-box .cover-wrap .cover-img-wrap .cover-img-css-wrap {
  width: 240px;
  height: 160px;
  margin: 0 auto;
  border: 1px solid rgba(42, 41, 42, 0.2);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: rgba(42, 41, 42, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }

.toggle-wrap .arrow-box .cover-wrap .cover-img-wrap input {
  position: absolute;
  width: 240px;
  height: 160px;
  margin-left: 24px;
  margin-top: -160px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  cursor: pointer; }

.toggle-wrap .arrow-box .cover-wrap .cover-img-wrap img {
  width: 240px;
  max-height: 160px;
  margin: auto;
  display: block; }

/* --- Tag Wrap --- */
.toggle-wrap .arrow-box .tag-wrap {
  padding: 20px 0;
  border-top: 1px dotted #2a292a; }

.toggle-wrap .arrow-box .tag-wrap .tag-input {
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  display: block;
  width: 104px;
  height: 30px;
  border-radius: 50px;
  background-color: rgba(42, 41, 42, 0.03);
  border: 1px solid rgba(42, 41, 42, 0.03);
  font-size: 0.8rem;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  outline: none; }

.toggle-wrap .arrow-box .tag-wrap .tag-input:focus {
  border: 1px solid #f1f1f1;
  background-color: #fff; }

.toggle-wrap .arrow-box .tag-wrap .tag-added {
  min-height: 26px;
  font-size: 12px;
  display: inline-block;
  padding-top: 10px; }

.toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap {
  justify-content: start;
  float: left;
  color: #7e7d7d;
  position: relative;
  display: block;
  height: 26px;
  border-radius: 50px;
  background-color: rgba(42, 41, 42, 0.03);
  border: 1px solid rgba(42, 41, 42, 0.03);
  font-size: 0.6rem;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.8px;
  cursor: default;
  outline: none;
  padding: 0 24px 0 14px;
  margin-top: 8px; }

.added-tag-wrap + .added-tag-wrap {
  margin-left: 8px; }

.toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap .tag-cancel {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 13px;
  height: 13px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(42, 41, 42, 0.5);
  border-radius: 50%; }

.toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap .tag-cancel:hover {
  background-color: rgba(42, 41, 42, 0.3); }

.toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap .tag-cancel:before {
  content: '';
  position: absolute;
  width: 60%;
  height: 1px;
  top: 55%;
  left: 3px;
  margin-top: -1px;
  background-color: #f8f8f8;
  transform: rotate(45deg); }

.toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap .tag-cancel:after {
  content: '';
  position: absolute;
  width: 60%;
  height: 1px;
  top: 55%;
  left: 3px;
  margin-top: -1px;
  background-color: #f8f8f8;
  transform: rotate(-45deg); }

.toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap .tag-name {
  font-size: 0.8rem;
  line-height: 28px;
  color: #2a292a; }

/* --- Recommendation Wrap --- */
.toggle-wrap .arrow-box .recommendation-wrap {
  padding: 20px 0;
  border-top: 1px dotted #2a292a; }

.toggle-wrap .arrow-box .recommendation-wrap .recommendation-writer {
  width: 100%;
  position: relative; }

.recommendation-writer .recommendation-input {
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(42, 41, 42, 0.03);
  border: 1px solid rgba(42, 41, 42, 0.03);
  font-size: 0.8rem;
  line-height: 26px;
  font-weight: 500;
  text-align: left;
  outline: none;
  box-sizing: border-box; }

.recommendation-writer .recommendation-input::placeholder {
  text-align: left;
  font-size: 0.7rem; }

.recommendation-writer .recommendation-input:focus {
  border: 1px solid #f1f1f1;
  background-color: #fff; }

.recommendation-input + .recommendation-input {
  margin-top: 10px; }

/* --- Price Wrap --- */
.toggle-wrap .arrow-box .price-wrap {
  padding: 20px 0;
  border-top: 1px dotted #2a292a; }

.toggle-wrap .arrow-box .price-wrap .audio-progress {
  width: 100%;
  height: .5rem;
  background-color: rgba(42, 41, 42, 0.1);
  border-radius: 4px;
  margin: 20px 0; }

.toggle-wrap .arrow-box .price-wrap .draggable {
  float: left;
  margin: 0 10px 10px 0; }

.toggle-wrap .arrow-box .price-wrap #audio-progress-handle {
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -6px;
  margin-left: -5px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.toggle-wrap .arrow-box .price-wrap .audio-progress .bar {
  height: 100%;
  background-color: #2a292a;
  border-radius: 4px; }

.toggle-wrap .arrow-box .price-wrap .price-set-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  line-height: 24px; }

.toggle-wrap .arrow-box .price-wrap .price-set-wrap .price-set-decimal {
  color: #2a292a;
  font-weight: 800; }

.toggle-wrap .arrow-box .price-wrap .price-set-wrap .price-set-point {
  color: #2a292a;
  font-weight: 300; }

.toggle-wrap .arrow-box .btn-publish-final {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #2a292a;
  border: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-align: center;
  cursor: pointer; }

.btn_disabled {
  background-color: rgba(42, 41, 42, 0.1) !important;
  cursor: default; }

.profile-wrap {
  width: 952px;
  margin: auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: start; }
  .profile-wrap .profile-img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    z-index: 0;
    background-size: cover; }
  .profile-wrap .profile-sub-wrap {
    margin-left: 16px; }
    .profile-wrap .profile-sub-wrap .username {
      height: 36px;
      font-size: 24px;
      line-height: 36px;
      font-family: "SpoqaHanSans"; }
    .profile-wrap .profile-sub-wrap .state {
      display: inline-block;
      margin-top: 4px;
      margin-right: 16px;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      color: #004b8d; }
    .profile-wrap .profile-sub-wrap .read-time {
      display: inline-block;
      color: #c4c3c3; }

/* Recommendation */
.recommendation {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-top: 40px; }

.recommendation p {
  font-size: 14px;
  line-height: 1;
  font-weight: 800;
  text-align: left;
  margin-bottom: 5px; }

.recommendation .recommendation-list-wrap {
  position: relative;
  margin-top: 20px;
  padding: 0 10px; }

.recommendation .recommendation-list-wrap p {
  position: relative;
  font-size: 0.86rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
  padding: 0 14px;
  margin-right: 5px;
  margin-bottom: 10px; }

.recommendation .recommendation-list-wrap .icon-ok {
  margin-right: 8px; }

/* Preview Writer Button */
.preview-writer-button-wrap {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.price-set-decimal {
  width: 196px;
  height: 60px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: 12px 18px 8px 18px;
  border-top: 1px solid rgba(42, 41, 42, 0.1);
  border-bottom: 1px solid rgba(42, 41, 42, 0.1);
  border-right: none;
  border-left: none;
  border-radius: 5px;
  cursor: default; }

.price-set-decimal p {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem; }

.price-set-decimal span {
  font-weight: 800; }

.preview-agreement-wrap {
  display: flex;
  margin-top: 30px; }

.preview-agreement-wrap .agree_checkbox {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  float: left; }

.preview-agreement-wrap .agree_text {
  position: relative;
  float: left;
  margin-left: 10px;
  font-size: 0.8rem;
  line-height: 12px;
  font-weight: 500;
  color: gba(255, 255, 255, 0.3); }

.preview-agreement-wrap span {
  font-weight: 500;
  color: #004b8d;
  cursor: pointer; }

.preview-writer-button {
  margin-top: 16px; }

.preview-writer-button button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 18px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer; }

.preview-writer-button .btn_disabled {
  border: 1px solid #B0B0B0;
  background-color: #B0B0B0;
  color: #fff;
  cursor: default; }

.preview-writer-button .btn_disabled:hover {
  opacity: 1; }

.preview-writer-button .done-publish:hover {
  opacity: 0.9; }

.preview-writer-button .cancel-publish:hover {
  border: 1px solid rgba(42, 41, 42, 0.15);
  color: #2a292a; }

.preview-writer-button .done-publish {
  border: 1px solid #2a292a;
  background-color: #2a292a;
  color: #fff;
  cursor: pointer; }

.preview-writer-button .cancel-publish {
  border: 1px solid rgba(42, 41, 42, 0.1);
  background-color: #fff;
  color: rgba(42, 41, 42, 0.8); }

.preview-terms-wrap {
  font-size: 0.7rem;
  font-weight: 400;
  color: #2a292a;
  cursor: default;
  letter-spacing: -0.5px;
  line-height: 1.5;
  margin-top: 60px; }

.preview-terms-wrap .preview-terms {
  font-weight: 600;
  color: #004b8d;
  cursor: pointer; }

/*# sourceMappingURL=write.css.map */
