@charset "UTF-8";
input, button {
  outline: none; }

.container {
  margin: 0 auto;
  margin-top: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 80px;
  font-size: 16px;
  color: #2a292a; }
  .container blockquote {
    font-style: italic;
    color: #555; }
  .container .title {
    width: 952px;
    margin: auto;
    margin-bottom: 32px;
    position: relative;
    font-size: 32px;
    outline: none; }
    .container .title.medium-editor-placeholder:after {
      content: "제목" !important; }
  .container .editable {
    min-height: 690px; }
  .container .editable, .container #tmp {
    width: 100%;
    margin: auto;
    margin-bottom: 400px;
    position: relative; }
    .container .editable a:link, .container #tmp a:link {
      text-decoration: none;
      color: #004b8d; }
    .container .editable a:visited, .container #tmp a:visited {
      text-decoration: none;
      color: #004b8d; }
    .container .editable a:active, .container #tmp a:active {
      text-decoration: none;
      color: #004b8d; }
    .container .editable a:hover, .container #tmp a:hover {
      text-decoration: none;
      color: #004b8d;
      cursor: pointer; }
    .container .editable p, .container .editable h1, .container .editable blockquote, .container .editable h2, .container #tmp p, .container #tmp h1, .container #tmp blockquote, .container #tmp h2 {
      display: block;
      width: 952px;
      margin: auto;
      line-height: 2em; }
    .container .editable b, .container #tmp b {
      width: 952px;
      margin: auto;
      line-height: 2em; }
    .container .editable blockquote, .container #tmp blockquote {
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em; }
    .container .editable .medium-insert-images, .container #tmp .medium-insert-images {
      width: 952px;
      margin: auto; }
      .container .editable .medium-insert-images img, .container #tmp .medium-insert-images img {
        max-width: 100%;
        margin: 0 0 20px 0; }
    .container .editable .medium-insert-images-wide, .container #tmp .medium-insert-images-wide {
      width: 952px;
      margin: auto; }
      .container .editable .medium-insert-images-wide img, .container #tmp .medium-insert-images-wide img {
        max-width: 100%;
        margin: 0 0 20px 0; }
    .container .editable .medium-insert-images-left, .container #tmp .medium-insert-images-left {
      width: 952px;
      margin: auto; }
      .container .editable .medium-insert-images-left img, .container #tmp .medium-insert-images-left img {
        max-width: 53.33%;
        float: left;
        margin: 0 30px 20px 0; }
    .container .editable .medium-insert-images-right, .container #tmp .medium-insert-images-right {
      width: 952px;
      margin: auto; }
      .container .editable .medium-insert-images-right img, .container #tmp .medium-insert-images-right img {
        max-width: 53.33%;
        float: right;
        margin: 0 0 20px 30px; }
    .container .editable .medium-insert-images-full, .container #tmp .medium-insert-images-full {
      width: 100%; }
  .container #tmp {
    margin-bottom: 0px;
    word-wrap: break-word; }
  .container .preview-wrap {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(42, 41, 42, 0.5);
    width: 100%;
    height: 100%;
    min-height: 2000px;
    display: none; }
    .container .preview-wrap .preview {
      position: relative;
      margin: auto;
      margin-top: 154px;
      margin-bottom: 154px;
      width: 944px;
      padding-bottom: 28px;
      background-color: #ffffff;
      z-index: 1005;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
      .container .preview-wrap .preview .btn-cancel-wrap {
        cursor: pointer;
        position: absolute;
        right: -56px;
        top: -8px;
        width: 32px;
        height: 32px; }
        .container .preview-wrap .preview .btn-cancel-wrap .btn-cancel {
          position: fixed;
          transform: rotate(45deg); }
          .container .preview-wrap .preview .btn-cancel-wrap .btn-cancel:before {
            display: block;
            content: "";
            position: absolute;
            width: 45px;
            height: 3px;
            margin: 7px 0px 0px -7px;
            background: #ffffff;
            z-index: 1; }
          .container .preview-wrap .preview .btn-cancel-wrap .btn-cancel:after {
            content: "";
            display: inline-block;
            position: absolute;
            margin: -14px 0px 0px 14px;
            padding: 0;
            width: 3px;
            height: 45px;
            background: #ffffff;
            z-index: 1; }
      .container .preview-wrap .preview .ready2publish {
        width: 624px;
        margin: auto;
        margin-bottom: 79px;
        font-size: 64px;
        font-weight: bold;
        text-align: center;
        line-height: 113px;
        border-bottom: 2px solid #2a292a; }
      .container .preview-wrap .preview .preview-cover-img {
        margin-bottom: 93px;
        height: 401px;
        overflow: hidden; }
        .container .preview-wrap .preview .preview-cover-img img {
          width: 100%; }
      .container .preview-wrap .preview .preview-title {
        padding-left: 160px;
        border-bottom: 2px solid #2a292a;
        margin-bottom: 7px;
        line-height: 64px;
        font-size: 36px;
        font-weight: bold; }
      .container .preview-wrap .preview .preview-content-info {
        display: flex;
        justify-content: flex-start;
        width: 624px;
        margin: auto;
        margin-bottom: 93px; }
        .container .preview-wrap .preview .preview-content-info .preview-read-time {
          margin-right: 82px;
          color: #c4c3c3; }
        .container .preview-wrap .preview .preview-content-info .preview-by {
          margin-right: 17px;
          color: #c4c3c3; }
        .container .preview-wrap .preview .preview-content-info .preview-author {
          font-weight: bold; }
        .container .preview-wrap .preview .preview-content-info .preview-create-date {
          position: absolute;
          width: 140px;
          margin-left: 638px;
          color: #c4c3c3; }
      .container .preview-wrap .preview .preview-main-content {
        width: 100%;
        margin-bottom: 34px; }
        .container .preview-wrap .preview .preview-main-content img {
          width: 100%; }
      .container .preview-wrap .preview .preview-tag-wrap {
        width: 784px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .container .preview-wrap .preview .preview-tag-wrap .preview-tag {
          display: inline-block;
          margin: auto;
          margin-bottom: 16px;
          height: 40px;
          line-height: 40px;
          padding-right: 32px;
          padding-left: 32px;
          border-radius: 4px;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.2); }
      .container .preview-wrap .preview .preview-notice-wrap {
        width: 624px;
        margin: auto;
        margin-top: 32px;
        font-size: 24px;
        line-height: 32px;
        font-weight: bold; }
        .container .preview-wrap .preview .preview-notice-wrap .hightlight {
          color: #ff004c; }
      .container .preview-wrap .preview .preview-br-wrap {
        width: 624px;
        margin: auto;
        margin-top: 14px;
        display: flex;
        flex-direction: column; }
        .container .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap {
          width: 100%;
          display: flex;
          margin-bottom: 16px; }
          .container .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap .preview-br-list {
            display: inline-block;
            min-width: 144px;
            margin-right: 16px;
            margin-bottom: 16px;
            color: #616060; }
          .container .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap .preview-title {
            padding-left: 0px;
            font-weight: normal;
            border: none;
            line-height: 16px;
            font-size: 16px; }
          .container .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap .price-set-decimal {
            min-width: 40px; }
          .container .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap .octo-code {
            width: 32px;
            height: 32px;
            border-radius: 8px;
            background-color: #fafafa;
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
            border: solid 1px #2a292a;
            margin-right: 48px;
            text-align: center; }
          .container .preview-wrap .preview .preview-br-wrap .preview-br-list-wrap .find-octo-code-button {
            width: 144px;
            height: 32px;
            margin-top: 2px;
            border-radius: 4px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
            font-size: 16px;
            cursor: pointer; }
        .container .preview-wrap .preview .preview-br-wrap .preview-agreement-wrap {
          margin-top: 49px; }
          .container .preview-wrap .preview .preview-br-wrap .preview-agreement-wrap .preview-agreement {
            font-size: 10px; }
          .container .preview-wrap .preview .preview-br-wrap .preview-agreement-wrap .agreement-checkbox {
            margin-top: -7px; }
      .container .preview-wrap .preview .preview-button-wrap {
        width: 320px;
        margin: auto;
        display: flex;
        justify-content: space-around; }
        .container .preview-wrap .preview .preview-button-wrap .done-publish {
          width: 144px;
          height: 40px;
          border-radius: 4px;
          background-color: #004b8d;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          color: #ffffff;
          font-size: 16px;
          cursor: pointer; }
        .container .preview-wrap .preview .preview-button-wrap .cancel-publish {
          width: 144px;
          height: 40px;
          border-radius: 4px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          font-size: 16px;
          cursor: pointer; }
      .container .preview-wrap .preview .preview-terms-wrap {
        width: 396px;
        margin: auto;
        margin-top: 32px;
        font-size: 10px; }
        .container .preview-wrap .preview .preview-terms-wrap .preview-terms {
          color: #004b8d; }

.modal-extend-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  height: 1500px;
  background-color: rgba(42, 41, 42, 0.5);
  display: none; }
  .modal-extend-wrap .modal-extend {
    position: relative;
    margin: auto;
    top: 0;
    margin-top: 224px;
    padding: 32px 8px 15px 8px;
    width: 304px;
    height: 192px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff; }
    .modal-extend-wrap .modal-extend .modal-ask-text {
      display: block;
      width: 222px;
      height: 72px;
      margin: auto;
      margin-bottom: 32px;
      font-weight: 300;
      font-size: 16px;
      text-align: center; }
      .modal-extend-wrap .modal-extend .modal-ask-text > span {
        display: block; }
    .modal-extend-wrap .modal-extend .btn-yes, .modal-extend-wrap .modal-extend .btn-no {
      float: left;
      width: 128px;
      height: 40px;
      padding-top: 6px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      border-radius: 8px; }
    .modal-extend-wrap .modal-extend .btn-yes {
      margin-right: 32px;
      background-color: #004b8d; }
    .modal-extend-wrap .modal-extend .btn-no {
      background-color: #cc1c3b; }

.toggle-wrap {
  display: flex;
  width: 952px;
  margin: auto;
  margin-bottom: 56px;
  justify-content: flex-end;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }
  .toggle-wrap .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 8.5px;
    vertical-align: middle; }
  .toggle-wrap .switch input {
    display: none; }
  .toggle-wrap .slider {
    position: absolute;
    cursor: pointer;
    top: 8.75px;
    left: 0;
    right: 0;
    bottom: -8.75px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .toggle-wrap .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: -8.75px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s; }
  .toggle-wrap input:checked + .slider {
    background-color: #2196F3; }
  .toggle-wrap input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .toggle-wrap input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .toggle-wrap .slider.round {
    border-radius: 34px; }
  .toggle-wrap .slider.round:before {
    border-radius: 50%; }
  .toggle-wrap p {
    margin: 0px;
    width: 20px;
    margin-top: 5px;
    margin-left: 4px;
    display: inline-block;
    font-size: 7px;
    font-family: "SpoqaHanSansBold"; }
  .toggle-wrap .btn-save {
    width: 62px;
    height: 22px;
    margin-left: 44px;
    font-size: 12px;
    text-align: center;
    border-radius: 7px;
    border: solid 1px #2a292a;
    cursor: pointer; }
  .toggle-wrap .btn-publish {
    width: 70px;
    height: 22px;
    margin-left: 8px;
    padding-left: 0px;
    font-size: 12px;
    text-align: center;
    border-radius: 7px;
    border: solid 1px #2a292a;
    cursor: pointer; }
    .toggle-wrap .btn-publish .css-arrow {
      position: absolute;
      height: 0px;
      width: 0px;
      margin-top: 5px;
      margin-left: 16px;
      border-top: 6px solid #2a292a;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent; }
  .toggle-wrap .arrow-box {
    width: 304px;
    position: absolute;
    margin-top: 46px;
    background-color: #ffffff;
    border-radius: 8px;
    display: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 1003; }
    .toggle-wrap .arrow-box:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: #ffffff;
      transform: rotate(45deg);
      top: -8px;
      left: 259px;
      box-shadow: -1px -1px 2px -2px rgba(0, 0, 0, 0.5); }
    .toggle-wrap .arrow-box .cover-wrap {
      width: 288px;
      margin: auto;
      margin-top: 8px;
      border-bottom: 1px solid #2a292a; }
      .toggle-wrap .arrow-box .cover-wrap .cover-text {
        text-align: left;
        font-size: 16px;
        line-height: 24px; }
      .toggle-wrap .arrow-box .cover-wrap .cover-disc {
        text-align: left;
        color: #c4c3c3;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 24px; }
      .toggle-wrap .arrow-box .cover-wrap .cover-img-wrap {
        margin-bottom: 7px; }
        .toggle-wrap .arrow-box .cover-wrap .cover-img-wrap .cover-img-css-wrap {
          width: 240px;
          height: 160px;
          margin: auto;
          border: 1px solid rgba(42, 41, 42, 0.5); }
          .toggle-wrap .arrow-box .cover-wrap .cover-img-wrap .cover-img-css-wrap .default-img-css-wrap {
            width: 66px;
            height: 66px;
            margin: auto;
            margin-top: 30px;
            overflow: hidden;
            border: 5px solid rgba(42, 41, 42, 0.5);
            border-radius: 3px; }
            .toggle-wrap .arrow-box .cover-wrap .cover-img-wrap .cover-img-css-wrap .default-img-css-wrap .default-img-css:before {
              content: '';
              position: absolute;
              width: 4px;
              height: 4px;
              margin: 8px;
              border: 5px solid rgba(22, 10, 22, 0.5);
              border-radius: 50%; }
            .toggle-wrap .arrow-box .cover-wrap .cover-img-wrap .cover-img-css-wrap .default-img-css-wrap .default-img-css:after {
              content: '';
              display: inline-block;
              transform: rotate(45deg);
              width: 48px;
              height: 48px;
              margin-top: 28px;
              margin-left: 8px;
              border: 5px solid rgba(42, 41, 42, 0.5);
              border-radius: 3px; }
          .toggle-wrap .arrow-box .cover-wrap .cover-img-wrap .cover-img-css-wrap .default-img-text {
            display: block;
            text-align: center;
            margin-top: 22px;
            font-size: 18px;
            color: #c4c3c3; }
        .toggle-wrap .arrow-box .cover-wrap .cover-img-wrap input {
          position: absolute;
          width: 240px;
          height: 160px;
          margin-left: 24px;
          margin-top: -160px;
          opacity: 0;
          filter: alpha(opacity=0);
          -ms-filter: alpha(opacity=0);
          cursor: pointer; }
        .toggle-wrap .arrow-box .cover-wrap .cover-img-wrap img {
          width: 240px;
          max-height: 160px;
          margin: auto;
          display: block; }
    .toggle-wrap .arrow-box .tag-wrap {
      width: 288px;
      margin: auto;
      margin-top: 7px;
      border-bottom: 1px solid #2a292a; }
      .toggle-wrap .arrow-box .tag-wrap .tag-text {
        text-align: left;
        font-size: 16px; }
      .toggle-wrap .arrow-box .tag-wrap .tag-disc {
        text-align: left;
        color: #c4c3c3;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px; }
      .toggle-wrap .arrow-box .tag-wrap .tag-input {
        text-align: center;
        display: block;
        margin-left: 24px;
        margin-bottom: 8px;
        width: 160px;
        height: 24px;
        border-radius: 8px;
        border: solid 1px #2a292a;
        outline: none; }
      .toggle-wrap .arrow-box .tag-wrap .tag-added {
        min-height: 39px;
        font-size: 12px;
        display: inline-block; }
        .toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap {
          display: flex;
          justify-content: start;
          float: left;
          color: #7e7d7d; }
          .toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap .tag-cancel {
            border: 6.5px solid #004b8d;
            border-radius: 50%;
            position: relative;
            width: 1px;
            height: 1px;
            top: -1px;
            margin-right: 6px;
            margin-left: 9px;
            transform: rotate(45deg);
            cursor: pointer; }
            .toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap .tag-cancel:before {
              display: block;
              content: "";
              position: absolute;
              width: 11px;
              height: 1px;
              margin: -1px 0px 0px -6px;
              background: #ffffff;
              z-index: 1; }
            .toggle-wrap .arrow-box .tag-wrap .tag-added .added-tag-wrap .tag-cancel:after {
              content: "";
              display: inline-block;
              position: absolute;
              margin: -6px 0px 0px -1px;
              padding: 0;
              width: 1px;
              height: 11px;
              background: #ffffff;
              z-index: 1; }
    .toggle-wrap .arrow-box .price-wrap {
      width: 288px;
      margin: auto;
      margin-top: 7px;
      border-bottom: 1px solid #2a292a; }
      .toggle-wrap .arrow-box .price-wrap .price-text {
        text-align: left;
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 24px; }
      .toggle-wrap .arrow-box .price-wrap .audio-progress {
        height: .5rem;
        width: 224px;
        background-color: #C0C0C0;
        border-radius: 4px;
        margin: auto;
        margin-bottom: 15px; }
        .toggle-wrap .arrow-box .price-wrap .audio-progress .bar {
          height: 100%;
          background-color: #004b8d;
          border-radius: 4px; }
      .toggle-wrap .arrow-box .price-wrap #audio-progress-handle {
        display: block;
        position: absolute;
        z-index: 1;
        margin-top: -8px;
        margin-left: -10px;
        width: 22px;
        height: 22px;
        border: 4px solid #D3D5DF;
        border-top-color: #D3D5DF;
        border-right-color: #D3D5DF;
        transform: rotate(45deg);
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
      .toggle-wrap .arrow-box .price-wrap .draggable {
        float: left;
        margin: 0 10px 10px 0; }
      .toggle-wrap .arrow-box .price-wrap .price-set-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        line-height: 24px; }
        .toggle-wrap .arrow-box .price-wrap .price-set-wrap .price-set-decimal {
          color: #004b8d;
          font-weight: bold; }
        .toggle-wrap .arrow-box .price-wrap .price-set-wrap .price-set-point {
          color: #858585; }
    .toggle-wrap .arrow-box .btn-publish-final {
      display: block;
      width: 120px;
      height: 40px;
      border-radius: 8px;
      background-color: #004b8d;
      border: solid 1px #2a292a;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      margin-top: 13px;
      margin-right: 8px;
      margin-bottom: 12px;
      float: right;
      cursor: pointer; }

.profile-wrap {
  width: 952px;
  margin: auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: start; }
  .profile-wrap .profile-img {
    width: 64px; }
    .profile-wrap .profile-img img {
      border-radius: 50%; }
  .profile-wrap .profile-sub-wrap {
    margin-left: 16px; }
    .profile-wrap .profile-sub-wrap .username {
      height: 36px;
      font-size: 24px;
      line-height: 36px;
      font-family: "SpoqaHanSansBold"; }
    .profile-wrap .profile-sub-wrap .state {
      display: inline-block;
      margin-top: 4px;
      margin-right: 16px;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      color: #004b8d; }
    .profile-wrap .profile-sub-wrap .read-time {
      display: inline-block;
      color: #c4c3c3; }

/*# sourceMappingURL=write.css.map */
