<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Micro Publishing Platform, octocolumn</title>
<!-- core CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'support/css/main.css' %}">
<link rel="stylesheet" href="{% static 'support/css/style.css' %}">
<link rel="stylesheet" href="{% static 'support/css/style.scss' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon.css' %}">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</head>

<body class="bg-color">
<!-- wrapper -->
<div class="page bg-color">
	<!-- header -->
    <header tabindex="0"><span>Support</span></header>
    {% if login %}
        {% include 'support/s_header_on.html' %}
    {% else %}
        <script>window.location.href = '/signin/'</script>
        {% include 'support/s_header.html' %}
    {% endif %}
    <div class="profile-img"></div>
    <div id="profile-container">
    	<div class="profile-text">Joyce Henry</div>
    </div>
    
	<!-- main content -->
    <main>
    <div class="full-img policies-img01">
    	<div class="policies-title-container">
            <h4 class="policies-title">무엇을 도와드릴까요?</h4>
            <div class="search-container">
                <div class="search-box">
                    <div class="search-icon-container">
                        <div class="search-icon"></div>
                    </div>
                    <input class="search-input" id="search" type="text" placeholder="궁금한 내용을 검색해보세요."/>
                    <ul class="search-results" id="results"></ul>
                </div>
            </div>
            <h6 class="policies-muted">또는 support@octocolumn.com으로 email을 보내주세요.</h6>
        </div>
    </div>
    
    <div class="sub-container-40vh">
    	<!-- policies-container 01 -->
        <div class="policies-container-title">
            <span>도움</span><i class="right-arrow"></i><span>계정</span><i class="right-arrow"></i><span>일반</span><i class="right-arrow"></i><span>이메일로 로그인/가입</span>
        </div>
        <!-- policies-container 02 -->
        <div class="help-container-sub">
            <h4>이메일로 로그인/가입</h4>
            <ul style="list-style-type: decimal">
            이메일 주소로 octocolumn에 로그인하려면 다음과 같이 하세요.
                <li>Sign in을 클릭하세요.</li>
                <li>이메일 주소와 비밀번호를 입력하고 로그인을 클릭하세요.</li>
            </ul>
            <ul style="list-style-type: decimal">
            이메일 주소로 octocolumn에 가입하려면 다음과 같이 하세요.
                <li>Sign up을 클릭하세요.</li>
                <li>개인 회원 또는 기업 회원을 선택하세요.</li>
                <li>사용자 아이디와 이메일 주소를 입력하세요.</li>
                <li>영문, 숫자 조합의 6자리 비밀번호를 입력하고, 같은 비밀번호를 다시 입력하세요.</li>
                <li>'이용약관'과 '개인정보 취급방침'을 읽어본 후, 동의한다면 체크박스를 눌러주세요.</li>
                <li>회원가입 버튼을 눌러주세요.</li>
                <li>입력하신 이메일의 받은 편지함으로 이동해서 이메일을 확인해주세요.</li>
                <li>'가입 완료' 버튼을 눌러서 octocolumn에 가입합니다.</li>
            </ul>
        </div>
    </div>
	</main>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'support/js/index.js' %}"></script>
</body>
</html>
