<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Micro Publishing Platform, octocolumn</title>
<!-- core CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'support/css/main.css' %}">
<link rel="stylesheet" href="{% static 'support/css/style.css' %}">
<link rel="stylesheet" href="{% static 'support/scss/style.scss' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon.css' %}">
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</head>

<body class="bg-color">
<!-- wrapper -->
<div class="page bg-color">
	<!-- header -->
    <header tabindex="0"><span>Support</span></header>
    {% if login %}
        {% include 'support/s_header_on.html' %}
    {% else %}
        <script>window.location.href = '/signin/'</script>
        {% include 'support/s_header.html' %}
    {% endif %}
    <div class="profile-img"></div>
    <div id="profile-container">
    	<div class="profile-text">Joyce Henry</div>
    </div>
    
	<!-- main content -->
    <main>
    <div class="full-img policies-img01">
    	<div class="policies-title-container">
            <h4 class="policies-title">무엇을 도와드릴까요?</h4>
            <div class="search-container">
                <div class="search-box">
                    <div class="search-icon-container">
                        <div class="search-icon"></div>
                    </div>
                    <input class="search-input" id="search" type="text" placeholder="궁금한 내용을 검색해보세요."/>
                    <ul class="search-results" id="results"></ul>
                </div>
            </div>
            <h6 class="policies-muted">또는 support@octocolumn.com으로 email을 보내주세요.</h6>
        </div>
    </div>
    
    <div class="sub-container-40vh">
    	<!-- help-container 01 -->
        <div class="help-container-rectangle">
        	<div class="category-container">
            	<a href="#" class="category full-left">
                	<div class="help-icon">
                        <!-- icon 01 -->
                        <div class="help-icon-container">
                        	<div class="ion-flag"></div>
                        </div>
                    </div>
                    <p class="help-text">시작하기</p>
                </a></div>
            <div class="category-container">
            	<a href="help-2.html" class="category mid">
                    <div class="help-icon">
                        <!-- icon 02 -->
                        <div class="help-icon-container">
                        	<div class="ion-ios-people"></div>
                        </div>
                    </div>
                    <p class="help-text">계정</p>
                </a></div>
            <div class="category-container">
            	<a href="#" class="category full-right">
                    <div class="help-icon">
                        <!-- icon 03 -->
                        <div class="help-icon-container">
                        	<div class="ion-battery-charging"></div>
                        </div>
                    </div>
                    <p class="help-text">포인트</p>
                </a></div>
        </div>
        <!-- help-container 02 -->
        <div class="help-container-rectangle">
        	<div class="category-container">
            	<a href="#" class="category full-left">
                	<div class="help-icon">
                    	<!-- icon 04 -->
                        <div class="help-icon-container">
                        	<div class="ion-ios-compose"></div>
                        </div>
                    </div>
                    <p class="help-text">쓰기</p>
                </a></div>
            <div class="category-container">
            	<a href="#" class="category full-left">
                	<div class="help-icon">
                    	<!-- icon 05 -->
                        <div class="help-icon-container">
                        	<div class="ion-ios-glasses"></div>
                        </div>
                    </div>
                    <p class="help-text">읽기</p>
                </a></div>
            <div class="category-container">
            	<a href="#" class="category full-left">
                	<div class="help-icon">
                    	<!-- icon 06 -->
                        <div class="help-icon-container">
                        	<div class="ion-earth"></div>
                        </div>
                    </div>
                    <p class="help-text">브랜드</p>
                </a></div>
        </div>
        <!-- help-container 03 -->
        <div class="help-container-rectangle">
        	<div class="category-container">
            	<a href="#" class="category full-left">
                	<div class="help-icon">
                    	<!-- icon 07 -->
                        <div class="help-icon-container">
                        	<div class="ion-card"></div>
                        </div>
                    </div>
                    <p class="help-text">결제</p>
                </a></div>
            <div class="category-container">
            	<a href="#" class="category full-left">
                	<div class="help-icon">
                    	<!-- icon 08 -->
                        <div class="help-icon-container">
                        	<div class="ion-android-more-horizontal"></div>
                        </div>
                    </div>
                    <p class="help-text">기타</p>
                </a></div>
            <div class="category-container">
            	<a href="#" class="category full-left">
                	<div class="help-icon">
                    	<!-- icon 09 -->
                        <div class="help-icon-container">
                        	<div class="ion-sad-outline"></div>
                        </div>
                    </div>
                    <p class="help-text">에라, 모르겠다.</p>
                </a></div>
        </div>
    </div>
	</main>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'support/js/index.js' %}"></script>
</body>
</html>
