<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Micro Publishing Platform, octocolumn</title>
<!-- core CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'support/css/main.css' %}">
<link rel="stylesheet" href="{% static 'support/css/style.css' %}">
<link rel="stylesheet" href="{% static 'support/css/style.scss' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</head>

<body>
<!-- wrapper -->
<div class="page">
	<!-- header -->
    <header tabindex="0"><span>Support</span></header>
    {% if login %}
        {% include 'support/s_header_on.html' %}
    {% else %}
        <script>window.location.href = '/signin/'</script>
        {% include 'support/s_header.html' %}
    {% endif %}
    <div class="profile-img"></div>
    <div id="profile-container">
    	<div class="profile-text">Joyce Henry</div>
    </div>
    
	<!-- main content -->
    <main>
    <div class="full-img jobs-img01"></div>
    <div class="sub-container">
    	<!-- jobs-container 01 -->
        <div class="jobs-container">
            <h4 class="jobs-title">octocolumn은 최고의 사람들과 함께 합니다.</h4>
            <h6 class="jobs-muted">비록 지금 우리가 최고는 아닐지라도 말이죠.</h6>
            <p class="jobs-text">인터넷이 만들어진 이래로 수 많은 정보들이 쏟아져 나왔습니다.<br>정보의 양은 점점 더 늘어나고 있으며, 그만큼 좋은 글을 찾기가 더 어려워졌습니다.<br>조회수가 높은 글과 좋은 글은 분명 다른 것임에도 불구하고, 지금의 인터넷은 사람들이 많이 조회할만한 콘텐츠들로 채워지고 있습니다.<br>글을 쓰는 사람이나, 글을 읽는 사람이나 이런 상황을 원치는 않습니다.<br>다만, 인터넷 환경이 점점 그렇게 변해갈 뿐이죠.
            <br>
            <br>우리는 인터넷에서 콘텐츠가 다루어지는 방식에 대해 불만이 있습니다.<br>그리고 우리는 우리가 만든 플랫폼에서 세상을 바꿀 사람들이 탄생하기를 기대합니다.
            <br>
            <br>이 이야기가 남의 일처럼 들리지 않는다고요?<br>그렇다면 우리에게 연락을 주세요.<br>우리와 함께 좋은 글이 꾸준하게 쓰여지고, 인정받을 수 있는 최고의 환경을 만들어 봅시다.<br>우리는 당신을 기다리고 있습니다.
            </p>
    	</div>
        <div class="blank"></div>
        <!-- jobs-container 02 -->
        <div class="jobs-container">
            <h4 class="jobs-title">octocolumn이 일하는 방식</h4>
            <h6 class="jobs-muted">우리가 당신에게 어울렸으면 좋겠습니다.</h6>
            <div class="mid-img jobs-img02"></div>
            <p class="jobs-text">인터넷에서 가장 중요한 것은 돈이 아니라, 좋은 콘텐츠라는 단순한 믿음에 기반해서 octocolumn은 움직입니다.<br>우리는 집단지성과 창의적인 사고의 위대함을 존중할 줄 아는 사람들을 환영할 것이며, 비난, 조롱 등은 지양하도록 하겠습니다.<br>우리는 기계가 아닙니다.<br>사용자가 원하는 서비스를 만들어낼 것입니다.<br>우리는 우리의 성향과 취향을 자제하는 일이 없도록 할 것이며, 우리와는 다른 견해의 서비스를 선택한 사용자들의 의견도 존중할 것입니다.<br>우리가 octocolumn을 만든 이유는 당신의 지능과 재주를 좀 더 올바른 쪽으로 사용하게끔 하고 싶어서 입니다.
            </p>
        </div>
        <div class="blank"></div>
        <!-- jobs-container 03 -->
        <div class="jobs-container">
            <h4 class="jobs-title">octocolumn에서 필요한 채용분야</h4>
            <h6 class="jobs-muted">더 나은 서비스를 만들 수 있다면 모두 환영합니다.</h6>
            <div class="recruit-container">
                <div class="recruit-outer">
                    <div class="recruit-inner">
                        <div class="recruit-centered">
                            <div class="rec-box01">개발</div>
                            <div class="rec-box02">디자인</div>
                            <div class="rec-box03">마케팅</div>
                            <div class="rec-box04">콘텐츠</div>
                            <div class="rec-box05">운영</div>
                            <div class="rec-box06">지원</div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
	</main>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'support/js/index.js' %}"></script>
</body>
</html>
