{% load static %}
<link rel="stylesheet" href="{% static 'css/sass/header.css' %}">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118079047-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118079047-1');
</script>
<header tabindex="0"><span onclick="window.location.href='/'">octocolumn</span></header>
<div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div id="nav-content" tabindex="0">
        <ul>
            <li><a href="/support/">About</a></li>
            <li><a href="staff_blog.html">Staff Blog</a></li>
            <li><a href="jobs.html">Jobs</a></li>
            <li><a href="policies.html">Policies & Laws</a></li>
            <li><a href="notice.html">Notice</a></li>
            <li class="divline"></li>
            <li><a href="help-1.html">Help</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="divline"></li>
            <li><a href="http://octocolumn.com/">octocolumn.com</a></li>
            <li class="divline"></li>
            <li class="info"><span>Copyright octocolumn All Rights Reserved<br>주식회사 옥토칼럼<br>대표 오정민<br>사업자등록번호<br>576-52-00020<br>통신판매업신고<br>2016 수원권선 0350<br>개인정보관리책임자 오정민<br>경기도 수원시 권선구 정조로 580-9<br>mackenzie@octocolumn.com<br>고객센터 070-4809-7166</span></li>
            <!--
            <li class="small"><a href="#0">Facebook</a><a href="#0">Instagram</a></li>
            -->
        </ul>
    </div>
</div>
<!-- <div class="btn-search">
    <img src="{% static 'images/icons/header/CombinedShape2.png' %}">
</div> -->
<div class="profile-img"></div>
<div id="profile-container" onclick="modal_on()">
    <div class="profile-text" onclick="modal_on()">Signin/Signup</div>
</div>
<script type="text/javascript" src="{% static 'js/logout.js' %}"></script>
<script type="text/javascript" src="{% static 'js/title-to-header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/header.js' %}"></script>#}