<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octocolumn" />
	<meta name="keywords" content="octocolumn">
	<meta name="copyright" content="octocolumn"/>
	<meta name="theme-color" content="#2a292a">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<title>octocolumn</title>
	<link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/signin.css' %}">
	<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'js/findPass.js' %}"></script>
    <!-- <script src="{% static 'js/script2.js' %}"></script> -->
    <script src="{% static 'js/signin.js' %}"></script>
</head>
<body>
    <div class="modal_window findPass">
        <a class="close_btn" href="javascript:modal_off();">
            <img src="{% static 'images/icons/modal/combined-shape.png' %}">
        </a>
        <div class="welcome">Forgot your password?</div>
        <div class="welcome2">
            비밀번호가 기억나지 않으세요?<br>
            octocolumn에 가입한 이메일 주소를 입력해주세요.<br>
            해당 이메일을 통해 비밀번호를 재설정해주세요.<br>
        </div>
        <div class="form_wrap">
            <span>이메일 주소</span>
            <input type="email" id='username'>
            <button id="btnFindPass">비밀번호 재설정 이메일 받기</button>
        </div>
        <div class="signup-wrap">
            <span>아직 계정이 없다구요?</span>
            <a onclick="window.location.href = '/signup/'">지금 만드세요!</a>
        </div>
    </div>
</body>
</html>
