<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octoclumn" />
	<meta name="keywords" content="octoclumn">
	<meta name="copyright" content="octoclumn"/>
	<meta name="theme-color" content="#2a292a">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<title>octoclumn</title>
	<link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/signin.css' %}">
	<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <!-- <script src="{% static 'js/script2.js' %}"></script> -->
    <script src="{% static 'js/signin.js' %}"></script>
    <meta name="google-signin-scope" content="profile email openid">
    <meta name="google-signin-client_id" content="512110342313-s4n09bgd4ok88kf8nrinmlhpg4i3rr6g.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
    <form method="POST" action="/api/member/login/">
        <div class="modal_window signin">
            <a class="close_btn" href="javascript:modal_off();">
                <img src="{% static 'images/icons/modal/combined-shape.png' %}">
            </a>
            <div class="welcome">Sign in with email</div>
            <div class="welcome2">
                octocolumn과 연결된 당신의 이메일과 비밀번호를 입력하세요.<br>
                계정이 없거나, 비밀번호를 잊었다해도 걱정마시구요.<br>
            </div>
            <div class="form_wrap">
                <span>이메일 주소</span>
                <input type="text" name="username" id="email-signin">
                <span>비밀번호</span>
                <input type="password" name="password" id="password-signin">
                <span></span>
                <span onclick="window.location.href = '/findPass/'" style="float:right;">비밀번호를 잊었나요?</span>
                <button id="btn-signin">Sign in</button>
            </div>
            <div class="signup-wrap">
                <!-- <span>아직 계정이 없다구요?</span> -->
                <!-- <a onclick="window.location.href='/signup/'">지금 만드세요!</a> -->
            </div>
        </div>
    </form>
</body>
</html>
