	{% load static %}
	<script type="text/javascript" src="{% static 'js/header_on.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/title-to-header.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/logout.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/title-to-header.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/drag-n-crop.js' %}"></script>
	<div class="header">
		<div class="header-wrap">
			<div class="btn-menu">
				<img src="{% static 'images/icons/header/burger2.png' %}">
				<div>octocolumn</div>
				<ul>
					<li>Recent Posts</li>
					<li>Feed</li>
					<li>Purchased Posts</li>
					<li>Bookmarks</li>
					<li class="under-line">Brand Page</li>
					<li onclick='window.location.href="/write/"'>New Story</li>
					<li>Point Shop</li>
					<li>Settings</li>
					<li class="under-line">Stats</li>
					<li>Support</li>
					<li>Terms of Service</li>
					<li>Privacy Policy</li>
					<li class="under-line">Rules</li>
					<li id="logout">Sign out</li>
					<div class="footer">
						octocolumn.com<br/>
						Copyright octocolumn.com<br/>
						All Rights Reserved<br/>
						주식회사 옥토칼럼<br/>
						대표 오정민<br/>
						사업자등록번호<br/>
						576-52-00020<br/>
						통신판매업신고 2016<br/>
						수원권선 0350<br/>
						개인정보관리 책임자 오정민<br/>
						경기도 수원시 권선구 정조로<br/>
						580-9<br/>
						연락처<br/>
						mackenzie@octocolumn.com<br/>
						고객센터 070-4809-7166<br/>
					</div>            
				</ul><!-- sidebar -->
			</div>
			<div class="btn-search">
				<img src="{% static 'images/icons/header/CombinedShape2.png' %}">
			</div>
			<div class="btn-point">
				<div class="point">0p</div>
			</div>
			<div class="btn-logo-wrap">
				<div class="btn-logo" id="header-title" onclick='window.location.href="/"'>
					octocolumn
				</div>
			</div>
			<div class="btn-right-wrap">
				<div class="btn-notice">
					<img src="{% static 'images/icons/header/Shape2.png' %}">
				</div>
				<div class="btn-user">
					<span></span>
					<div class="profile-image-upload-wrap">
						<img id="header-profile-image" src="">
					</div>
				</div>
			</div>
		</div><!-- header-wrap-->
	</div><!-- //header -->