	{% load static %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120302661-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120302661-1');
    </script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/search.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-side-menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/preview.css' %}" />
	
	<script src='https://rawgit.com/layervault/jquery.typer.js/master/src/jquery.typer.js'></script>
	<header tabindex="0"><span class="site-name" onclick="window.location.href='/'"></span>
    <div id="nav-container">
        <div class="bg"></div>
        <div class="button" tabindex="0">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div id="nav-content" class="scrollbar-none" tabindex="0">
            <ul>
				<li class="nav-ctg">
					<p>Read</p>
					<ul>
						<li><a href="/more/recent/">All Posts</a></li>
						<li><a href="/more/feed/">Feed</a></li>
						<li><a href="/more/bookmark/">Bookmarks</a></li>
						<li><a href="/more/buyList/">Purchased Posts</a></li>
					</ul>
				</li>
				<li class="nav-ctg">
					<p>Write</p>
					<ul>
						<li><a href="/write/">Write</a></li>
					</ul>
				</li>
				<li class="nav-ctg">
					<p>Others</p>
					<ul>
						<li><a href="/shop/">Point Shop</a></li>
						<li><a href="javascript:;" id="logout">Sign out</a></li>
					</ul>
				</li>
				<li class="info">
					<div class="bycal_sns">
						<span class="side-icon-facebook"></span>
						<span class="side-icon-instagram"></span>
						<span class="side-icon-twitter"></span>
					</div>
					<div style="font-style:italic;">beta</div>					
					<div class="small">
						<a href="#">이용약관</a>
						<a href="#">개인정보처리방침</a>
						<a href="javascript:window.open('/support/')">Support</a>
					</div>
					<span>Copyright octocolumn All Rights Reserved<br>사업자등록번호 576-52-00020<br>통신판매업신고 2018-서울마포-1098호<br>개인정보관리책임자 오정민<br>서울특별시 마포구 독막로34길 32<br>yourfriends@bycal.com<br>070-4809-7166
					</span>
				</li>
                <!--
                <li class="small"><a href="#0">Facebook</a><a href="#0">Instagram</a></li>
                -->
            </ul>
        </div>
	</div>
	<div id="profile-container">
		<!-- page content + floating button -->
		<div class="search-container">
			<div class="control">
				<div class="search-icon-wrap">
					<div class="search-icon"></div>
				</div>
			</div>
		</div>
		<span class="profile-text"></span>
		<div class="profile-img image-loader" id="header-profile-image"></div>
		<div class="account-info">
			<ul>
				<li class="notifications">
					<div class="icon icon-2-bell">
						<div class="badge"></div>
					</div>
					<div class="text">Unread Message</div>
					<div class="icon-right-open-big"></div>
				</li>
				<li class="point">
					<div class="icon icon-2-user"></div>
					<div class="text"><span> </span>&nbsp;p</div>
					<div class="icon-right-open-big"></div>
				</li>
				<li class="setting" onclick="window.location.href='/profile/'">
					<div class="icon icon-2-cog"></div>
					<div class="text">Setting</div>
					<div class="icon-right-open-big"></div>
				</li>
				<li class="signout" onclick="javascript:logout()">Sign out</li>
			</ul>
		</div>
	</div>
</header>
<script type="text/javascript" src="{% static 'js/header_on.js' %}"></script>
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
<script type="text/javascript" src="{% static 'js/title-to-header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/logout.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/checkOwnPost.js' %}"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script> -->
<script>
  	// Initialize Firebase
  	// var config = {
	// 	apiKey: "AIzaSyCnXsCAt5plwnadoKDCjDva_b4vIotj5P0",
	// 	authDomain: "byCAL-cc8db.firebaseapp.com",
	// 	databaseURL: "https://byCAL-cc8db.firebaseio.com",
	// 	projectId: "byCAL-cc8db",
	// 	storageBucket: "",
	// 	messagingSenderId: "407103464119"
  	// };
  	// firebase.initializeApp(config);

  	// var notifications = $('.notifications')[0];
	// var dbRef = firebase.database().ref().child('message');

	// dbRef.on('value', snap => $('.badge').hide());

	// dbRef.on('value', snap => notifications.value = snap.val());
</script>