{% load static %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118079047-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118079047-1');
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-side-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon.css' %}">    

<header tabindex="0"><span class="site-name" onclick="window.location.href='/'"><div class="beta-logo"></div></span>
<div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div id="nav-content" class="scrollbar-none" tabindex="0">
        <ul>
            <li class="nav-ctg">
                <p>Read</p>
                <ul>
                    <li><a href="/more/recent/">All Posts</a></li>
                    <li><a href="javascript:modalSignin();">Feed</a></li>
                    <li><a href="javascript:modalSignin();">Bookmarks</a></li>
                    <li><a href="javascript:modalSignin();">Purchased Posts</a></li>
                </ul>
            </li>
            <li class="nav-ctg">
                <p>Write</p>
                <ul>
                    <li><a href="javascript:modalSignin();">Write</a></li>
                </ul>
            </li>
            <li class="nav-ctg">
                <p>Others</p>
                <ul>
                    <li><a href="javascript:modalSignin();">Point Shop</a></li>
                    <li><a href="javascript:modalSignin();">Signin/ Signup</a></li>
                </ul>
            </li>
            <li class="info">
                <div class="bycal_sns">
                    <span class="side-icon-facebook" onclick="window.open('https://www.facebook.com/bycal.co')"></span>
                    <span class="side-icon-instagram" onclick="window.open('https://www.instagram.com/bycal_official/')"></span>
                    <span class="side-icon-twitter" onclick="window.open('https://twitter.com/bycal_official')"></span>
                </div>
                <div class="small">
                    <a href="#">이용약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="javascript:window.open('/support/')">Support</a>
                </div>
                <span>Copyright octocolumn All Rights Reserved<br>사업자등록번호 576-52-00020<br>통신판매업신고 2016 수원권선 0350<br>개인정보관리책임자 오정민<br>경기도 수원시 권선구 정조로 580-9<br>yourfriends@bycal.com<br>070-4809-7166
                </span>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="btn-search">
    <img src="{% static 'images/icons/header/CombinedShape2.png' %}">
</div> -->
<div id="profile-container">
    <div class="profile-text" id="sign" onclick="modalSignin();" style="margin-right:12px;cursor:pointer;">Signin / Signup</div>
</div>
</header>