{% load static %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120302661-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120302661-1');
</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/sass/header.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.modal.js' %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/sass/search.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-side-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon.css' %}">   
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/preview.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.css' %}"/>    
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.theme-atlant.css' %}" />

<header tabindex="0"><span class="site-name" onclick="window.location.href='/'"></span>
<div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div id="nav-content" class="scrollbar-none" tabindex="0">
        <ul>
            <li class="nav-ctg">
                <p>Read</p>
                <ul>
                    <li><a href="/more/recent/">All Posts</a></li>
                    <li><a href="javascript:modalSignin();">Feed</a></li>
                    <li><a href="javascript:modalSignin();">Bookmarks</a></li>
                    <li><a href="javascript:modalSignin();">Purchased Posts</a></li>
                </ul>
            </li>
            <li class="nav-ctg">
                <p>Write</p>
                <ul>
                    <li><a href="javascript:modalSignin();">Write</a></li>
                </ul>
            </li>
            <li class="nav-ctg">
                <p>Others</p>
                <ul>
                    <li><a href="javascript:modalSignin();">Point Shop</a></li>
                    <li><a href="javascript:modalSignin();">Signin/ Signup</a></li>
                </ul>
            </li>
            <li class="info">
                <div class="bycal_sns">
                    <span class="side-icon-facebook" onclick="window.open('https://www.facebook.com/bycal.co')"></span>
                    <span class="side-icon-instagram" onclick="window.open('https://www.instagram.com/bycal_official/')"></span>
                    <span class="side-icon-twitter" onclick="window.open('https://twitter.com/bycal_official')"></span>
                </div>
                <div style="font-style:italic;">starfish</div>
                <div class="small">
                    <a href="#">이용약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="javascript:window.open('/support/')">Support</a>
                </div>
                <span>Copyright octocolumn All Rights Reserved<br>사업자등록번호 576-52-00020<br>통신판매업신고 2018-서울마포-1098호<br>개인정보관리책임자 오정민<br>서울특별시 마포구 독막로34길 32<br>yourfriends@bycal.com<br>070-4809-7166
                </span>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="btn-search">
    <img src="{% static 'images/icons/header/CombinedShape2.png' %}">
</div> -->
<div id="profile-container">
    <div class="search-container">
        <div class="control">
            <div class="search-icon-wrap">
                <div class="search-icon"></div>
            </div>
        </div>
    </div>
    <div class="profile-text" id="sign" onclick="modalSignin();" style="margin-right:12px;cursor:pointer;">Signin / Signup</div>
</div>
</header>
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
<script type="text/javascript" src="{% static 'js/checkOwnPost.js' %}"></script>
<script>
$(document).click(function(e){
    
    var post_id = e.target.getAttribute("id");
    var readtime = $('#readtime'+post_id).text();
    var bookmark_className = $('#bookmark_'+post_id +'> i').attr('class');
    var bookmark_status = false;
    bookmark_className == 'icon-bookmark'?bookmark_status = true:bookmark_status = false;

    if(post_id > 0){

        isBought(post_id, readtime, bookmark_status);
    }
});
</script>