<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octoclumn" />
	<meta name="keyworads" content="octoclumn">
	<meta name="copyright" content="octoclumn"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<title>octoclumn</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/modal-signin.css' %}">
	<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/script2.js' %}"></script>
	<script src="{% static 'js/getPostList.js' %}"></script>
	<script src="{% static 'js/balloon.js' %}"></script>
	<script src="{% static 'js/checkOwnPost.js' %}"></script>
</head>
<body>
	{% if login %}
		{% include 'view/header_on.html' %}
	{% else %}
	<script>console.log("토큰이 읎다")</script>
		{% include 'view/header.html' %}
	{% endif %}
	<div class="main">
		<div class="main_txt1">
			Read.<br />
			Write.<br />
			Make a difference.<br />
		</div>
		<div class="main_txt2">
			마음을 움직이는 흥미로운 아이디어.<br />
			가장 잘 아는 사람들로부터 직접 들을 수 있습니다.<br />
			기술에서 정치에 이르기까지 당신이 관심있어하는 모든 분야에 대해서 다루고 있습니다.<br />
			우리는 차이를 만들어낼 수 있습니다.<br />
		</div>
		<a href="#" class="learn_btn">
			Learn more
		</a>
	</div>
	<div class="mainfeed">
		<div class="main_title">
			<div class="txt1">
				최근 글
			</div>
			<div class="txt2">
				더보기
			</div>
			<div class="main_hr"></div>
			<div class="feedbox_box1">
				<div class="feedbox1" id="card_1">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="fb1_txt_2">
	Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
						</div>
						<div class="profile_box">
							<div class="profile_img"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
				<div class="feedbox3" id="card_2" style="margin-right: 16px;">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="profile_box">
							<div class="profile_img"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
				<div class="feedbox3" id="card_3">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="profile_box">
							<div class="profile_img"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedbox_box2">
				<div class="feedbox2" id="card_4">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							I have hinted that I would often jerk po.
						</div>
						<div class="fb1_txt_2">
	In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any on.
						</div>
						<div class="profile_box">
							<div class="profile_img"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedbox4" id="card_5">
				<div class="fb1_img"></div>
				<div class="fb1_txt">
					<div class="fb1_txt_1">
						What are people working on in coffee shops?
					</div>
					<div class="fb1_txt_2">
Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
					</div>
					<div class="profile_box">
						<div class="profile_img"></div>
						<div class="profile_name">Tristan de Montebello</div>
						<div class="profile_date">May 10</div>
						<div class="profile_readtime">5 min read</div>
						<div class="profile_mark"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="main_title">
			<div class="txt1">
				피드
			</div>
			<div class="txt2">
				더보기
			</div>
			<div class="main_hr"></div>
			<div class="feedbox_box1">
				<div class="feedbox1">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="fb1_txt_2">
	Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
						</div>
						<div class="profile_box">
							<div class="profile_img"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
				<div class="feedbox3" style="margin-right: 16px;">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="profile_box">
							<div class="profile_img"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
				<div class="feedbox3">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="profile_box">
							<div class="profile_img"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedbox_box2">
				<div class="feedbox2">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							I have hinted that I would often jerk po.
						</div>
						<div class="fb1_txt_2">
	In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any on.
						</div>
						<div class="profile_box">
							<div class="profile_img"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedbox4">
				<div class="fb1_img"></div>
				<div class="fb1_txt">
					<div class="fb1_txt_1">
						What are people working on in coffee shops?
					</div>
					<div class="fb1_txt_2">
Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
					</div>
					<div class="profile_box">
						<div class="profile_img"></div>
						<div class="profile_name">Tristan de Montebello</div>
						<div class="profile_date">May 10</div>
						<div class="profile_readtime">5 min read</div>
						<div class="profile_mark"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- flip -->
	<div class="flip">
		<!-- arrow_box -->
		<div class="arrow_box_1">
			<div class="card_background_img">
				<img class="card_profile_img" src="http://placehold.it/56x56">
			</div>
			<div class="wrap-followers">
				<div class="followers">
					Followers
				</div>
				<div class="num_of_followers">
					3.1K
				</div>
			</div>
			<div class="btn-follow">
				Follow
			</div>
			<div class="card_profile_name">
				Emily Walters
			</div>
			<div class="card_profile_title">
				정치전문가
			</div>
			<div class="socialbar">
				<a><img src="{% static 'images/icons/balloon/fb-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/isn-combined-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/t-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/bl-combined-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/inf-combined-shape-copy-2@3x.png' %}" class="more-info"></a>
			</div>
		</div>
		<div class="arrow_box_2">
			<div class="card_profile_info">
				Tousled food truck polaroid, salvia bespoke small batch Pinterest Marfa. Fingerstache authentic craft beer, food truck Banksy Carles kale chips hoodie. Trust fund artisan master cleanse fingerstache post-ironic, fashion axe art party Etsy direct trade retro organic. Cliche Shoreditch Odd Future Pinterest, pug disrupt photo booth VHS literally occupy gluten-free polaroid Intelligentsia PBR mustache. Locavore fashion axe chia, iPhone cardigan disrupt Etsy dreamcatcher. Craft beer selvage fanny pack, 8-bit post-ironic keffiyeh iPhone mlkshk pop-up. Pug blog asymmetrical ethnic, stumptown shabby chic chillwave ugh before they sold out.
			</div>
			<div class="socialbar">
				<a><img src="{% static 'images/icons/balloon/fb-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/isn-combined-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/t-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/bl-combined-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/inf-combined-shape-copy-2@3x.png' %}" class="more-info2"></a>
			</div>
		</div>
		<!-- //arrow_box -->
	</div>
	<!-- //flip -->
	{% include 'view/modal-signin.html' %}
</body>
</html>
