<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octoclumn" />
	<meta name="keyworads" content="octoclumn">
	<meta name="copyright" content="octoclumn"/>
	<meta name="theme-color" content="#2a292a">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<title>octoclumn</title>
	<link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/modal-signin.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/modal-preview.css' %}">
	<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/script2.js' %}"></script>
	<script src="{% static 'js/getPostList.js' %}"></script>
	<script src="{% static 'js/balloon.js' %}"></script>
	<script src="{% static 'js/checkOwnPost.js' %}"></script>
	<script src="{% static 'js/request-buy.js' %}"></script>
	<script src="{% static 'js/drag-n-crop.js' %}"></script>
	<!--구글 태그 매니저-->
	<!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
	<!--new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
	<!--j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
	<!--'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
	<!--})(window,document,'script','dataLayer','GTM-W4FTG4B');</script>-->
	<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115988590-1"></script>-->

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag()
		{
		    dataLayer.push(arguments);
		}
	  	gtag('js', new Date());

	  	gtag('config', 'UA-115988590-1');
	</script>
</head>
<body>
	<!--구글태그매니저 바디부분-->
	<!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4FTG4B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
	{% if login %}
		{% include 'view/header_on.html' %}
	{% else %}
		<!-- <script>window.location.href = '/signin/'</script> -->
		{% include 'view/header.html' %}
	{% endif %}
	<div class="main">
		<div class="main_txt1">
			Dive into the sentence.<br />
		</div>
		<div class="main_txt2">
			마음을 움직이는 흥미로운 아이디어.<br />
			가장 잘 아는 사람들로부터 직접 들을 수 있습니다.<br />
			기술에서 정치에 이르기까지 당신이 관심있어하는<br />
			 모든 분야에 대해서 다루고 있습니다.
		</div>
		<a href="#" class="learn_btn">
			Learn more
		</a>
	</div>
	<div class="mainfeed">
		<div class="main_title">
			<div class="txt1">
				최근 글
			</div>
			<div class="txt2" onclick="window.location.href='/recent/'">
				더보기
			</div>
			<div class="main_hr"></div>
			<div class="feedbox_box1">
				<div class="feedbox1 feedbox" id="card_1">
					<div class="fb1_img profile-image-upload-wrap"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1"></div>
						<div class="fb1_txt_2"></div>
						<div class="profile_box">
							<div class="profile_img profile-image-upload-wrap"><img id="profile-image1" src="" alt="프로필 사진"></div>
							<div class="profile_name"></div>
							<div class="profile_date"></div>
							<div class="profile_readtime"></div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
				<div class="feedbox3 feedbox" id="card_2" style="margin-right: 16px;">
					<div class="fb1_img profile-image-upload-wrap"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1"></div>
						<div class="profile_box">
							<div class="profile_img profile-image-upload-wrap"><img id="profile-image2" src="" alt="프로필 사진"></div>
							<div class="profile_name"></div>
							<div class="profile_date"></div>
							<div class="profile_readtime"></div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
				<div class="feedbox3 feedbox" id="card_3">
					<div class="fb1_img"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1"></div>
						<div class="profile_box">
							<div class="profile_img profile-image-upload-wrap"><img id="profile-image3" src="" alt="프로필 사진"></div>
							<div class="profile_name"></div>
							<div class="profile_date"></div>
							<div class="profile_readtime"></div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedbox_box2">
				<div class="feedbox2 feedbox" id="card_4">
					<div class="fb1_img profile-image-upload-wrap"></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1"></div>
						<div class="fb1_txt_2"></div>
						<div class="profile_box">
							<div class="profile_img profile-image-upload-wrap"><img id="profile-image4" src="" alt="프로필 사진"></div>
							<div class="profile_name"></div>
							<div class="profile_date"></div>
							<div class="profile_readtime"></div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedbox4 feedbox" id="card_5">
				<div class="fb1_img profile-image-upload-wrap"></div>
				<div class="fb1_txt">
					<div class="fb1_txt_1"></div>
					<div class="fb1_txt_2"></div>
					<div class="profile_box">
						<div class="profile_img profile-image-upload-wrap"><img id="profile-image5" src="" alt="프로필 사진"></div>
						<div class="profile_name"></div>
						<div class="profile_date"></div>
						<div class="profile_readtime"></div>
						<div class="profile_mark"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="main_title">
			<div class="txt1">
				피드
			</div>
			<div class="txt2">
				더보기
			</div>
			<div class="main_hr"></div>
			<div class="feedbox_box1">
				<div class="feedbox1 feedbox">
					<div class="fb1_img profile-image-upload-wrap"><img class="fb1_img" src="" alt="" /></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="fb1_txt_2">
							Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
						</div>
						<div class="profile_box">
							<div class="profile_img profile-image-upload-wrap"><img src="" alt="프로필 사진"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
				<div class="feedbox3 feedbox" style="margin-right: 16px;">
					<div class="fb1_img profile-image-upload-wrap"><img class="fb1_img" src="" alt="" /></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="profile_box">
							<div class="profile_img profile-image-upload-wrap"><img src="" alt="프로필 사진"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
				<div class="feedbox3 feedbox">
					<div class="fb1_img"><img class="fb1_img" src="" alt="" /></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							What are people working on in coffee shops?
						</div>
						<div class="profile_box">
							<div class="profile_img profile-image-upload-wrap"><img src="" alt="프로필 사진"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedbox_box2">
				<div class="feedbox2 feedbox">
					<div class="fb1_img profile-image-upload-wrap"><img class="fb1_img" src="" alt="" /></div>
					<div class="fb1_txt">
						<div class="fb1_txt_1">
							I have hinted that I would often jerk po.
						</div>
						<div class="fb1_txt_2">
							In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any on.
						</div>
						<div class="profile_box">
							<div class="profile_img profile-image-upload-wrap"><img src="" alt="프로필 사진"></div>
							<div class="profile_name">Tristan de Montebello</div>
							<div class="profile_date">May 10</div>
							<div class="profile_readtime">5 min read</div>
							<div class="profile_mark"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedbox4 feedbox">
				<div class="fb1_img profile-image-upload-wrap"><img class="fb1_img" src="" alt="" /></div>
				<div class="fb1_txt">
					<div class="fb1_txt_1">
						What are people working on in coffee shops?
					</div>
					<div class="fb1_txt_2">
						Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor.
					</div>
					<div class="profile_box">
						<div class="profile_img profile-image-upload-wrap"><img src="" alt="프로필 사진"></div>
						<div class="profile_name">Tristan de Montebello</div>
						<div class="profile_date">May 10</div>
						<div class="profile_readtime">5 min read</div>
						<div class="profile_mark"></div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- flip -->
	<div class="flip">
		<!-- arrow_box -->
		<div class="arrow_box_1">
			<div class="card_background_img profile-image-upload-wrap">
				<div class="card_profile_img_wrap">
					<img class="card_profile_img" src="">
				</div>
			</div>
			<div class="wrap-followers">
				<div class="followers">
					Followers
				</div>
				<div class="num_of_followers">
					K
				</div>
			</div>
			<div class="btn-follow">
				Follow
			</div>
			<div class="card_profile_name">
				
			</div>
			<div class="card_profile_title">
				
			</div>
			<div class="socialbar">
				<a><img src="{% static 'images/icons/balloon/fb-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/isn-combined-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/t-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/bl-combined-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/inf-combined-shape-copy-2@3x.png' %}" class="more-info"></a>
			</div>
		</div>
		<div class="arrow_box_2">
			<div class="card_profile_info">

			</div>
			<div class="socialbar">
				<a><img src="{% static 'images/icons/balloon/fb-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/isn-combined-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/t-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/bl-combined-shape-copy-2@3x.png' %}"></a>
				<a><img src="{% static 'images/icons/balloon/inf-combined-shape-copy-2@3x.png' %}" class="more-info2"></a>
			</div>
		</div>
		<!-- //arrow_box -->
	</div>
	<!-- //flip -->
	{% include 'view/modal-signin.html' %}
	{% include 'view/modal-preview.html' %}
</body>
</html>
