<!doctype html>
<html>
<head>
{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="byCAL" />
<meta name="keywords" content="byCAL" />
<meta name="copyright" content="byCAL" />
<meta name="theme-color" content="#2a292a" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="x-rim-auto-match" content="none" />
<meta name="google-site-verification" content="Dq8XH8YdjcP0i0psM5a-wvQuiIInde9PlKijyO33y1c" />
<title>byCAL</title>
<link rel="shortcut icon" href="{% static 'images/favicon/favicon-32.ico' %}" />
<!-- core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/fontello.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon-btn.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/preview.css' %}" />
<!-- <link rel="stylesheet prefetch" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"> -->

<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/5ef723fe71048e90337cca6cb/127c8cdd432aedd7f147c9cac.js");</script>
</head>

<body class="scrollbar-basic">
<!--구글태그매니저 바디부분-->
<!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4FTG4B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->

<!-- wrapper -->
<div class="page">
    {% if login %}
        {% include 'view/header_on.html' %}
    {% else %}
        {% include 'view/header.html' %}
    {% endif %}
	<!-- main content -->
    {% include 'view/pop-up.html' %}
    <main>
        <!-- main content 01 -->
        <div class="main-container">
            <div class="contents-wrap">
                <div class="main-content">
                    <p class="css-typing"><h1>A book<br>of<br><span data-typer-targets="new era,original ideas,the internet,you"></span></h1></p>
                </div>
                <div class="sub-content">
                    <h5>‘byCAL’은 지식 콘텐츠의 캐쥬얼한 소비를 위한 플랫폼입니다.<br>
            각 분야의 칼럼니스트들의 깊이 있고, 정제된 이야기를 구매해서 읽어보세요.</h5>
                </div>
            </div>
            <div class="mouse-wrap">
                <div class="mouse"></div>
                <p>Scroll</p>
            </div>
        </div>
        <!-- Sub content 01 -->
        <div class="container" id="container">
            <div class="sub-content-title" onclick="window.location.href='/more/recent/'">
                All Latest Updated Posts
                <span class="post-more-view"></span>
            </div>
            <div class="blog-posts">
                <!--post list-->
            </div> 	
        </div>
        
        <!-- Sub content 02 -->
        <!-- <div class="container">
            <div class="sub-content-title">
                Recent followers posts
                <span class="post-more-view"></span>
            </div>
            <div class="blog-posts">
                <div class="post featured">
                    <a href="#">
                        <div class="image">
                            <div class="time">
                                <div class="date">04</div>
                                <div class="month">APR</div>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Title</h1>
                            <p>contents</p>
                            <div class="meta">
                                <div class="icon-comment">22 Comments</div>
                                <ul class="tags">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="user-container">
                                <div class="user full-right">
                                    <div class="user-pic"></div>
                                    <div class="user-info">
                                        <h1>Jeongwoon Ahn</h1>
                                        <p class="full-left">May 10</p>
                                        <p class="full-right">5min read</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row cf">
                    <div class="post">
                    <a href="#">
                        <div class="image">
                            <div class="time">
                                <div class="date">26</div>
                                <div class="month">MAR</div>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Title</h1>
                            <p>contents</p>
                            <div class="meta">
                                <div class="icon-comment">22 Comments</div>
                                <ul class="tags">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="user-container">
                                <div class="user full-right">
                                    <div class="user-pic"></div>
                                    <div class="user-info">
                                        <h1>Jeongwoon Ahn</h1>
                                        <p class="full-left">May 10</p>
                                        <p class="full-right">5min read</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="post">
                    <a href="#">
                        <div class="image">
                            <div class="time">
                                <div class="date">18</div>
                                <div class="month">MAR</div>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Title</h1>
                            <p>contents</p>
                            <div class="meta">
                                <div class="icon-comment">22 Comments</div>
                                <ul class="tags">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="user-container">
                                <div class="user full-right">
                                    <div class="user-pic"></div>
                                    <div class="user-info">
                                        <h1>Jeongwoon Ahn</h1>
                                        <p class="full-left">May 10</p>
                                        <p class="full-right">5min read</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>
                <div class="row cf">
                    <div class="post">
                    <a href="#">
                        <div class="image">
                            <div class="time">
                                <div class="date">10</div>
                                <div class="month">MAR</div>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Title</h1>
                            <p>contents</p>
                            <div class="meta">
                                <div class="icon-comment">22 Comments</div>
                                <ul class="tags">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="user-container">
                                <div class="user full-right">
                                    <div class="user-pic"></div>
                                    <div class="user-info">
                                        <h1>Jeongwoon Ahn</h1>
                                        <p class="full-left">May 10</p>
                                        <p class="full-right">5min read</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="post">
                    <a href="#">
                        <div class="image">
                            <div class="time">
                                <div class="date">26</div>
                                <div class="month">MAR</div>
                            </div>
                        </div>
                        <div class="content">
                            <h1>Title</h1>
                            <p>contents</p>
                            <div class="meta">
                                <div class="icon-comment">22 Comments</div>
                                <ul class="tags">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="user-container">
                                <div class="user full-right">
                                    <div class="user-pic"></div>
                                    <div class="user-info">
                                        <h1>Jeongwoon Ahn</h1>
                                        <p class="full-left">May 10</p>
                                        <p class="full-right">5min read</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>
            </div> 	
        </div> -->
    
    </main>
    <div class="profile-card"><div class="flip"></div></div>
</div>
{% if login %}

{% else %}
    {% include 'view/modal-signin.html' %}
{% endif %}
<!-- JS -->
<script src="{% static 'js/script2.js' %}"></script>
<script src="{% static 'js/signin.js' %}"></script>
<script src="{% static 'js/getPostList.js' %}"></script>
<script src="{% static 'js/balloon.js' %}"></script>
<script src="{% static 'js/checkOwnPost.js' %}"></script>
<script src="{% static 'js/request-buy.js' %}"></script>
<script src="{% static 'js/drag-n-crop.js' %}"></script>
<script src="{% static 'js/checkBookMark.js' %}"></script>
<script src='https://rawgit.com/layervault/jquery.typer.js/master/src/jquery.typer.js'></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/spin.js' %}"></script>	
<script src="{% static 'js/jquery.imageloader.js' %}"></script>
</body>
</html>