{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.css' %}"/>    
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.theme-atlant.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/find-password.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/modal-signin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-thirdparty.css' %}">

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/title-to-header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/signin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/findPass.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.modal.js' %}"></script>
<script src="https://apis.google.com/js/api:client.js"></script>

<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '187797705177095',
			cookie     : true,
			xfbml      : true,
			version    : '2.12'
		});
		
	  	FB.AppEvents.logPageView();   
		
	};
  
	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<script>
	var googleUser = {};
	var startApp = function() {
		gapi.load('auth2', function(){
		// Retrieve the singleton for the GoogleAuth library and set up the client.
		auth2 = gapi.auth2.init({
			client_id: '556104186701-si5hpqqo9jl066op8rv1rn0vsn0i4u82.apps.googleusercontent.com',
			cookiepolicy: 'single_host_origin',
			scope:'openid'
			// Request scopes in addition to 'profile' and 'email'
		});
		attachSignin(document.getElementById('my-signin2'));
		});
	};
	function attachSignin(element) {
		auth2.attachClickHandler(element, {},
			function(googleUser) {
				// Useful data for your client-side scripts:
				var profile = googleUser.getBasicProfile();

				// The ID token you need to pass to your backend:
				var id_token = googleUser.getAuthResponse().id_token;
				$.ajax({
					url: '/api/member/googleLogin/',
					async: false,
					type: 'POST',
					dataType: 'json',
					xhrFields: {
						withCredentials: true
					},
                    data:{
					    id_token : id_token,
                    },
					success: function(json) {
						window.location.href = '/';
					},
					error: function(err) {
						var errMsgTitle = '';
						var errMsg = '';
						if(err.status == 406){
							errMsgTitle = 'Sign in Failed';
							errMsg = '이미 가입한 이메일입니다.<br /> \'Sign in with email\' 버튼으로 로그인 해주세요.';
						} else {
							errMsgTitle = 'Error';
							errMsg = '죄송합니다.<br /> 예상치 못한 에러가 발생했습니다.<br /> 다른 방법으로 로그인해주세요.';
						}
						modal({
							type: 'inverted', //Type of Modal Box (alert | confirm | prompt | success | warning | error | info | inverted | primary)
							title: errMsgTitle, //Modal Title
							text: errMsg, //Modal HTML Content
							size: 'normal', //Modal Size (normal | large | small)
							center: true, //Center Modal Box?
							autoclose: false, //Auto Close Modal Box?
							callback: null, //Callback Function after close Modal (ex: function(result){alert(result);})
							onShow: function(r) {}, //After show Modal function
							closeClick: true, //Close Modal on click near the box
							closable: true, //If Modal is closable
							theme: 'atlant', //Modal Custom Theme
							animate: false, //Slide animation
							background: 'rgba(0,0,0,0.35)', //Background Color, it can be null
							zIndex: 1050, //z-index
							template: '<div class="modal-box"><div class="modal-inner"><div class="modal-title"><a class="modal-close-btn"></a></div><div class="modal-text"></div></div></div>',
							_classes: {
								box: '.modal-box',
								boxInner: ".modal-inner",
								title: '.modal-title',
								content: '.modal-text',
								closebtn: '.modal-close-btn'
							}
						});
					}
				});
			}, function(error) {
				console.log(JSON.stringify(error, undefined, 2));
			}
		);
	}
	startApp();
</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<div class="welcome-container" style="display:none">
    <div class="bg-wrap"></div>
    <div class="welcome-title-container">
        <span class="welcome-title">Welcome</span>
        <p class="welcome-sub">octocolumn에 오신 것을 환영합니다.<br>당신의 이야기를 쓰고, 사랑하는 작가와 주제를 탐험하고, 중요한 이야기를 나눌 수 있도록 로그인하십시오.</p>
    </div>
    <div class="frame">
        <div class="close" onclick="(function(){$('.welcome-container').hide();$('.page').css('position', 'static');})();"></div>
        <div class="nav">
            <ul class="links">
                <li class="signin-active"><span class="btn" onclick="toggle();">SIGN IN</span></li>
                <li class="signup-inactive"><span class="btn" onclick="toggle();">SIGN UP</span></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">
            <div class="form-signin" action="" method="post" name="form">
                <div class="signin-main-container">
                    <input type="email" name="username" id="email-signin" placeholder="ID">
                    <input type="password" name="password" id="password-signin" placeholder="Password" required>
                </div>
                <div class="signin-sub-container">
                    <button onClick="signin_api()" class="btn_signin">Sign in</button>
                    <p onClick="(function(){$('.welcome-container').hide();$('.findpw-container').show();})();">Forgot your password?</p>
                </div>
                <div class="btn_wrap">
                    <div class="btn-signin facebook" onClick="javascript:FB.login(function(response){console.log(response)});">
                        <div class="signwith-icon icon-facebook"></div>
                        <span class="signwith-text">Sign in with Facebook</span>
                    </div>
                    <div class="btn-signin google" id="my-signin2" data-onsuccess="onSignIn" data-theme="dark">
                        <div class="signwith-icon icon-gplus-1"></div>
                        <span class="signwith-text">Sign in with Google</span>
                    </div>
                    <div class="btn-signin kakao" onclick="javascript:loginWithKakao();">
                        <div class="signwith-icon icon-comment-alt"></div>
                        <span class="signwith-text">Sign in with Kakao</span>
                    </div>
                    <script type='text/javascript'>
						//<![CDATA[
						// 사용할 앱의 JavaScript 키를 설정해 주세요.
						Kakao.init('9122a1cfdf084dac234748d85896d95a');
						function loginWithKakao() {
							// 로그인 창을 띄웁니다.
							Kakao.Auth.login({
								success: function(authObj) {
									$.ajax({
										url: "/api/member/kakaoLogin/" + authObj.access_token,
										async: false,
										type: 'GET',
										dataType: 'json',
										success: function() {
											window.location.href = '/';
										}
									});
								},
								fail: function(err) {
									console.log(JSON.stringify(err));
								}
							});
						};
					//]]>
					</script>
                </div>
            </div>
            <div class="form-signup">
                <input type="text" id="nickName-signup" placeholder="이름" required>
                <input type="email" id="email-signup" placeholder="이메일">
                <input type="password" id="password1-signup" placeholder="비밀번호 (영문, 숫자 포함 8자리 이상)" required>
                <input type="password" id="password2-signup" placeholder="비밀번호 재입력" required>
                <div class="agreement">
                    <input type="checkbox" class="agree_checkbox">
                    <div class="agree_text">저는 octocolumn의 <span onClick="term()">이용약관</span>과<span onClick="privacy()"> 개인정보취급방침</span>에 동의합니다.</div>
                </div>
                <button class="btn_signup btn_disabled" disabled="disabled" onClick="check_email();">Sign up</button>
            </div>
        </div>
    </div>
</div>
<div class="findpw-container" style="display:none;">
    <div class="findpw-title-container">
        <span class="findpw-title">Find Password</span>
        <p class="findpw-sub">octocolumn에 가입한 이메일 주소를 입력해주세요.<br>해당 이메일을 통해 비밀번호를 재설정할 수 있습니다.</p>
    </div>
    <div class="frame">
        <div class="close" onclick="(function(){$('.findpw-container').hide();$('.page').css('position', 'static');})();"></div> 
        <div class="nav">
            <ul class="links">
                <li class="resetpw-active"><a class="btn">Reset password</a></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">

            <div class="form-resetpw">

                <div class="resetpw-main-container">
                    <input type="email" id="email-findPW" placeholder="octocolumn에 가입한 이메일 주소">
                </div>
                <div class="resetpw-sub-container">
                    <button id="btnFindPass" class="btn_resetpw">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
</div>