<div class="preview-wrap">
    <div class="preview" id="preview">
        <div class="btn-cancel-wrap">
            <div class="btn-cancel"></div>
            <div class="preview_purchaseBtn">구매</div>
        </div>
        <div class="ready2publish">Preview</div>
        <div class="preview-cover-img">
            <img id="preview-cover-img" src="http://placehold.it/944x401" alt="">
        </div>
        <div class="preview-title"></div>
        <div class="preview-content-info">
            <div class="preview-read-time"></div>
            <div class="preview-by">by</div>
            <div class="preview-author"></div>
            <div class="preview-create-date">2017. 12. 18 18:33</div>
        </div>
        <div class="preview-main-content" id="preview-main-content">
            <img src="" alt="">
            <!-- preview-image -->
        </div>
        <div class="preview-tag-wrap">
        </div>
    </div> 
</div>