{% load static %}
<div class="preview-wrap">
    <div class="preview" id="preview">
        <div class="btn-cancel-wrap">
            <div class="btn-cancel"></div>
            <div class="preview_purchaseBtn">구매</div>
        </div>
        <div class="ready2publish">Preview</div>
        <div class="preview-cover-img">
            <img id="preview-cover-img" src="" alt="">
        </div>
        <div class="preview-title"></div>
        <div class="preview-content-info">
            <div class="preview-read-time"></div>
            <div class="preview-by">by</div>
            <div class="preview-author"></div>
            <div class="preview-create-date">2018. 01. 01 00:00</div>
        </div>
        <div class="preview-main-content" id="preview-main-content">
            <!-- <img src="" alt=""> -->
            <div class="previewElementsWrap"></div>
            <!-- preview-image -->
        </div>
        <div class="priceBtn">
            <div class="btn">P로 구매</div>
        </div>
        <div class="preview-tag-wrap">
        </div>
        <div class="read_profile mainWriter">
            <!-- <div class="click">
                <div class="star">
                    <div class="star_click"> -->
                        <!-- <div id="star-five"></div> -->
                        <!-- <img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
                        <img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
                        <img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
                        <img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
                        <img src="{% static 'images/icons/read/Star.png' %}" alt="평가"> -->
                    <!-- </div>//star_click -->
                    <!-- 별점
                </div>
                <div class="sns">
                        <img src="{% static 'images/icons/read/bm.png' %}" alt="북마크">
                </div> -->
            <!-- </div>//click -->
            <!-- <div class="contents_wrap">
                <div class="contents">
                    <div class="contents_title">
                        <div class="picture">
                            <img src="http://placehold.it/240">
                        </div>
                        <div class="name">Benjamin Rogers</div>
                        <div class="title_name">정치전문가</div>
                        <div class="btnFollow unfollow">Follow</div>
                    </div>
                    <div class="text">
                        Donec facilisis tortor ut augue lacinia, at viverra est semper.
                        Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. <br>
                        Pellentesque non dignissim neque.<br>
                        Ut porta viverra est, ut dignissim elit elementum ut.
                        Nunc vel rhoncus nibh, ut tincidunt turpis.<br>
                        Integer ac enim pellentesque, adipiscing metus id, pharetra odio.<br>
                        Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris.<br>
                        Suspendisse felis sem, condimentum ullamcorper est sit amet, molestie mollis nulla.<br>
                        Etiam lorem orci, consequat ac magna quis, facilisis vehicula neque.
                    </div> -->
                <!-- </div>//class="contents" -->
                <!-- <div class="comment_wrap">
                    <div class="comment">
                        <img src="{% static 'images/icons/read/message-square.png' %}" alt="댓글">
                        <span>222</span>
                    </div>
                    <img src="{% static 'images/icons/read/alert-triangle.png' %}" alt="경고"> -->
                <!-- </div>//class="comment_wrap" -->
            <!-- </div>//class="contents_wrap" -->
        <!-- </div>
        <div class="comment1">
            <div class="contents_wrap">
                <div class="contents">
                    <div class="contents_title">
                        <div class="picture">
                            <img src="http://placehold.it/120">
                        </div>
                        <div class="name">Eric Ellis</div>
                        <div class="title_name">여심 저격수</div>
                        <div class="btnFollow">Follow</div>
                    </div>
                    <div class="text">
                        Donec facilisis tortor ut augue lacinia, at viverra est semper.
                        Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.
                        Pellentesque non dignissim neque.
                        Ut porta viverra est, ut dignissim elit elementum ut.
                        Nunc vel rhoncus nibh, ut tincidunt turpis.
                        Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
                        Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris.
                    </div> -->
                <!-- </div>//class="contents" -->
                <!-- <div class="comment_wrap">
                    <div class="date">May 11</div>
                    <div class="comment">
                        <img src="{% static 'images/icons/read/message-square.png' %}" alt="댓글">
                        <span>222</span>
                    </div>
                    <img src="{% static 'images/icons/read/alert-triangle.png' %}" alt="경고"> -->
                <!-- </div>//class="comment_wrap" -->
            <!-- </div>//class="contents_wrap" -->
        <!-- </div>
        <div class="comment1">
            <div class="contents_wrap">
                <div class="contents">
                    <div class="contents_title">
                        <div class="picture">
                            <img src="http://placehold.it/120">
                        </div>
                        <div class="name">Eric Ellis</div>
                        <div class="title_name">여심 저격수</div>
                        <div class="btnFollow">Follow</div>
                    </div>
                    <div class="text">
                        Donec facilisis tortor ut augue lacinia, at viverra est semper.
                        Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.
                        Pellentesque non dignissim neque.
                        Ut porta viverra est, ut dignissim elit elementum ut.
                        Nunc vel rhoncus nibh, ut tincidunt turpis.
                        Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
                        Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris.
                    </div> -->
                <!-- </div>//class="contents" -->
                <!-- <div class="comment_wrap">
                    <div class="date">May 11</div>
                    <div class="comment">
                        <img src="{% static 'images/icons/read/message-square.png' %}" alt="댓글">
                        <span>222</span>
                    </div>
                    <img src="{% static 'images/icons/read/alert-triangle.png' %}" alt="경고"> -->
                <!-- </div>//class="comment_wrap" -->
            <!-- </div>//class="contents_wrap" -->
        <!-- </div> -->
    </div> 
</div>