{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pop-up.css' %}">

<div id="noticePopup" class="pop-up">
	<div class="pop-up-inner">
		<h2>byCAL은 진화 중!</h2>
		<p>지금은 아래 서비스를 진화시키는 중이에요.<br>더 멋진 서비스를 위해 조금만 양해 부탁드려요. :)</p>
        <p class="ps">
            포인트샵을 오픈했습니다.<a href="/shop/" style="color:#004b8d";font-weight:bold;>▶︎포인트 충전하기</a><br>
            1. 이제부터 검색기능을 제공합니다. <br>
            2. 알림기능을 준비중에 있습니다. <br>
            3. 버그나 불편 사항, 개선이 필요한점이 있으면 yourfriends@bycal.co로 메일 보내주세요.
        </p>
	</div>
	<div id="closePopup" class="close"></div>
</div>

<script type="text/javascript" src="{% static 'js/pop-up.js' %}"></script>