{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pop-up.css' %}">
{#<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">#}

<div id="noticePopup" class="pop-up">
	<div class="pop-up-inner">
		<h2>octocolumn은 진화 중!</h2>
		<p>지금은 아래 서비스를 진화시키는 중이에요.<br>더 멋진 서비스를 위해 조금만 양해 부탁드려요. :)</p>
        <p class="ps">
            1. 개발자 한명이 다음주에 예비군 갑니다 ㅜ-ㅜ<br>
            2. 프로필 페이지를 전면 수정중 입니다.<br>
            3. 버그나 불편 사항, 개선이 필요한점이 있으면 support@octocolumn.com으로 메일 보내주세요.
        </p>
	</div>
	<div id="closePopup" class="close"></div>
</div>

<script type="text/javascript" src="{% static 'js/pop-up.js' %}"></script>
