{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/preview-signin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/thirdparty.css' %}">
<div class="signin-container">
	<div class="frame">
        <div class="img-container"></div>
		<form class="form-signin">
        	<div class="form_title">octocolumn에 로그인 해주세요.</div>
            <div class="form_sub">이 흥미로운 이야기를 읽기 위해서는 먼저 로그인을 해야합니다.<br>로그인 후, 칼럼 구매를 진행해주세요!<br>이제 당신에게 투자할 시간입니다.</div>
            <div class="main-container">
                <input type="email" name="username" id="email-signin" placeholder="ID">
                <input type="password" name="password" id="password1-signin" placeholder="Password" required>
            </div>
            <!-- find -->
            <div class="bottom-container">
                <button onClick="signin_api()" class="btn_signin">Sign in</button>
            	<p><span>You don't have an account?</span><!---->&nbsp;&nbsp;|&nbsp;&nbsp;<!----><span onClick="window.location.href = '/findPass/'">Forgot your password?</span></p>
            </div>
            <!-- social button -->
            <div class="btn_wrap">
            	<p>or</p>
                <div class="btn-signin facebook" onClick="alert('준비중입니다.')">
					<i class="signwith-icon icon-facebook"></i>
					<span class="signwith-text">Continue with Facebook</span>
				</div>
				<div class="btn-signin google">
                    <i class="signwith-icon icon-gplus-1"></i>
					<span class="signwith-text">Continue with Google</span>
				</div>
				<div class="btn-signin kakao">
                    <i class="signwith-icon icon-comment-alt"></i>
					<span class="signwith-text">Continue with Kakao</span>
				</div>
			</div>
		</form>
	</div>
</div>