<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, target-densitydpi=medium-dpi" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="octocolumn" />
	<meta name="copyright" content="octocolumn"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="x-rim-auto-match" content="none" />
	<meta name="theme-color" content="#2a292a" />
	<!--facebook share-->
	<meta property="og:url" content="{{ url }}" />			<!-- www.octocolumn.com/preview/@{username}/{title}-{post_id} -->
										 			<!-- {title}에 preview.js line 16 정규표현식 적용 -->
	<meta property="og:type" content="book" />
	<meta property="og:title" content="{{ title }}" />			<!-- {title} -->
										   			<!-- 이 {title}은 정규식 적용x -->
	<meta property="og:description" content="{{ main_content }}" />	<!-- {main_content} -->
	<meta property="og:image" content="/media/{{ cover_image }}" />			<!-- {cover_img} -->
    {{ cover_img }}
	<title>octocolumn</title>
	<link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/sub.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/read.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/comments.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/fontello.css' %}">		
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
	{% if login %}
		{% include 'view/header_on.html' %}
    {% else %}

	{% endif %}
	<div class="read">
		<div class="mainImg image-loader" style="background-image: url(/media/{{ cover_image }});"><!--url({cover_img})-->
		</div>
		<div class="read_wrap">
			<h2>{{ title }}</h2>
			<div class="write">
				<div class="writer">
					by <span>{{ username }}</span>
				</div>
				<div class="date">
					<!-- {date} -->
                    {{ created_datetime }}
				</div>
			</div>
		</div>
		<div class="main_content_wrap">
            {% autoescape off %}
			    {{ preview }}
            {% endautoescape %}
		</div>
		<div class="read_wrap">
			<div class="preview-tag-wrap">
			</div>
			<div class="read_profile">
				<div class="click">
					<div class="sns">
						<!--data-href="www.octocolumn.com/preview/@{username}/{title}-{post_id}"-->
						<div class="fb-share-button" data-href="" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.octocolumn.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">공유하기</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //read end -->
	<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/getComment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/preview.js' %}"></script>    
	<script type="text/javascript" src="{% static 'js/jquery.imageloader.js' %}"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.12';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>