<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, target-densitydpi=medium-dpi" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="x-rim-auto-match" content="none" />
	<meta name="theme-color" content="#2a292a" />
	<!--facebook share-->
	<meta property="og:url" content="{{ url }}" />
	<meta property="og:type" content="book" />
	<meta property="fb:app_id" content="187797705177095" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:image" content="https://static.octocolumn.com/media/{{ cover_image }}" />
	<meta property="og:image:width" content="237px" />
	<meta property="og:image:height" content="200px" />
	<title>octocolumn</title>
	<link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/sub.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/read.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/comments.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/fontello.css' %}">		
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
	{% if login %}
		{% include 'view/header_on.html' %}
    {% else %}

	{% endif %}
	<div class="read">
		<div class="mainImg image-loader" style="background-image: url({{ cover_image.url }});">
            {{ MEDIA_URL }}
		</div>
		<div class="read_wrap">
			<div class="preview-title" id="preview-title">{{ title }}</div>
			<div class="write">
				<div class="writer">
					by <span class="preview-author" id="preview-author">{{ username }}</span>
				</div>
				<div class="date">
                    {{ created_datetime }}
				</div>
			</div>
		</div>
		<div class="main_content_wrap">
            {% autoescape off %}
			    {{ preview }}
			{% endautoescape %}
			<div class="gradient"></div>
		</div>
		<div class="read_wrap">
			{% if login %}
				{% include 'view/preview-purchase.html' %}
			{% else %}
				{% include 'view/preview-signin.html' %}
			{% endif %}
		</div>
	</div>
	<!-- //read end -->
    <script type="text/javascript" src="{% static 'js/preview.js' %}"></script>    
	<script type="text/javascript" src="{% static 'js/jquery.imageloader.js' %}"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.12';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>