{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/preview-purchase.css' %}">
<div class="signin-container">
	<div class="frame">
        <div class="img-container"></div>
        <div class="main-container">
        	<div class="form_title">칼럼 구매 후 읽어주세요.</div>
            <div class="form_sub">이 흥미로운 이야기를 읽기 위해서는 구매를 해야합니다.<br>아래의 버튼을 통해, 이 칼럼을 구매해주세요.<br>이제 당신에게 투자할 시간입니다.</div>
            <button onClick="signin_api()" class="btn_signin">칼럼 구매하기</button>
        </div>
	</div>
</div>