<!doctype html>
<html>
<head>
{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="octocolumn" />
<meta name="keywords" content="octocolumn" />
<meta name="copyright" content="octocolumn" />
<meta name="theme-color" content="#2a292a" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="x-rim-auto-match" content="none" />
<meta name="google-site-verification" content="Dq8XH8YdjcP0i0psM5a-wvQuiIInde9PlKijyO33y1c" />
<title>octocolumn</title>
<!-- core CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon-profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.css' %}"/>    
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.theme-atlant.css' %}" />
<!-- JS -->
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

</head>

<body class="scrollbar-none">
<!-- wrapper -->
<div class="page">
    {% if login %}
        {% include 'view/header_on.html' %}
    {% else %}
        <script>window.location.href = '/';</script>
    {% endif %}
	<!-- header -->
    
	<!-- main content -->
    <main>
    <div class="main-container">
    	<!-- Profile -->
    	<div class="profile-wrap">
            <div class="profileCover-wrap" id="cover">
                <input type="file" id="coverImgInput" accept=".jpg,.jpeg,.png">
            	<div class="profileCover-block">
					<a href="#" class="btn">Edit</a>
				</div>
            </div>
            <div class="profileImg-wrap profile-image-upload-wrap" id="profileImg">
                <input type="file" id="profileImgInput" accept=".jpg,.jpeg,.png">
            	<div class="profileImg-block">
					<a href="#" class="btn">Edit</a>
				</div>
            </div>
        </div>
        <div class="profileInfo">
            <div class="userName">User Name</div>
            <div class="userIntro" id="profileIntro">자기소개란을 준비했습니다.<br>다른 사람들이 당신에 대해서 알 수 있도록 도와줄 겁니다.</div>
            <!-- SNS -->
            <div class="userSns-wrap">
                <ul>
                    <li class="userSns personal-website"><a href=""><span class="icon-home"></span></a></li>
                    <li class="userSns facebook"><a href=""><span class="icon-facebook"></span></a></li>
                    <li class="userSns instagram"><a href=""><span class="icon-instagram"></span></a></li>
                    <li class="userSns twitter"><a href=""><span class="icon-twitter"></span></a></li>
                </ul>
            </div>
        </div>
        
        <!-- Waiting Reader -->
        <div class="waiting-wrap">
        	<p><span>0</span>&nbsp;명이 당신의 글을 기다리고 있어요.</p>
        </div>
        
        <!-- Profile Stats -->
        <div class="profileStats">
            <!-- Follower -->
            <div class="follower-wrap">
                <div class="user-stats">
                    <span id="Follower">222</span>
                    <p>Follower</p>
                </div>
                <div class="nf-follower" style="display:none">
                	<div class="close"></div>
                	<p>Follower</p>
                	<ul class="follow-list scrollbar-basic">
                    
                        <li class="follow">
                            <div class="follow-pic"></div>
                            <div class="follow-content">
                                <span class="follow-name">#####</span>
                                <button onClick="" class="btn_follower">Follow</button>
                            </div>
                        </li>
                        
                    </ul>
                    
                </div>
            </div>
            <!-- Following -->
            <div class="following-wrap">
                <div class="user-stats">
                    <span id="Following">222</span>
                    <p>Following</p>
                </div>
                <div class="nf-following" style="display:none">
                	<div class="close"></div>
                	<p>Following</p>
                	<ul class="follow-list scrollbar-basic">
                    
                        <li class="follow">
                            <div class="follow-pic"></div>
                            <div class="follow-content">
                                <span class="follow-name">#####</span>
                                <button onClick="" class="btn_following">Following</button>
                            </div>
                        </li>
                        
                    </ul>
            	</div>
            </div>
            <!-- Posts -->
            <div class="user-stats">
                <span id="posts">222</span>
            	<p>Posts</p>
            </div>
        </div>
        <!-- swipegory -->
        <div class="submenu-wrapper">
            <!--.submenu-category-->
            <div class="submenu-category">
                <!--.item 01 -->
                <div class="item active" data-id="1">
                    <div class="item-name"><span class="icon-user"></span>About</div>
                </div>
                <!--.item 02 -->
                <div class="item" data-id="2">
                    <div class="item-name"><span class="icon-eye"></span>Timeline</div>
                </div>
                <!--.item 03 -->
                <div class="item" data-id="3">
                    <div class="item-name"><span class="icon-database"></span>Point</div>
                </div>
                <!--.item 04 -->
                <div class="item" data-id="4">
                    <div class="item-name"><span class="icon-cog"></span>Setting</div>
                </div>
            </div>
            
            <!--.submenu-content-->
            <div class="submenu-content">
                <!--.item-detail 01 -->
                <div class="item-detail active" id="item-1">
                	<div class="about-wrap">
                    	<ul>
                        	<li class="about-content-wrap">
                            	<span class="info-title">Contact Information</span>
                            	<ul>
                                    <li>
                                        <div class="about-title">Phone</div>
                                        <div class="about-content" id="phone"></div>
                                    </li>
                                    <li>
                                        <div class="about-title">E-mail</div>
                                        <div class="about-content" id="email"></div>
                                    </li>
                                </ul>
                            </li>
                        	<li class="about-content-wrap">
                            	<span class="info-title">Basic Information</span>
                            	<ul>
                                    <li>
                                        <div class="about-title">Birthday</div>
                                        <div class="about-content" id="birth"></div>
                                    </li>
                                    <li>
                                        <div class="about-title">Gender</div>
                                        <div class="about-content" id="gender"></div>
                                    </li>
                                    <li>
                                        <div class="about-title">Job</div>
                                        <div class="about-content" id="job"></div>
                                    </li>
                                    <li>
                                        <div class="about-title">Interests</div>
                                        <div class="about-content" id="interests"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="invite-wrap">
                        	<p>byCAL의 서비스가 마음에 드셨나요?<br>지인에게 초대장을 발송해보세요!</p>
                            <div class="invite">
                                <input type="email" id="emailAddr" placeholder="초대장을 보낼 사람의 이메일을 입력하세요.">
                                <button class="btn-send">전송</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--.item-detail 02 -->
                <div class="item-detail" id="item-2">
                    <div class="timeline-wrap">
                    	<ul class="timeline">
                        </ul>
					</div>
				</div>
                
                <!--.item-detail 03 -->
                <div class="item-detail" id="item-3">
                    <div class="point-wrap">
                    	<div class="point-half">
                            <div class="have-point">
                                <div class="point-title">보유 포인트</div>
                                <div class="point-sub"><span id="point-amount">0</span>&nbsp;Point</div>
                                <div class="btn-exchange">환전</div>
                            </div>
                            <div class="have-coupon">
                                <div class="point-title">보유 쿠폰</div>
                                <div class="point-sub"><span id="coupon-amount">0</span>&nbsp;장</div>
                                <div class="btn-exchange">확인</div>
                            </div>
                        </div>
                        
                        <div class="point-full">
                            <p>사용 내역</p>
                            <div class="point-full-title">
                                <div class="spend-time-title">시간</div>
                                <div class="spend-amount-title">포인트</div>
                                <div class="spend-cont-title">내용</div>
                            </div>
                            <!-- 사용 내역 -->
                            <ul class="point-full-sub scrollbar-basic">
                            </ul>
                        </div>
                    </div>
                </div>
                <!--.item-detail 04 -->
                <div class="item-detail" id="item-4">
                    <div class="setting-wrap">
                        <ul>
                            <li class="setting-content-wrap">
                                <div class="warning-setting">
                                    공개하고 싶지 않은 정보는 좌측 체크박스를 해제하세요.
                                </div>
                            </li>
                            <li class="setting-content-wrap">
                                <span class="info-title">Introduce</span>
                                <div class="introduce" contenteditable="true"></div>
                            </li>
                            <li class="setting-content-wrap">
                                <span class="info-title">Contact Information</span>
                                <ul>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch01" type="checkbox" checked="true">
                                            <label for="ch01">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Phone</div>
                                        </div>
                                        <div class="setting-content">
                                            <select>
                                                <option value="010">010</option>
                                                <option value="011">011</option>
                                                <option value="016">016</option>
                                            </select>
                                            -
                                            <input type="text" id="HPhone1" maxlength="4">
                                            -
                                            <input type="text" id="HPhone2" maxlength="4">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch02" type="checkbox" checked="true">
                                            <label for="ch02">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">E-mail</div>
                                        </div>
                                        <div class="setting-content" id="myemail"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="setting-content-wrap">
                                <span class="info-title">SNS</span>
                                <ul>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch03" type="checkbox" checked="true">
                                            <label for="ch03">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Website</div>
                                        </div>
                                        <div class="setting-content">
                                            https://
                                            <input type="text" id="mywebsite">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch04" type="checkbox" checked="true">
                                            <label for="ch04">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Facebook</div>
                                        </div>
                                        <div class="setting-content">
                                            www.facebook.com/
                                            <input type="text" id="myfacebook">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch05" type="checkbox" checked="true">
                                            <label for="ch05">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Instagram</div>
                                        </div>
                                        <div class="setting-content">
                                            www.instagram.com/
                                            <input type="text" id="myinstagram">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch06" type="checkbox" checked="true">
                                            <label for="ch06">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Twitter</div>
                                        </div>
                                        <div class="setting-content">
                                            twitter.com/
                                            <input type="text" id="mytwitter">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="setting-content-wrap">
                                <span class="info-title">Basic Information</span>
                                <ul>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch07" type="checkbox" checked="true">
                                            <label for="ch07">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Birthday</div>
                                        </div>
                                        <div class="setting-content">
                                            <input id="datepicker">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch08" type="checkbox" checked="true">
                                            <label for="ch08">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Gender</div>
                                        </div>
                                        <div class="setting-content">
                                            <input type="radio" class="gender" id="genderM" value="M" checked="true"><span>Male</span>
                                            <input type="radio" class="gender" id="genderF" value="F"><span>Female</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch09" type="checkbox" checked="true">
                                            <label for="ch09">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Job</div>
                                        </div>
                                        <div class="setting-content">
                                            <input type="text" id="myjob">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting-menu">
                                            <input id="ch10" type="checkbox" checked="true">
                                            <label for="ch10">
                                                <span class="icon-ok"></span>
                                            </label>
                                            <div class="setting-title">Interests</div>
                                        </div>
                                        <div class="setting-content">
                                            <input type="text" id="myinterests">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="setting-content-wrap">
                                <p class="info-title">Privacy Information</p>
                                <ul>
                                    <li>
                                        <span class="setting-privacy-btn">비밀번호 변경</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <button class="btn_save">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
</div>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/invite.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/get-profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/getUserCard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/drag-n-crop.js' %}"></script>
<script type="text/javascript" src="{% static 'js/get-my-posts.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/jquery.modal.js' %}"></script>
</body>
</html>
