<!doctype html>
<html>
<head>
{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="octocolumn" />
<meta name="keywords" content="octocolumn" />
<meta name="copyright" content="octocolumn" />
<meta name="theme-color" content="#2a292a" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="x-rim-auto-match" content="none" />
<meta name="google-site-verification" content="Dq8XH8YdjcP0i0psM5a-wvQuiIInde9PlKijyO33y1c" />
<title>octocolumn</title>
<!-- core CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon-profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.css' %}"/>    
<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.theme-atlant.css' %}" />
<!-- JS -->
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

</head>

<body class="scrollbar-none">
<!-- wrapper -->
<div class="page">
    {% if login %}
        {% include 'view/header_on.html' %}
    {% else %}
        <script>window.location.href = '/';</script>
    {% endif %}
	<!-- header -->
    
	<!-- main content -->
    <main>
    <div class="main-container">
    	<!-- Profile -->
    	<div class="profile-wrap">
            <div class="profileCover-wrap">
            	<div class="profileCover-block">
					<a href="#" class="btn">Edit</a>
				</div>
            </div>
            <div class="profileImg-wrap">
                <img src="" alt="">
            	<div class="profileImg-block">
					<a href="#" class="btn">Edit</a>
				</div>
            </div>
            <div class="profileInfo">
            	<div class="userName">User Name</div>
                <span>Introduce yourself!</span>
            </div>
        </div>
        
        <!-- SNS -->
        <div class="userSns-wrap">
        	<ul>
                <li class="userSns personal-website"><span class="icon-home"></span></li>
                <li class="userSns facebook"><span class="icon-facebook"></span></li>
                <li class="userSns instagram"><span class="icon-instagram"></span></li>
                <li class="userSns twitter"><span class="icon-twitter"></span></li>
            </ul>
        </div>
        
        <!-- Waiting Reader -->
        <div class="waiting-wrap">
        	<p><span>0</span>&nbsp;명이 당신의 글을 기다리고 있어요.</p>
        </div>
        
        <!-- Profile Stats -->
        <div class="profileStats">
            <!-- Follower -->
            <div class="follower-wrap">
                <div class="user-stats">
                    <span id="Follower">222</span>
                    <p>Follower</p>
                </div>
                <div class="nf-follower" style="display:none">
                	<div class="close"></div>
                	<p>Follower</p>
                	<ul class="follow-list scrollbar-basic">
                    
                        <li class="follow">
                            <div class="follow-pic"></div>
                            <div class="follow-content">
                                <span class="follow-name">#####</span>
                                <button onClick="" class="btn_follower">Follow</button>
                            </div>
                        </li>
                        
                    </ul>
                    
                </div>
            </div>
            <!-- Following -->
            <div class="following-wrap">
                <div class="user-stats">
                    <span id="Following">222</span>
                    <p>Following</p>
                </div>
                <div class="nf-following" style="display:none">
                	<div class="close"></div>
                	<p>Following</p>
                	<ul class="follow-list scrollbar-basic">
                    
                        <li class="follow">
                            <div class="follow-pic"></div>
                            <div class="follow-content">
                                <span class="follow-name">#####</span>
                                <button onClick="" class="btn_following">Following</button>
                            </div>
                        </li>
                        
                    </ul>
            	</div>
            </div>
            <!-- Posts -->
            <div class="user-stats">
                <span id="posts">222</span>
            	<p>Posts</p>
            </div>
        </div>
        <!-- swipegory -->
        <div class="submenu-wrapper">
            <!--.submenu-category-->
            <div class="submenu-category">
                <!--.item 01 -->
                <div class="item active" data-id="1">
                    <div class="item-name"><span class="icon-user"></span>About</div>
                </div>
                <!--.item 02 -->
                <div class="item" data-id="2">
                    <div class="item-name"><span class="icon-eye"></span>Timeline</div>
                </div>
                <!--.item 03 -->
                <div class="item" data-id="3">
                    <div class="item-name"><span class="icon-database"></span>Point</div>
                </div>
                <!--.item 04
                <div class="item" data-id="4">
                    <div class="item-name">Achievements</div>
                </div>
                -->
            </div>
            
            <!--.submenu-content-->
            <div class="submenu-content scrollbar-basic">
                <!--.item-detail 01 -->
                <div class="item-detail active" id="item-1">
                	<div class="about-wrap">
                    	<ul>
                        	<li class="about-content-wrap">
                            	<span class="btn-edit">Edit</span>
                            	<p>Contact Information</p>
                            	<ul>
                                    <li>
                                        <div class="about-title">Phone</div>
                                        <div class="about-content" id="phone">+22 22-2222-2222</div>
                                    </li>
                                    <li>
                                        <div class="about-title">E-mail</div>
                                        <div class="about-content" id="email">+22 22-2222-2222</div>
                                    </li>
                                </ul>
                            </li>
                        	<li class="about-content-wrap">
                            	<span class="btn-edit">Edit</span>
                            	<p>Basic Information</p>
                            	<ul>
                                    <li>
                                        <div class="about-title">Birthday</div>
                                    </li>
                                    <li>
                                        <div class="about-title">Gender</div>
                                        <div class="about-content" id="gender">-</div>
                                    </li>
                                    <li>
                                        <div class="about-title">Job</div>
                                        <div class="about-content" id="job">-</div>
                                    </li>
                                    <li>
                                        <div class="about-title">Interests</div>
                                        <div class="about-content" id="interests">-</div>
                                    </li>
                                </ul>
                            </li>
                            <li class="about-content-wrap">
                            	<p>Privacy Information</p>
                            	<ul>
                                    <li>
                                        <span class="about-privacy-btn">비밀번호 변경</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="invite-wrap">
                        	<p>octocolumn의 서비스가 마음에 드셨나요?<br>지인에게 초대장을 발송해보세요!</p>
                            <div class="invite">
                                <input type="email" id="emailAddr" placeholder="초대장을 보낼 사람의 이메일을 입력하세요.">
                                <button class="btn-send">전송</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--.item-detail 02 -->
                <div class="item-detail" id="item-2">
                    <div class="timeline-wrap">
                    	<ul class="timeline">
                        </ul>
					</div>
				</div>
                
                <!--.item-detail 03 -->
                <div class="item-detail" id="item-3">
                    <div class="point-wrap">
                    	<div class="point-half">
                            <div class="have-point">
                                <div class="point-title">보유 포인트</div>
                                <div class="point-sub"><span id="point-amount">0</span>&nbsp;Point</div>
                                <div class="btn-exchange">환전</div>
                            </div>
                            <div class="have-coupon">
                                <div class="point-title">보유 쿠폰</div>
                                <div class="point-sub"><span id="coupon-amount">0</span>&nbsp;장</div>
                                <div class="btn-exchange">확인</div>
                            </div>
                        </div>
                        
                        <div class="point-full">
                            <p>사용 내역</p>
                            <div class="point-full-title">
                                <div class="spend-time-title">시간</div>
                                <div class="spend-amount-title">포인트</div>
                                <div class="spend-cont-title">내용</div>
                            </div>
                            <!-- 사용 내역 -->
                            <ul class="point-full-sub scrollbar-basic">
                            </ul>
                        </div>
                    </div>
                </div>
                <!--.item-detail 04
                <div class="item-detail" id="item-4">
                    <h3>준비중입니다. 조금만 기다려주세요! :)</h3>
                </div>
                -->
            </div>
        </div>
    </div>
    </main>
</div>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/invite.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/get-profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/getUserCard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/drag-n-crop.js' %}"></script>
<script type="text/javascript" src="{% static 'js/get-my-posts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.modal.js' %}"></script>	 -->
</body>
</html>
