<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octoclumn" />
	<meta name="keyworads" content="octoclumn">
	<meta name="copyright" content="octoclumn"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<title>octoclumn</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/common2.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/profile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/flip-card.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/get-my-posts.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/get-profile.js' %}"></script>
</head>
<style>

</style>
<body>
	<div class="mBg"></div>
	{% if login %}
		{% include 'view/header_on.html' %}
	{% else %}
		<script>window.location.href = "/"</script>
	{% endif %}
	<div class="profile_allWrap">
		<div class="profile">
			<div class="profile_box">
				<div class="profile_tab1">
					개<br />
					인<br />
					정<br />
					보<br />
				</div>
				<div class="profile_tab2">
					포<br />
					인<br />
					트<br />
					내<br />
					역<br />
				</div>
				<div class="profile_tab3">
					관<br />
					계<br />
				</div>
				<div class="profile_tab4">
					업<br />
					적<br />
				</div>
				<div class="profile_tab5">
					계<br />
					정<br />
					정<br />
					보<br />
				</div>
				<div class="profile_tab6 active">
					내<br />
					<br />
					글<br />
				</div>
			</div>
			<div class="profile_img">
					<input type='file' id="profileImgInput" accept=".jpg,.jpeg,.png"/>
					<img id="profileImg" src="http://via.placeholder.com/200x200" alt="">
				<div class="profileimg_write"></div>
			</div>
			<div class="profile_mainbanner">
				<input type='file' id="coverImgInput" accept=".jpg,.jpeg,.png"/>
				<img id="coverImg" src="http://via.placeholder.com/944x320" alt="">
			</div>
			<div class="profile_write"></div>
			<div class="profile_condition">
				<div class="profile_con_txt">
					당신의 글을 기다리고 있는 사람
				</div>
				<div class="profile_con_icon">0</div>
				<div class="profile_con_stamp">
					<!-- <div class="stamp_tit">스탬프</div>
					<div class="stamp_img">
						<div class="stamp_icon1"></div>
						<div class="stamp_icon1"></div>
						<div class="stamp_icon2"></div>
						<div class="stamp_icon2"></div>
						<div class="stamp_icon2"></div>
						<div class="stamp_icon2"></div>
						<div class="stamp_icon2"></div>
						<div class="stamp_icon2"></div>
					</div> -->
				</div>
				<div class="profile_con_following">
					<div class="following_tit">Following</div>
					<div class="following_num" id="following">0</div>
				</div>
				<div class="profile_con_following" style="margin-right: 1px;">
					<div class="following_tit">Follower</div>
					<div class="following_num" id="follower">0</div>
				</div>
				<div class="profile_con_following">
					<div class="following_tit">Posts</div>
					<div class="following_num" id="posts">0</div>
				</div>
			</div>
			<div class="profile_content">
				<div class="content_title1">Kelly Sullivan</div>
				<div class="content_title2"><!--업적--></div>
				<div class="profile_introduce">
					<div class="pro_intro_tit">자기소개</div>
					<div class="pro_intro_btn"></div>
					<div id="profileIntro" contenteditable="false" placeholder="자기소개 입력란">In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any one place; for at one and the same time everything has to be done everywhere. It is much the same with him who endeavors the description of the scene. We must now retrace our way a little.</div>
				</div>
				<div class="profile-userInfo">
					<div class="profile-title-wrap">
						<div class="infoTitle">기본 정보</div>
						<div class="infoTitle">연락처 정보</div>
						<div class="infoTitle">개인 정보</div>
					</div>
					<div class="profile-info-wrap">
						<div class="table-wrap">
							<table class="base-table">
								<tr>
									<td>태어난 년도</td>
									<td>1989년</td>
									<td></td>
								</tr>
								<tr>
									<td>생일</td>
									<td>9월30일</td>
									<td></td>
								</tr>
								<tr>
									<td>성별</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>나이</td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
						<div class="table-wrap">
							<table class="contact-table">
								<tr>
									<td>휴대폰</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>지역</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>이메일</td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
						<div class="table-wrap">
							<table class="private-table">
								<tr>
									<td>직업</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>웹사이트</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>facebook</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>instargam</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>twitter</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>관심분야</td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="profile-point-history">
					<div class="items-wrap">
						<div class="have-point">
							<span class="point-text">보유 포인트</span>
							<div class="point-wrap">
								<span id="point-amount">1000</span>
								<span>point</span>
								<div class="btn-exchange">환전</div>
							</div>
						</div>
						<div class="have-point">
							<span class="point-text">보유 쿠폰</span>
							<div class="point-wrap">
								<span id="cupon-amount">3장</span>
								<div class="btn-exchange">확인</div>
							</div>
						</div>
					</div>
					<table class="point-history-wrap">
						<tr>
							<th>시간</th>
							<th>포인트</th>
							<th>내용</th>
						</tr>
						<tr>
							<td>2017년 10월 8일 16:23</td>
							<td>5 point</td>
							<td>Can these bones live? <span id="stat">댓글 작성</span></td>
						</tr>
						<tr>
							<td>2017년 10월 9일 17:11</td>
							<td>100 point</td>
							<td>편의점 인간 후기, 정말로 업이 나를 완성시킬 수 있을까? <span id="stat">구매</span></td>
						</tr>
					</table>
				</div>
				<div class="profile-relationship">
					<div class="relationship-tab-wrap">
						<div class="tab">Following</div>
						<div class="tab">Follower</div>
						<div class="tab">Blocked</div>
					</div>
				</div>
				<div class="profile_history">
					<div class="pro_his_tit1">출판</div>
					<div class="pro_his_tit2">작성 중</div>
					<div class="history_bar">
						<div class="history_year1">1975</div>
						<div class="history_year2">2018</div>
						<div class="history_year3">Today</div>
						<div class="history_date1">
							<span>07.11</span>
							<div class="date_box">
								octocolumn 가입! :)
							</div>
							<div class="bordertip_right2"></div>
						</div>
						<!-- <div class="history_date2">
							<span>07.11</span>
							<div class="date_box">
								<div class="date_img">
									<img src="http://via.placeholder.com/104x72" alt="">
								</div>
								<span>And Then I Made My First Million (Only To Lose It Later)</span>
							</div>
							<div class="bordertip_left"></div>
						</div>

						<div class="history_date3">
							<span>07.11</span>
							<div class="date_box">
								<div class="date_img"></div>
								<span>And Then I Made My First Million (Only To Lose It Later)</span>
							</div>
							<div class="bordertip_right"></div>
						</div> -->
					</div>
				</div>
			</div>
		</div>

	</div><!-- class="profile_allWrap" -->


</body>
</html>
