<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octoclumn" />
	<meta name="keyworads" content="octoclumn">
	<meta name="copyright" content="octoclumn"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="theme-color" content="#2a292a">

	<title>octoclumn</title>
	<link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sub.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/read.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/getPost.js' %}"></script>
</head>
<body>
	{% if login %}
		{% include 'view/header_on.html' %}
	{% else %}
	<script>window.location.href = "/"</script>
	{% endif %}
	<div class="read">
		<div class="mainImg">
		</div>
		<div class="read_wrap">
			<h2>The Year From Above</h2>
			<div class="write">
				<div class="writer">
					by <span>Benjamin Rogers</span>
				</div>
				<div class="date">
					2017. 12. 18 <span>18:33</span>
				</div>
			</div>
		</div>
		<div class="main_content_wrap">
			<!-- 여기에 포스트 데이터 -->
		</div>
		<!-- 코멘트추가 read_comment.html -->
	</div><!-- read -->
</body>
</html>
