<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="byCAL" />
	<meta name="keywords" content="byCAL">
	<meta name="copyright" content="byCAL"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="theme-color" content="#2a292a">
	<title>byCAL</title>
	<link rel="shortcut icon" href="{% static 'images/favicon/favicon-32.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/sub.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/read.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/comments.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/fontello.css' %}">		
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
	{% if login %}
		{% include 'view/header_on.html' %}
		<script>var text = "댓글을 입력해주세요."</script>
	{% else %}
		{% include 'view/header.html' %}
		<script>var text = '댓글을 입력하려면 로그인 해주세요.'</script>
		<!-- <script>window.location.href = "/signin/"</script> -->
	{% endif %}
	<div class="read">
		<div class="mainImg image-loader">
		</div>
		<div class="read_wrap">
			<h2><!--제목--></h2>
			<div class="write">
				<div class="writer">
					by <span><!--작가이름--></span>
				</div>
				<div class="date">
					<!--작성날짜--> <span><!--작성시각--></span>
				</div>
			</div>
		</div>
		<div class="main_content_wrap">
			<!-- 여기에 포스트 데이터 -->
		</div>
		<div class="read_wrap">
			<div class="preview-tag-wrap">
			</div>
			<div class="read_profile">
				<div class="click">
					<!-- <div class="wait">
						<img src="{% static 'images/icons/read/wtb.png' %}" alt="기다림">
						기다림
					</div>
					<div class="star">
						<div class="star_click">
							<img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
							<img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
							<img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
							<img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
							<img src="{% static 'images/icons/read/yst.png' %}" alt="평가">
						</div>
						평가하기
					</div> -->
					<div class="sns">
						<!-- <img src="{% static 'images/icons/read/Fb.png' %}" alt="페이스북"> -->
						<div class="fb-share-button" data-href="" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.byCAL.co%2Fpreview%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">공유하기</a></div>
						<!-- <img src="{% static 'images/icons/read/twt.png' %}" alt="트위터">
						<img src="{% static 'images/icons/read/eCombined Shape.png' %}" alt="공유">
						<img src="{% static 'images/icons/read/bmb.png' %}" alt="북마크">
						<img src="{% static 'images/icons/read/alert-triangle.png' %}" alt="경고">						 -->
					</div>
				</div><!-- click -->
				<div class="contents_wrap">
					<div class="contents">
						<div class="contents_title">
							<div class="picture image-loader">
							</div>
							<div class="name"></div>
							<!-- <div class="title_name">여행 전문가</div> -->
							<div class="btnFollow">Follow</div>
						</div>
						<div class="text">
							<!-- 작가 자기소개 -->
						</div>
					</div><!-- class="contents" -->
				</div><!-- class="contents_wrap" -->
			</div><!-- "read_profile" -->
			<div class="comments-container">
				<ul id="comments-list" class="comments-list">
					<li>
						<div class="input_reply_container">
							<textarea class="input_comment" placeholder="" cols="" rows="1"></textarea>
							<button type="button" class="comment_button">입력</button>
						</div>
					</li>
				</ul>
			</div>
		</div><!-- class="read_wrap" -->
	</div><!-- read -->
	{% if login %}
	
	{% else %}
		{% include 'view/modal-signin.html' %}
	{% endif %}
	<script>
		$('.input_comment').attr('placeholder',text);
		if(text == '댓글을 입력하려면 로그인 해주세요.') $('.input_comment, .comment_button').css('pointer-events','none');
	</script>
	<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/getComment.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/read.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/title-to-header.js' %}"></script>
	<script src="{% static 'js/jquery.imageloader.js' %}"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.12';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>