<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="byCAL" />
	<meta name="keywords" content="byCAL">
	<meta name="copyright" content="byCAL"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="theme-color" content="#2a292a">

    <meta property="og:url" content="{{ url }}" />
	<meta property="og:type" content="book" />
	<meta property="fb:app_id" content="187797705177095" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:image" content="https://bycal.blob.core.windows.net/media/{{ cover_image }}" />
	<meta property="og:image:width" content="237px" />
	<meta property="og:image:height" content="200px" />

	<title>byCAL</title>
	<link rel="shortcut icon" href="{% static 'images/favicon/favicon-32.ico' %}" />
	<link rel="apple-touch-icon" href="{% static 'images/favicon/favicon-32.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/read.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/comments.css' %}" />	
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-read.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.css' %}"/>    
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.theme-atlant.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
	{% if login %}
		{% include 'view/header_on.html' %}
		<script>var text = "댓글을 입력해주세요."</script>
	{% else %}
		{% include 'view/header.html' %}
		<script>var text = '댓글을 입력하려면 로그인 해주세요.'</script>
	{% endif %}

	<div id="read-container">
		<!-- social read -->
		<div class="read-content">
			<div class="wrap-cover-img">
				<div class="cover-img image-loader"></div>
			</div>
			<!-- Column read -->
			<div class="column-read">
				<div class="column-title-wrap">
					<div class="column-title"></div>
					<div class="columnist-info">
						<div class="columnist-name">
							by <span class="user-name"><i></i></span>
						</div>
						<div class="date-published"></div>
					</div>
					<!-- ribbon -->
					<div class="ribbon"></div>
				</div>
				<!-- Main Contents -->
				<div class="column-content">

				</div>
				
				<!-- Tags -->
				<div class="column-tags">
					<p>Tags</p>
					<ul>

					</ul>
				</div>
				<!-- Star Rating -->
				<div class="rating">
					<input id="star10" name="rating" type="radio" value="10"/>
					<label for="star10" class="font-read-star"></label>
					
					<input id="star9" name="rating" type="radio" value="9"/>
					<label for="star9" class="font-read-star-half"></label>
					
					<input id="star8" name="rating" type="radio" value="8"/>
					<label for="star8" class="font-read-star"></label>
					
					<input id="star7" name="rating" type="radio" value="7"/>
					<label for="star7" class="font-read-star-half"></label>
					
					<input id="star6" name="rating" type="radio" value="6"/>
					<label for="star6" class="font-read-star"></label>
					
					<input id="star5" name="rating" type="radio" value="5"/>
					<label for="star5" class="font-read-star-half"></label>
					
					<input id="star4" name="rating" type="radio" value="4"/>
					<label for="star4" class="font-read-star"></label>
					
					<input id="star3"  name="rating" type="radio" value="3"/>
					<label for="star3" class="font-read-star-half"></label>
					
					<input id="star2"  name="rating" type="radio" value="2"/>
					<label for="star2" class="font-read-star"></label>
					
					<input id="star1"  name="rating" type="radio" value="1"/>
					<label for="star1" class="font-read-star-half"></label>
				</div>
				<!-- Share Button-->
				<div class="post-share-btn">
					<span class="font-read-facebook" style="position:relative;">
						<div class="fb-share-button" style="opacity:0;overflow:hidden;width:24px;height:32px;position:absolute;top:0;left:0;" data-href="{{ url }}" data-layout="button" data-size="small" data-mobile_iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.byCAL.co%2Fpreview%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
					</span>
					<span class="font-read-twitter"></span>
					<span class="font-read-link"></span>
				</div>
				
				<div class="writer_intro">
					<div class="waiting-btn">
						<!--<span class="font-read-heart hvr-icon-pulse-shrink"></span>-->
					</div>
					<div class="writer_info">
						<div class="writer_cover image-loader"></div>
						<div class="writer_name"></div>
						<div class="writer_follow">Follow</div>
					</div>
					<div class="writer_say"></div>
				</div>
			</div>
			<div class="comments-container">
				<ul id="comments-list" class="comments-list">
					<li>
						<div class="input_reply_container">
							<textarea class="input_comment" placeholder="" cols="" rows="1"></textarea>
							<button type="button" class="comment_button">입력</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	{% if login %}
	
	{% else %}
		{% include 'view/modal-signin.html' %}
	{% endif %}
	<script>
		$('.input_comment').attr('placeholder',text);
		if(text == '댓글을 입력하려면 로그인 해주세요.') $('.input_comment, .comment_button').css('pointer-events','none');
	</script>
	<script type="text/javascript" src="{% static 'js/jquery.modal.js' %}"></script>	
	<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/getComment.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/read.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/title-to-header.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/checkBookMark.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.imageloader.js' %}"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.12';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>