<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octocolumn" />
	<meta name="keywords" content="octocolumn">
	<meta name="copyright" content="octocolumn"/>
	<meta name="theme-color" content="#2a292a">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
    <title>octocolumn</title>
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/font-icon-btn.css' %}">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/preview.css' %}" />    
    <!-- js -->
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>  
</head>
<body>
    <div class="page">
	{% if login %}
		{% include 'view/header_on.html' %}
	{% else %}
		{% include 'view/header.html' %}
    {% endif %}
        <main>
            <div class="container" id="container">
                <div class="sub-content-title">
                </div>
                <div class="blog-posts">
                    <!--post list-->
                </div> 	
            </div>
        </main>
        <div class="profile-card"><div class="flip"></div></div>
    </div>
    <script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/recent.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/balloon.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/checkOwnPost.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/request-buy.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spin.js' %}"></script>	    
    <script type="text/javascript" src="{% static 'js/checkBookMark.js' %}"></script>  
    <script type="text/javascript" src="{% static 'js/jquery.imageloader.js' %}"></script>    
</body>
</html>