<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="byCAL" />
	<meta name="keywords" content="byCAL" />
    <meta name="copyright" content="byCAL"/>
    <meta name="author" content="eugene"/>    
	<meta name="theme-color" content="#2a292a">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<title>byCAL</title>
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon-32.ico' %}">
	<!-- core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.css' %}"/>    
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.theme-atlant.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/forgotPW.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
</head>
<body class="scrollbar-basic welcome-bg">        
    <main>
        <!-- wrapper -->
        <div class="findPW-container">
            <div class="findPW-title">
                <h1>Forgot your password?</h1>
                <h3>비밀번호가 기억나지 않으세요?<br>byCAL에 가입한 이메일 주소를 입력해주세요.<br>해당 이메일을 통해 비밀번호를 재설정할 수 있습니다.</h3>
            </div>
            <div class="frame">
                <div class="form-findPW">
                    <div class="form_title">Reset password</div>
                    <div class="mid-container">
						<input type="password" id='pass1' placeholder="새로운 비밀번호(영문, 숫자 포함 8자리 이상)">
						<input type="password" id='pass2' placeholder="새로운 비밀번호 재입력">
                    </div>
                    
                    <!-- sign up button -->
                    <div class="bottom-container">
                        <button id="btnResetPass">Reset password</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/findPass.js' %}"></script>
    <script src="{% static 'js/jquery.modal.js' %}"></script>	
</body>
</html>