<!DOCTYPE html>
<html lang="ko">
<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=1280, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="bootpay-application-id" content="5ab88457b6d49c1aaa550da7" />	
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octocolumn" />
	<meta name="keywords" content="octocolumn">
	<meta name="copyright" content="octocolumn"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<title>octocolumn</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/shop.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sass/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<!-- JS -->
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
	<script src="https://cdn.bootpay.co.kr/js/bootpay-2.0.2.min.js"></script>
</head>
<script>
function buyBtnClick() {
  //결제요청을 위한 Api, 실제 사용 코드
  BootPay.request({
            price: '2200', //실제 결제되는 가격
            application_id: '5ab88457b6d49c1aaa550da7',
            name: 'Tester', //결제창에서 보여질 이름
            pg: 'danal',
            show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
            items: [
                {
                    item_name: 'tester', //상품명
                    qty: 1, //수량
                    unique: '1', //해당 상품을 구분짓는 primary key
                    price: 2200, //상품 단가
                    cat1: '', // 대표 상품의 카테고리 상, 50글자 이내
                    cat2: '', // 대표 상품의 카테고리 중, 50글자 이내
                    cat3: '', // 대표상품의 카테고리 하, 50글자 이내
				}
            ],
            user_info: {
                username: '사용자 이름',
                email: '사용자 이메일',
                addr: '사용자 주소',
                phone: '010-1234-4567'
            },
            method: '', //결제수단, 입력하지 않으면 결제수단 선택부터 화면이 시작합니다.
            order_id: '고유order_id_1234', //관리하시는 고유 주문번호를 입력해주세요
            params: {callback1: '그대로 콜백받을 변수 1', callback2: '그대로 콜백받을 변수 2', customvar1234: '변수명도 마음대로'},
        }).error(function (data) {
            //결제 진행시 에러가 발생하면 수행됩니다.
            console.log(data);
        }).cancel(function (data) {
            //결제가 취소되면 수행됩니다.
		}
	).confirm(function (data) {
            //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
            //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
            console.log(data);
            // if(somthing) { // 재고 수량 관리 로직 혹은 다른 처리
            //   this.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
            // } else {
            //   this.removeWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
            // }
		}
	).done(function (data) {
            //결제가 정상적으로 완료되면 수행됩니다
            //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
            console.log(data);
        });
  }
</script>
<body class="scrollbar-basic">
	<!-- wrapper -->
	<div class="page">
		{% if login %}
			{% include 'view/header_on.html' %}
		{% else %}
			{% include 'view/header.html' %}
		{% endif %}
		<main>
			<div class="main-container">
				<div class="shop-header">
					<div class="shop-title">Choose Plan</div>
					<div class="shop-sub">좋아하는 칼럼을 읽고, 칼럼니스트를 지원하기 위해서는 포인트가 필요합니다.<br>당신에게 필요한 만큼 포인트를 구매하세요.</div>
				</div>
				
				<div class="shop-item">
					<!-- Item 01 -->
					<div class="item tester">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Tester</h4>
								<h3 class="display-2">2,000 P</h3>
								<div class="display-3">
									<p><span>2,200</span> ₩</p>
									( 부가세 10% 포함 )
								</div>
							</div>
							<div class="card-block">
								<a href="javascript:buyBtnClick()" class="btn btn-gradient">Choose Plan</a>
							</div>
						</div>
					</div>
					
					<!-- Item 02 -->
					<div class="item starter">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Starter</h4>
								<h3 class="display-2">5,000 P</h3>
								<div class="display-3">
									<p><span>5,500</span> ₩</p>
									( 부가세 10% 포함 )
								</div>
							</div>
							<div class="card-block">
								<a href="javascript:buyBtnClick()" class="btn btn-gradient">Choose Plan</a>
							</div>
						</div>
					</div>
					
					<!-- Item 03 -->
					<div class="item regular">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Regular</h4>
								<h3 class="display-2">10,000 P</h3>
								<div class="display-3">
									<p><span>11,000</span> ₩</p>
									( 부가세 10% 포함 )
								</div>
							</div>
							<div class="card-block">
								<a href="javascript:buyBtnClick()" class="btn btn-gradient">Choose Plan</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>