<!DOCTYPE HTML>
<html lang="ko_KR">
<head>
    {% load static %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#2a292a">
    <title>byCAL</title>
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon-32.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon/favicon-32.ico' %}" type="image/x-icon" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/common.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/write.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/medium-editor/dist/css/medium-editor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themes/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.css' %}"/>    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sass/jquery.modal.theme-atlant.css' %}" />
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>
    <script type="text/javascript" src="{% static 'js/medium-editor/dist/js/medium-editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/handlebars-v4.0.11.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/blueimp-file-upload/js/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.js' %}"></script>
</head>
    <body>
        {% if login %}
            {% include 'view/header_on.html' %}
        {% else %}
            {% include 'view/header.html' %}
        {% endif %}
        <div class="container" id="container">
            <!-- <div class="audio-wrap">
                <audio preload id="audio_1">
                    <source src="{% static 'mp3/key-01.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_2">
                    <source src="{% static 'mp3/key-02.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_3">
                    <source src="{% static 'mp3/key-03.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_4">
                    <source src="{% static 'mp3/key-04.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_5">
                    <source src="{% static 'mp3/key-new-01.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_6">
                    <source src="{% static 'mp3/key-new-02.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_7">
                    <source src="{% static 'mp3/key-new-03.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_8">
                    <source src="{% static 'mp3/key-new-04.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_9">
                    <source src="{% static 'mp3/key-new-05.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_return_1">
                    <source src="{% static 'mp3/return-01.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_return_2">
                    <source src="{% static 'mp3/return-02.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_return_3">
                    <source src="{% static 'mp3/return-03.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_return_4">
                    <source src="{% static 'mp3/return-new.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_space_1">
                    <source src="{% static 'mp3/space-01.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_space_2">
                    <source src="{% static 'mp3/space-02.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_space_3">
                    <source src="{% static 'mp3/space-03.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_backspace_1">
                    <source src="{% static 'mp3/backspace-01.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_backspace_2">
                    <source src="{% static 'mp3/backspace-02.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_backspace_3">
                    <source src="{% static 'mp3/backspace-03.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_scrollUp">
                    <source src="{% static 'mp3/scrollUp.mp3' %}" type="audio/mp3">
                </audio>
                <audio preload id="audio_scrollDown">
                    <source src="{% static 'mp3/scrollDown.mp3' %}" type="audio/mp3">
                </audio>
            </div> -->
            <div class="toggle-wrap">
                <!-- <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p id="btn-off">OFF</p>
                <p id="btn-on" style="display:none;">ON</p> -->
                <button class="btn-save">저장</button>
                <button class="btn-publish" id="publish">출판<span class="css-arrow"></span>
                </button>
                <!-- arrow-box -->
                <div class="arrow-box">
                    <div class="cover-wrap">
                        <div class="cover-text">표지 사진</div>
                        <div class="cover-disc">당신의 이야기를 가장 잘 나타낼 수 있도록 멋진 사진을 설정해보세요.</div>
                        <div class="cover-img-wrap">
                            <div class="cover-img-css-wrap">
                                <div class="default-img-css-wrap">
                                    <div class="default-img-css"></div>
                                </div>
                                <span class="default-img-text">표지 사진 설정</span>
                            </div>
                            <input type='file' id="imgInp" accept=".jpg,.jpeg,.png"/>
                            <img id="blah" src="" alt=""/>
                        </div>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag-text">태그</div>
                        <div class="tag-disc">당신의 이야기가 더 많은 사람들에게 다가갈 수 있도록 최대 5개의 태그를 설정해보세요.</div>
                        <input class="tag-input" maxlength="20" type="text" placeholder="태그 추가하기...">
                        <div class="tag-added">
                            <!-- <div class="added-tag-wrap">
                                <div class="tag-cancel"></div>
                                <div class="tag-name">태그</div>
                            </div>-->
                        </div>
                    </div>
                    <div class="price-wrap">
                        <div class="price-text">가격</div>
                        <div id="audio-player-container">
                            <div class="audio-progress" id="audio-progress">
                                <div id="draggable-point" style="left:20%;position:absolute;" class="draggable ui-widget-content">
                                    <div id="audio-progress-handle"></div>
                                </div>
                                <div id="audio-progress-bar" class="bar" style="width:10%">
                                </div>
                            </div>
                        </div>
                        <div id="posX"></div>
                        <div class="price-set-wrap">
                            <div id="setPrice" class="price-set-decimal">0</div>
                            <div class="price-set-point">Point</div>
                        </div>
                    </div>
                    <button class="btn-publish-final">출판하기</button>
                </div>
                <!-- //arrow-box -->
            </div>
            <div class="profile-wrap">
                <div class="profile-img image-loader" id="profileImage">
                </div>
                <div class="profile-sub-wrap">
                    <div class="username"></div>
                    <div class="state">작성중</div>
                    <div class="read-time"></div>
                </div>
            </div>
            <div id="srcElement">
                <div class="title" id="title"></div>
                <div class="editable" id="editable"></div>
            </div>
            

            <script>
                var titleEditor = new MediumEditor('.title', {
                    disableReturn: true
                });
                var editor = new MediumEditor('.editable');
                $(function () {
                    $('.editable').mediumInsert({
                        editor: editor, // (MediumEditor) Instance of MediumEditor
                        enabled: true, // (boolean) If the plugin is enabled
                        addons: { // (object) Addons configuration
                            images: { // (object) Image addon configuration
                                label: '<span class="fa fa-camera"></span>', // (string) A label for an image addon
                                uploadScript: null, // DEPRECATED: Use fileUploadOptions instead
                                deleteScript: 'delete.py', // (string) A relative path to a delete script
                                deleteMethod: 'POST',
                                fileDeleteOptions: {}, // (object) extra parameters send on the delete ajax request, see http://api.jquery.com/jquery.ajax/
                                preview: true, // (boolean) Show an image before it is uploaded (only in browsers that support this feature)
                                captions: true, // (boolean) Enable captions
                                captionPlaceholder: 'Type caption for image (optional)', // (string) Caption placeholder
                                autoGrid: 3, // (integer) Min number of images that automatically form a grid
                                formData: {}, // DEPRECATED: Use fileUploadOptions instead
                                fileUploadOptions: { // (object) File upload configuration. See https://github.com/blueimp/jQuery-File-Upload/wiki/Options
                                    url: '/api/column/tmpimageupload/', // (string) A relative path to an upload script
                                    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i, // (regexp) Regexp of accepted file types
                                    withCredentials: true,
                                },
                                styles: { // (object) Available image styles configuration
                                    wide: { // (object) Image style configuration. Key is used as a class name added to an image, when the style is selected (.medium-insert-images-wide)
                                        label: '<span class="icon-img-align-center"></span>', // (string) A label for a style
                                        added: function ($el) {}, // (function) Callback function called after the style was selected. A parameter $el is a current active paragraph (.medium-insert-active)
                                        removed: function ($el) {} // (function) Callback function called after a different style was selected and this one was removed. A parameter $el is a current active paragraph (.medium-insert-active)
                                    },
                                    left: {
                                        label: '<span class="icon-img-align-left"></span>'
                                    },
                                    right: {
                                        label: '<span class="icon-img-align-right"></span>'
                                    },
                                    full: {
                                        label: '<span class="icon-img-align-full"></span>'
                                    }
                                },
                                actions: { // (object) Actions for an optional second toolbar
                                    remove: { // (object) Remove action configuration
                                        label: '<span class="fa fa-times"></span>', // (string) Label for an action
                                        clicked: function ($el) { // (function) Callback function called when an action is selected
                                            var $event = $.Event('keydown');
                                            
                                            $event.which = 8;
                                            $(document).trigger($event);   
                                        }
                                    }
                                },
                                messages: {
                                    acceptFileTypesError: 'This file is not in a supported format: ',
                                    maxFileSizeError: 'This file is too big: '
                                },
                                uploadCompleted: function ($el, data) {
                                }, // (function) Callback function called when upload is completed
                                uploadFailed: function (uploadErrors, data) {}, // (function) Callback function called when upload failed
                                slideshow: {
                                    label: '<span class="fa fa-play"></span>',
                                    added: function ($el) {
                                        // Initialize slideshow
                                        $el.cycle({
                                        slides: 'figure'
                                        });
                                    },
                                    removed: function ($el) {
                                        // Destroy slideshow
                                        $el.cycle('destroy');
                                    }
                                }
                            },
                            embeds: { // (object) Embeds addon configuration
                                label: '<span class="fa fa-youtube-play"></span>', // (string) A label for an embeds addon
                                placeholder: 'Paste a YouTube, Vimeo, Facebook, Twitter or Instagram link and press Enter', // (string) Placeholder displayed when entering URL to embed
                                captions: true, // (boolean) Enable captions
                                captionPlaceholder: 'Type caption (optional)', // (string) Caption placeholder
                                oembedProxy: 'https://medium.iframe.ly/api/oembed?iframe=1', // (string/null) URL to oEmbed proxy endpoint, such as Iframely, Embedly or your own. You are welcome to use "http://medium.iframe.ly/api/oembed?iframe=1" for your dev and testing needs, courtesy of Iframely. *Null* will make the plugin use pre-defined set of embed rules without making server calls.
                                styles: { // (object) Available embeds styles configuration
                                    wide: { // (object) Embed style configuration. Key is used as a class name added to an embed, when the style is selected (.medium-insert-embeds-wide)
                                        label: '<span class="fa fa-align-justify"></span>', // (string) A label for a style
                                        added: function ($el) {}, // (function) Callback function called after the style was selected. A parameter $el is a current active paragraph (.medium-insert-active)
                                        removed: function ($el) {} // (function) Callback function called after a different style was selected and this one was removed. A parameter $el is a current active paragraph (.medium-insert-active)
                                    },
                                    left: {
                                        label: '<span class="fa fa-align-left"></span>'
                                    },
                                    right: {
                                        label: '<span class="fa fa-align-right"></span>'
                                    }
                                },
                                actions: { // (object) Actions for an optional second toolbar
                                    remove: { // (object) Remove action configuration
                                        label: '<span class="fa fa-times"></span>', // (string) Label for an action
                                        clicked: function ($el) { // (function) Callback function called when an action is selected
                                            var $event = $.Event('keydown');
                                            
                                            $event.which = 8;
                                            $(document).trigger($event);   
                                        }
                                    }
                                }
                            }
                        }
                    });
                });
                var check = $("input[type='checkbox']");
                check.click(function(){
                    $(".toggle-wrap p").toggle();
                });


            </script>
        </div>
        <div class="preview-wrap">
            <div class="preview" id="preview">
                <div class="btn-cancel-wrap">
                    <div class="btn-cancel"></div>
                </div>
                <div class="ready2publish">Ready to publish?</div>
                <div class="preview-cover-img">
                </div>
                <div class="preview-title"></div>
                <div class="preview-content-info">
                    <div class="preview-read-time"></div>
                    <div class="preview-by">by</div>
                    <div class="preview-author"></div>
                    <div class="preview-create-date">2017. 12. 18 18:33</div>
                </div>
                <div class="preview-main-content" id="preview-main-content">
                    <div id="tmp"></div>
                    <!-- <img src="" alt="">
                    preview-image -->
                </div>
                <div class="preview-tag-wrap">
                </div>
                <div class="preview-notice-wrap">
                    <span>출판하려는 칼럼의 정보를 확인하시고, 칼럼을 출판해주세요.<br/>
                        칼럼을 출판한 후에는</span>
                    <span class="hightlight">수정, 삭제가 불가능</span><!--
                    --><span>합니다.</span>
                </div>
                <div class="preview-br-wrap">
                    <div class="preview-br-list-wrap">
                        <span class="preview-br-list">제목</span>
                        <span class="preview-br-list preview-title">title</span>
                    </div>
                    <div class="preview-br-list-wrap">
                        <span class="preview-br-list">태그</span>
                        <span class="preview-br-list" id="tag_all">tag_all</span>
                    </div>
                    <div class="preview-br-list-wrap">
                        <span class="preview-br-list">가격</span>
                        <span id="previewPrice" class="preview-br-list price-set-decimal">0</span>
                        <span>point</span>
                    </div>
                    <div class="preview-br-list-wrap preview-agreement-wrap">
                        <span class="preview-br-list"></span>
                        <span class="preview-br-list preview-agreement">본인은 ‘환불불가정책’에 동의합니다.</span>
                        <input type="checkbox" class="agreement-checkbox" style="width:24px;height:24px;">
                    </div>
                </div>
                <div class="preview-button-wrap">
                    <button class="done-publish btn_disabled" id="done-publish" disabled="disabled">출판</button>
                    <button class="cancel-publish" id="cancel-publish">취소</button>
                </div>
                <div class="preview-terms-wrap">
                    <span class="preview-terms">대가성 콘텐츠 표기, 사용자 아이디 정책, 서비스 운영정책, 서비스 이용약관, 저작권법</span><!--
                    --><span>을 참고하세요.</span>
                </div>
            </div> 
            <div class="preview" id="authorApply">
                <div class="btn-cancel-wrap">
                    <div class="btn-cancel"></div>
                </div>
                <div class="ready2publish">Become a writer</div>
                <div class="preview-notice-wrap">
                    <span>칼럼니스트님에 대해서 이해하고, 앞으로의 활동을 기대할 수 있도록 몇가지 정보를 입력해주세요.</span>
                </div>
                <div class="author-intro-title">
                    <span>칼럼니스트 소개</span>
                </div>
                <textarea class="author-intro"></textarea>
                <div class="author-intro-title">
                    <span>칼럼니스트님께서 기존에 쓴 글 혹은 활동사항을 확인할 수 있는 URL</span>
                </div>
                <input type="text" id="inputUrl">
                <div class="preview-button-wrap">
                    <button id="btn-author-apply">칼럼니스트 신청</button>
                    <button class="cancel-publish" id="cancel-apply">취소</button>
                </div>
                <div class="preview-terms-wrap">
                    <span class="preview-terms">대가성 콘텐츠 표기, 사용자 아이디 정책, 서비스 운영정책, 서비스 이용약관, 저작권법</span><!--
                    --><span>을 참고하세요.</span>
                </div>
            </div>
        </div>
        <div class="modal-extend-wrap">
            <div class="modal-extend">
                <div class="modal-ask-text">
                    이전에 쓰던 글이 있습니다.<br />
                    <span>2018.03.14	&nbsp;&nbsp;&nbsp;14:02</span>
                    이어 쓰시겠습니까?
                </div>
                <div class="btn-yes">예</div>
                <div class="btn-no">아니요</div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/dom-to-image.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
        <!-- <script type="text/javascript" src="{% static 'js/noisyType.js' %}"></script> -->
        <script type="text/javascript" src="{% static 'js/saveTmp.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/progress-bar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tag-editor.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/create-preview.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/cover-image.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/post.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/title-to-header.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/temp-loader.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/spin.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.modal.js' %}"></script>        
    </body>
</html>