
@font-face {
  font-family: "SpoqaHanSans-Bold";
  src: url(/static/css/font/SpoqaHanSansBold.ttf) format("truetype");
}
@font-face {
  font-family: "SpoqaHanSans-Light";
  src: url(/static/css/font/SpoqaHanSansLight.ttf) format("truetype");
}

.bp3-a4041366 {
  width               : 100%;
  min-width           : 1366px;
  height              : 100%;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(250, 250, 250, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-a4041366 .bp3-a404-header {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
}
.bp3-a4041366 .bp3-a404-header-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 32px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp3-a4041366 .bp3-a404-header .bp3-rectangle {
  background          : rgba(42, 41, 42, 1.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
}
.bp3-a4041366 .bp3-a404-header .bp3-rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp3-a4041366 .bp3-a404-header .bp3-a404-page {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(250, 250, 250, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.bp3-a4041366 .bp3-a404-header .bp3-a404-page-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp3-a4041366 .bp3-alltheotherspt482040 {
  background          : rgba(255, 255, 255, 0.0);
  width               : 1920px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.bp3-a4041366 .bp3-alltheotherspt482040-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 32px;
  align-items         : center;
  height              : 600px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp3-a4041366 .bp3-message {
  background          : rgba(255, 255, 255, 0.0);
  width               : 944px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.bp3-a4041366 .bp3-message-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 648px;
  align-items         : center;
  height              : 120px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp3-a4041366 .bp3-message .bp3-group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 120px;
  width               : 946px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.bp3-a4041366 .bp3-message .bp3-group .bp3-label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 944px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 72.0px;
}
.bp3-a4041366 .bp3-message .bp3-group .bp3-by {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 88px;
  height              : 32px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 641px;
}
.bp3-a4041366 .bp3-message .bp3-group .bp3-by .bp3-label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "SpoqaHanSans-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.bp3-a4041366 .bp3-message .bp3-group .bp3-by .bp3-octocolumn {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.bp3-a4041366 .bp3-message .bp3-group .bp3-line {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 87px;
  height              : 2px;
  width               : 946px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp2-a404944 {
  width               : 100%;
  min-width           : 944px;
  height              : 100%;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(250, 250, 250, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-a404944 .bp2-a404-header {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
}
.bp2-a404944 .bp2-a404-header-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 44px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp2-a404944 .bp2-a404-header .bp2-rectangle {
  background          : rgba(42, 41, 42, 1.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
}
.bp2-a404944 .bp2-a404-header .bp2-rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp2-a404944 .bp2-a404-header .bp2-a404-page {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(250, 250, 250, 1.0);
  text-align          : center;
  line-height         : 44.0px;
}
.bp2-a404944 .bp2-a404-header .bp2-a404-page-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp2-a404944 .bp2-alltheotherspt482040 {
  background          : rgba(255, 255, 255, 0.0);
  width               : 1920px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.bp2-a404944 .bp2-alltheotherspt482040-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 44px;
  align-items         : center;
  height              : 600px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp2-a404944 .bp2-message {
  background          : rgba(255, 255, 255, 0.0);
  width               : 944px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.bp2-a404944 .bp2-message-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 648px;
  align-items         : center;
  height              : 120px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp2-a404944 .bp2-message .bp2-group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 120px;
  width               : 946px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.bp2-a404944 .bp2-message .bp2-group .bp2-label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 944px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : center;
  line-height         : 72.0px;
}
.bp2-a404944 .bp2-message .bp2-group .bp2-by {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 88px;
  height              : 32px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 641px;
}
.bp2-a404944 .bp2-message .bp2-group .bp2-by .bp2-label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "SpoqaHanSans-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.bp2-a404944 .bp2-message .bp2-group .bp2-by .bp2-octocolumn {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.bp2-a404944 .bp2-message .bp2-group .bp2-line {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 87px;
  height              : 2px;
  width               : 946px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp4-a4041440 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100%;
  min-height          : 900px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(250, 250, 250, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp4-a4041440 .bp4-a404-header {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
}
.bp4-a4041440 .bp4-a404-header-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 32px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp4-a4041440 .bp4-a404-header .bp4-rectangle {
  background          : rgba(42, 41, 42, 1.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
}
.bp4-a4041440 .bp4-a404-header .bp4-rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp4-a4041440 .bp4-a404-header .bp4-a404-page {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(250, 250, 250, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.bp4-a4041440 .bp4-a404-header .bp4-a404-page-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp4-a4041440 .bp4-alltheotherspt482040 {
  background          : rgba(255, 255, 255, 0.0);
  width               : 1920px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.bp4-a4041440 .bp4-alltheotherspt482040-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 32px;
  align-items         : center;
  height              : 600px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp4-a4041440 .bp4-message {
  background          : rgba(255, 255, 255, 0.0);
  width               : 944px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.bp4-a4041440 .bp4-message-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 648px;
  align-items         : center;
  height              : 120px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp4-a4041440 .bp4-message .bp4-group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 120px;
  width               : 946px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.bp4-a4041440 .bp4-message .bp4-group .bp4-label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 944px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 72.0px;
}
.bp4-a4041440 .bp4-message .bp4-group .bp4-by {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 88px;
  height              : 32px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 641px;
}
.bp4-a4041440 .bp4-message .bp4-group .bp4-by .bp4-label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "SpoqaHanSans-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.bp4-a4041440 .bp4-message .bp4-group .bp4-by .bp4-octocolumn {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.bp4-a4041440 .bp4-message .bp4-group .bp4-line {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 87px;
  height              : 2px;
  width               : 946px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp1-a4041440-copy {
  width               : 100%;
  min-width           : 1920px;
  height              : 100%;
  min-height          : 1080px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(250, 250, 250, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-a4041440-copy .bp1-a404-header {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
}
.bp1-a4041440-copy .bp1-a404-header-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 32px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp1-a4041440-copy .bp1-a404-header .bp1-rectangle {
  background          : rgba(42, 41, 42, 1.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
}
.bp1-a4041440-copy .bp1-a404-header .bp1-rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp1-a4041440-copy .bp1-a404-header .bp1-a404-page {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  height              : 100%;
  width               : 100%;
  position            : relative;
  left                : 0px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(250, 250, 250, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.bp1-a4041440-copy .bp1-a404-header .bp1-a404-page-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0px;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp1-a4041440-copy .bp1-alltheotherspt482040 {
  background          : rgba(255, 255, 255, 0.0);
  right               : 0px;
  pointer-events      : auto;
  height              : 100%;
  width               : 1920px;
  position            : relative;
  left                : 0px;
}
.bp1-a4041440-copy .bp1-alltheotherspt482040-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 32px;
  align-items         : center;
  height              : 600px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp1-a4041440-copy .bp1-message {
  background          : rgba(255, 255, 255, 0.0);
  width               : 944px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.bp1-a4041440-copy .bp1-message-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 648px;
  align-items         : center;
  height              : 120px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp1-a4041440-copy .bp1-message .bp1-group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 120px;
  width               : 946px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.bp1-a4041440-copy .bp1-message .bp1-group .bp1-label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 944px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 72.0px;
}
.bp1-a4041440-copy .bp1-message .bp1-group .bp1-by {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 88px;
  height              : 32px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 641px;
}
.bp1-a4041440-copy .bp1-message .bp1-group .bp1-by .bp1-label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "SpoqaHanSans-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.bp1-a4041440-copy .bp1-message .bp1-group .bp1-by .bp1-octocolumn {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  font-family         : "SpoqaHanSans-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(42, 41, 42, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.bp1-a4041440-copy .bp1-message .bp1-group .bp1-line {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 87px;
  height              : 2px;
  width               : 946px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 1365px) {
  .bp2-a404944 {
    display             : block;
  }
  .bp3-a4041366 {
    display             : none;
  }
  .bp4-a4041440 {
    display             : none;
  }
  .bp1-a4041440-copy {
    display             : none;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1439px) {
  .bp2-a404944 {
    display             : none;
  }
  .bp3-a4041366 {
    display             : block;
  }
  .bp4-a4041440 {
    display             : none;
  }
  .bp1-a4041440-copy {
    display             : none;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .bp2-a404944 {
    display             : none;
  }
  .bp3-a4041366 {
    display             : none;
  }
  .bp4-a4041440 {
    display             : block;
  }
  .bp1-a4041440-copy {
    display             : none;
  }
}
@media screen and (min-width: 1920px) {
  .bp2-a404944 {
    display             : none;
  }
  .bp3-a4041366 {
    display             : none;
  }
  .bp4-a4041440 {
    display             : none;
  }
  .bp1-a4041440-copy {
    display             : block;
  }
}