* {
    -webkit-text-size-adjust: none;
    font-family:"SpoqaHanSansRegular";
}
html, body {
    margin: 0 auto;
}
div {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin-top: 0;
}
a:link {
    text-decoration: none;
    color: #2a292a;
}
a:visited {
    text-decoration: none;
    color: #2a292a;
}
a:active {
    text-decoration: none;
    color: #2a292a;
}
a:hover {
    text-decoration: none;
    color: #2a292a;
}
.btn_disabled{
    background-color: gray !important;
    cursor: default;
}

@font-face {
    font-family: 'SpoqaHanSansThin';
    font-style: thin;
    font-weight: 100;
    src: url('font/SpoqaHanSansThin.woff') format('woff');
}
@font-face {
    font-family: 'SpoqaHanSansLight';
    font-style: light;
    font-weight: 200;
    src: url('font/SpoqaHanSansLight.woff') format('woff');
}
@font-face {
    font-family: 'SpoqaHanSansRegular';
    font-style: regular;
    font-weight: 300;
    src: url('font/SpoqaHanSansRegular.woff') format('woff');
}
@font-face {
    font-family: 'SpoqaHanSansBold';
    font-style: bold;
    font-weight: 400;
    src: url('font/SpoqaHanSansBold.woff') format('woff');
}
@font-face {
    font-family: 'Akzidenz';
    font-style: bold;
    font-weight: 400;
    src: url('font/Akzidenz.ttf') format('woff');
}