* {
    -webkit-text-size-adjust: none;
}
html, body {
    margin: 0 auto;
}
div {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin-top: 0;
}
a:link {
    text-decoration: none;
    color: #2a292a;
}
a:visited {
    text-decoration: none;
    color: #2a292a;
}
a:active {
    text-decoration: none;
    color: #2a292a;
}
a:hover {
    text-decoration: none;
    color: #2a292a;
}
.btn_disabled{
    background-color: gray !important;
    cursor: default;
}