html{
	overflow-y: scroll;
}
*{
	vertical-align: baseline;
	text-decoration:none;
	background-repeat: no-repeat;
	list-style: none;
	word-break:keep-all;
	-webkit-text-size-adjust: none !important;
	border-radius: 0px;
	-webkit-border-radius:0;
	border-radius: 0;
	outline-width: 0;
	font-family:"SpoqaHanSans";
	color: #2a292a;
}

body{
	background-color: #fafafa;
}

a{
	text-decoration: none;
	color: #2a292a;
	display: block;
}

a:link {
	color: #2a292a;
	text-decoration: none;
}
a:visited{
	color: #2a292a;
	text-decoration: none;
}
a:hover{
	color: #2a292a;
	text-decoration: none;
}


@font-face {
  font-family: 'SpoqaHanSans';
  font-style: thin;
  font-weight: 100;
  src: url('font/SpoqaHanSansThin.woff') format('woff');
}
@font-face {
  font-family: 'SpoqaHanSans';
  font-style: light;
  font-weight: 200;
  src: url('font/SpoqaHanSansLight.woff') format('woff');
}
@font-face {
  font-family: 'SpoqaHanSans';
  font-style: regular;
  font-weight: 300;
  src: url('font/SpoqaHanSansRegular.woff') format('woff');
}
@font-face {
  font-family: 'SpoqaHanSans';
  font-style: bold;
  font-weight: 400;
  src: url('font/SpoqaHanSansBold.woff') format('woff');
}
@font-face {
  font-family: 'Akzidenz';
  font-style: bold;
  font-weight: 400;
  src: url('font/Akzidenz.ttf') format('woff');
}


/*hearder start*/

header{
	height: 48px;
	background-color: #2a292a;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}
.menu_wrap:after{
	clear: both;
	display: block;
	content: '';
}
.menu_wrap > div:after{
	clear: both;
	display: block;
	content: '';
}
.menu_left{
	float: left;
}
.menu_right{
	float: right;
}
.menu_left > div, .menu_right > div{
	border: 2px solid #fafafa;
	border-radius: 8px;
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	float: left;
	margin: 4px 7px;
	color: #ffffff;
	font-weight: 300;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
}
.menu_left .menuBtn{
	width: 144px;
	background: url(../images/icons/header/burger2.png) no-repeat 6%;
	background-size: 12%;
	font-size: 15px;
	padding-left: 10px;
}
.menu_left .search{
	background: url(../images/icons/header/CombinedShape2.png) no-repeat 50%;
	background-size: 46%;
}
.menu_left .chart{
	background: url(../images/icons/header/bar_chart2.png) no-repeat 50%;
	background-size: 46%;
}
.menu_wrap .logo{
	width: 20px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	border: none;
	cursor: pointer;
	display: block;
}
.menu_wrap .logo a{
	font-family: "Akzidenz";
	color: #ffffff;
	line-height: 48px;
	font-size: 20px;
}
.menu_right > div{
	float: left;
}
.menu_right .alarm{
	border: none;
	background: url(../images/icons/header/Shape2.png) no-repeat 50%;
	background-size: 57%;
	margin: 4px 0px;
	position: relative;
}
.menu_right .alarm.active:after{
	content: '';
	width: 7px;
	height: 7px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	top: 6px;
	left: 26px;
}
.menu_right .login{
	width: 144px;
	font-size: 12px;
	line-height: 35px;
}


/*sidebar*/

.sidebar{
	width: 184px;
	height: 100%;
	background-color: #2a292a;
	padding: 0px 16px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	display: none;
	opacity: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar:after{
	content: '';
	display: block;
	clear: both;
}

.sidebar .sidebar_menu{
	width: 136px;
	height: 24px;
	display: block;
	float: left;
	font-weight: 300;
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	margin-bottom: 16px;
	cursor: pointer;
}

.sidebar .sidebar_menu:first-child{
	margin-top: 80px;
}

.sidebar .sidebar_menu:last-child{
	margin-bottom: 202px;
}

.sidebar_hr{
  width: 128px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  float: left;
  margin-bottom: 16px;
}

.sidebar .footer_txt{
	width: 132px;
	height: 231px;
	display: block;
	float: left;
	font-size: 10px;
	font-weight: 100;
	color: #ffffff;
	opacity: 0.4;
}
/*header end*/


/*header. menu _ user start*/
.user .menu_left .chart{
	padding: 0px 35px 0px 10px;
	width: auto;
	text-align: left;
	line-height: 36px;
	background: url(../images/icons/header/bar-chart.png) no-repeat 93% center;
	background-size: auto;
	font-size: 14px;
}
.user .menu_right .login {
	width: auto;
}
.user .menu_right .login a{
	display: block;
	float: left;
	padding: 0 20px;
	color: #fff;
	text-align: center;
}
.user .menu_right .login img{
	width: 36px;
	height: 36px;
	border-radius: 4px;
	box-sizing: border-box;
	float: right;
}


/*header. menu _ user end*/


/* main start*/









/* main end*/