<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
<center style="width:100%;background:#fafafa"> 
    <div style="max-width:680px;margin:auto">
     
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width:680px"> 
        <tbody>
        <tr> 
        <td>
        
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#FFFFFF" style="max-width:680px"> 
            <tbody> 
                <tr>
                	<td>
                    	<div style="width:100%; height:160px; background-color:#2a292a; display:flex; align-items:center; justify-content:center">
                        	<img src="https://bycal.blob.core.windows.net/static/images/example/logo-letter-white.svg" style="width:160px; background-position:center center; background-repeat:no-repeat; background-size:cover">
                        </div>
                    </td>
                </tr> 
            </tbody> 
        </table>
        
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#FFFFFF" style="max-width:680px"> 
        <tbody> 
        <tr>
            <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:600px"> 
                    <tbody> 
                        <tr> 
                            <td align="center" style="padding:20px;color:#39464e;font-family:'Open Sans',sans-serif;font-size:26px;font-weight:100;">
                            <p style=" align-items:center; justify-content:center; line-height:1;">
                            <strong>{{ user }}님의 첫번째 글이 출판되었습니다.</strong></p>
                            </td> 
                        </tr> 
                        
                        <tr> 
                            <td style="padding:10px 40px;text-align:left;font-family:'Open Sans',sans-serif;font-size:0.9rem;line-height:1.5;font-weight:200;color:#000000">
                            	<p style="margin:0">축하합니다!<br>{{ user }}님의 첫번째 글이 성공적으로 출판되었습니다.<br>byCAL은 {{ user }}님께서 글을 통해 자신만의 브랜드를 구축하고, 돈을 벌 수 있도록 돕고 싶습니다. 누구나 처음부터 잘하지 못합니다. 우리도 마찬가지구요.. :)<br><br>byCAL은 {{ user }}님의 지속적인 창작활동을 응원하겠습니다.<br>우리는 당신의 글을 읽고 싶었습니다.<br>감사합니다.<br><br>PS : <a href="#" style="text-decoration:none;font-weight:700;color:#2a292a">Support</a> 페이지에 있는 <a href="#" style="text-decoration:none;font-weight:700;color:#2a292a">Writer’s Guidelines</a>를 꼭 읽어주세요!</p>
                                <!--
                                <p style="margin:0">Instagram is shaking up your feed once more. Here we describe exactly what is changing, and how social media marketers can <a style="color:#009dff;text-decoration:none" href="http://go.falcon.io/s0cL0Eh0uKdn0T0Kb000E0C" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://go.falcon.io/s0cL0Eh0uKdn0T0Kb000E0C&amp;source=gmail&amp;ust=1528506896466000&amp;usg=AFQjCNGeh6kB8nB5PK5Irpnr51uJZExOew">turn it to their advantage</a>.</p>
                                -->
                            </td> 
                        </tr> 
                        <tr> 
                            <td>
                            	<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#FFFFFF" style="max-width:680px"> 
                                    <tbody> 
                                        <tr> 
                                        <td height="25" align="center" valign="middle"></td> 
                                        </tr> 
                                    </tbody> 
                                </table>
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin:auto"> 
                                    <tbody> 
                                        <tr> 
                                            <td style="border-radius:3px;background:#ffffff;text-align:center">
                                                <p style="margin:0">
                                                    <a href="https://bycal.co" style="background:#2a292a;border:15px solid #2a292a;color:#ffffff;font-family:'Open Sans',sans-serif;font-size:12px;line-height:1.1;letter-spacing:1px;text-align:center;text-decoration:none;display:block;border-radius:50px;font-weight:500;text-transform:uppercase" target="_blank">Dive in</a>
                                                </p>
                                            </td> 
                                        </tr> 
                                    </tbody> 
                                </table>
                            </td> 
                        </tr> 
                    </tbody> 
                </table> 
            </td> 
        </tr> 
        </tbody>
        </table>
        
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#FFFFFF" style="max-width:680px"> 
            <tbody> 
                <tr> 
                <td height="25" align="center" valign="middle"></td> 
                </tr> 
            </tbody> 
        </table>
        
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#FFFFFF" style="max-width:680px"> 
            <tbody> 
                <tr> 
                    <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#FFFFFF" style="max-width:680px"> 
                            <tbody> 
                                <tr> 
                                    <td height="26">&nbsp;</td> 
                                </tr> 
                            </tbody> 
                        </table>
                        
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width:680px"> 
                            <tbody> 
                                <tr bgcolor="#2a292a"> 
                                    <td align="center" style="padding:12px 40px;text-align:center;font-family:'Open Sans',sans-serif;font-size:0.7rem;line-height:1.5;font-weight:100;color:#fff">
                                    	
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style=" margin-bottom:0.3rem"> 
                                            <tbody> 
                                                <tr> 
                                                    <td style="display:inline-block;width:auto">
                                                            <a href="#"><img src="https://bycal.blob.core.windows.net/static/images/example/facebook.svg" style="height:16px; background-position:center center; background-repeat:no-repeat; background-size:cover"></a>
                                                        <div></div>
                                                    </td> 
                                                    <td style="display:inline-block;width:auto; margin:0 15px">
                                                        <a href="#"><img src="https://bycal.blob.core.windows.net/static/images/example/twitter.svg" style="height:14px; background-position:center center; background-repeat:no-repeat; background-size:cover"></a>
                                                        <div></div>
                                                    </td> 
                                                    <td  style="display:inline-block;width:auto">
                                                        <a href="#"><img src="https://bycal.blob.core.windows.net/static/images/example/instagram.svg" style="height:16px; background-position:center center; background-repeat:no-repeat; background-size:cover"></a>
                                                    </td> 
                                                </tr> 
                                            </tbody> 
                                        </table>
                                        
                                        <p style="margin:0">
                                        Sent with ♥ from <i>byCAL</i>
                                        <br>32, Dongmak-ro 34-gil, Mapo-gu, Seoul, Republic of Korea
                                        </p>
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"> 
                                            <tbody> 
                                                <tr> 
                                                    <td style="display:inline-block;width:auto">
                                                        <a href="#" style="font-family:'Open Sans',sans-serif;ont-size:0.7rem;line-height:1.5;font-weight:100;color:#fff;text-decoration:none" target="_blank" data-saferedirecturl="#">Unsubscribe</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                                                    </td> 
                                                    <td style="display:inline-block;width:auto">
                                                        <a href="#" style="font-family:'Open Sans',sans-serif;ont-size:0.7rem;line-height:1.5;font-weight:100;color:#fff;text-decoration:none" target="_blank" data-saferedirecturl="#">Privacy policy</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                                                    </td> 
                                                    <td  style="display:inline-block;width:auto">
                                                        <a href="https://bycal.co/" style="font-family:'Open Sans',sans-serif;ont-size:0.7rem;line-height:1.5;font-weight:100;color:#fff;text-decoration:none" target="_blank" data-saferedirecturl="https://bycal.co/">bycal.co</a>
                                                    </td> 
                                                </tr> 
                                            </tbody> 
                                        </table>
                                        
                                        <p style="margin:0.5rem 0 0 0; color:rgba(255,255,255,0.6)">© 2018 byCAL All rights reserved.</p>
                                    </td> 
                                </tr> 
                            </tbody> 
                        </table>
                    </td> 
                </tr> 
            </tbody>
        </table>
        
        </td>
        </tr>
        </tbody>
        </table>
    </div> 
</center>

</body>
</html>
