<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=375, user-scalable=no, target-densitydpi=medium-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- <link rel="shortcut icon" href="/images/favi.ico" type="image/x-icon" /> -->
	<meta name="description" content="octoclumn" />
	<meta name="keyworads" content="octoclumn">
	<meta name="copyright" content="octoclumn"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="x-rim-auto-match" content="none">
	<meta name="theme-color" content="#2a292a">
	<title>octoclumn</title>
	<link rel="stylesheet" type="text/css" href="../../../../../Downloads/m1/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../../../../Downloads/m1/css/main.css">
	<link rel="stylesheet" type="text/css" href="../../../../../Downloads/m1/css/sub.css">
	<script src="../../../../../Downloads/m1/js/jquery-1.9.1.min.js"></script>
	<script src="../../../../../Downloads/m1/js/script.js"></script>
</head>
<style>

</style>
<body style="border: 1px solid #bcb5b9;">
	<div class="mBg"> </div>
	<header class="header user">
		<div class="menu_wrap">
			<div class="menu_left">
				<div class="menuBtn"> </div>
				<div class="search"> </div>
				<div class="chart"> 5,000P</div>
			</div>
			<h1 class="logo"><a href="#top">octocolumn</a></h1>
			<div class="menu_right">
				<div class="login">
					<a href="javascript:vald(0);">Joyce Henry</a>
				</div>
			</div>
		</div><!-- class="menu_wrap" -->
		<div class="sidebar"><!-- class="sidebar" START -->
			<div class="sidebar_contents">
				<div class="sidebar_menu">
					Recent Posts
				</div>
				<div class="sidebar_menu">
					Feed
				</div>
				<div class="sidebar_menu">
					Purchased Posts
				</div>
				<div class="sidebar_menu">
					Bookmarks
				</div>
				<div class="sidebar_menu">
					Brand Page
				</div>
				<div class="sidebar_hr"> </div>
				<div class="sidebar_menu">
					Become a Writer
				</div>
				<div class="sidebar_menu">
					Point Shop
				</div>
				<div class="sidebar_menu">
					Settings
				</div>
				<div class="sidebar_hr"> </div>
				<div class="sidebar_menu">
					Support
				</div>
				<div class="sidebar_menu">
					Terms of Service
				</div>
				<div class="sidebar_menu">
					Privacy Policy
				</div>
				<div class="sidebar_menu">
					Rules
				</div>
				<div class="sidebar_hr"> </div>
				<div class="sidebar_menu" style="margin-bottom:56px;">
					Sign out
				</div>

				<div class="footer_txt" style="margin-bottom: 9px;">
					octocolumn.com<br />
					Copyright octocolumn.com<br />
					All Rights Reserved<br />
					주식회사 옥토칼럼<br />
					대표 오정민<br />
					사업자등록번호 576-52-00020<br />
					통신판매업신고 2016 수원권선 0350<br />
					개인정보관리 책임자 오정민<br />
					경기도 수원시 권선구 정조로 580-9<br />
					연락처 mackenzie@octocolumn.com<br />
					고객센터 070-4809-7166<br />
				</div>
			</div><!-- class="sidebar_contents" -->
		</div> <!-- class="sidebar" END -->
	</header><!-- class="header" -->



	<div class="profile">
		<div class="profile_title">Profile</div>
		<div class="profile_write"></div>
		<div class="profile_content">
			<div class="profile_img">
				<!-- <div class="profileimg_write"></div> -->
			</div>
			<div class="content_title1">Kelly Sullivan</div>
			<div class="content_title2">패션 전문가</div>
			<div class="profile_condition">
				<div class="profile_con_following">
					<div class="following_tit">Following</div>
					<div class="following_num">99</div>
				</div>
				<div class="profile_con_following">
					<div class="following_tit">Follower</div>
					<div class="following_num">4</div>
				</div>
				<div class="profile_con_following" style="margin-right: 18px;">
					<div class="following_tit">Posts</div>
					<div class="following_num">-</div>
				</div>
				<div class="profile_con_icon">
					4,327
				</div>
			</div>
				<div class="profile_introduce">
					<div class="pro_intro_tit">자기소개</div>
					<div class="pro_intro_content">
						In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any one place; for at one and the same time everything has to be done everywhere. It is much the same with him who endeavors the description of the scene. We must now retrace our way a little.
					</div>
					<div class="pro_intro_btn_box">
						<div class="pro_intro_btn"></div>
					</div>
				</div>

				<div class="profile_box">
					<div class="profile_tab1">개인정보</div>
					<div class="profile_tab2">포인트내역</div>
					<div class="profile_tab3">관계</div>
					<div class="profile_tab4">업적</div>
					<div class="profile_tab5">계정정보</div>
					<div class="profile_tab6">내 글</div>
				</div>

				<div class="info1">
					<div class="info1_tit">기본 정보</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">태어난 연도</div>
						<div class="info1_cont_tit2">1975년</div>
						<div class="info1_cont_btn1">공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">생일</div>
						<div class="info1_cont_tit2">9월 30일</div>
						<div class="info1_cont_btn1_1">비공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">성별</div>
						<div class="info1_cont_tit2">여성</div>
						<div class="info1_cont_btn1">공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">나이</div>
						<div class="info1_cont_tit2">42세</div>
						<div class="info1_cont_btn1_1">비공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
				</div>

				<div class="info1">
					<div class="info1_tit">연락처 정보</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">휴대폰</div>
						<div class="info1_cont_tit2">-</div>
						<div class="info1_cont_btn1">공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">지역</div>
						<div class="info1_cont_tit2">-</div>
						<div class="info1_cont_btn1_1">비공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">이메일</div>
						<div class="info1_cont_tit2">sullivan.k@gmail.com`</div>
						<div class="info1_cont_btn1">공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
				</div>

				<div class="info1">
					<div class="info1_tit">개인 정보</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">직업</div>
						<div class="info1_cont_tit2">배우</div>
						<div class="info1_cont_btn1">공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">웹사이트</div>
						<div class="info1_cont_tit2">www.sullivan.com</div>
						<div class="info1_cont_btn1_1">비공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">facebook</div>
						<div class="info1_cont_tit2">www.facebook.com/sullivan</div>
						<div class="info1_cont_btn1">공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">instargram</div>
						<div class="info1_cont_tit2">www.instargram.com/merry.sarah</div>
						<div class="info1_cont_btn1_1">비공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box" style="margin-bottom: 7px;">
						<div class="info1_cont_tit1">twitter</div>
						<div class="info1_cont_tit2">https://twitter.com/mediatikr</div>
						<div class="info1_cont_btn1">공개</div>
						<div class="info1_cont_btn2"></div>
					</div>
					<div class="info1_box">
						<div class="info1_cont_tit1">관심분야</div>
						<div class="info1_input">
							<input type="text" name="no" placeholder="관심분야를 입력해주세요.">
						</div>
						<div class="info1_circle1">3</div>
						<div class="info1_cont_tit2_1">/</div>
						<div class="info1_circle2">5</div>
						<div class="info1_small_box" style="margin-left: 44px;">
							<div class="x_box">X</div>
							<div class="x_tit">아이폰</div>
						</div>
						<div class="info1_small_box">
							<div class="x_box">X</div>
							<div class="x_tit">애플</div>
						</div>
						<div class="info1_small_box">
							<div class="x_box">X</div>
							<div class="x_tit">구글</div>
						</div>
					</div>
				</div>

			</div>
		</div>
</body>
</html>
